<% @form_defaults = {input_html: {autocomplete: :off}} %>
<% @form_defaults[:disabled] = (action_name == "show") || (@message.respond_to?(:current_state) && @message.current_state.meta[:disabled]) %>
<!-- New widget -->
<div class="powerwidget cold-grey" id="mailinbox" data-widget-editbutton="false">
	<div class="inner-spacer">
        <div class="mailinbox">
      		<div class="row">
            	<div class="col-md-1">
              		<div class="left-content">
              			<%= render partial: "left_content" %>
              		</div>
            	</div>
            	<div class="col-md-11">
              		<div class="right-content clearfix">
              			<%= render partial: "top_content" %>
            			
				    	<div class="inbox-new-message">
				      		<div class="page-header">
				        		<h3>
				        			<%= t(:new) if action_name == "new" %> 
				        			<%= Message.model_name.human %>
				        			<%= @message.current_state %>
			        			</h3>
				      		</div>
				      		<%= simple_form_for(@message, defaults: @form_defaults) do |f| %>
						    	<% params[:q].each do |k,v| %>
							        <%= hidden_field_tag "q[#{k}]", v %>
							    <% end unless params[:q].blank? %>
							    <%= hidden_field_tag(:page, params[:page]) unless params[:page].blank? %>
							    <%= hidden_field_tag(:list, params[:list]) unless params[:list].blank? %>
				        		<div class="row">
				          			<div class="form-group col-md-12">
					                    <select multiple id="message_users" name="receivers[]" class="populate form-control" <%= %{disabled} if @form_defaults[:disabled] %> placeholder="TO">
					                    	<% (User.all).sort_by {|u| u.to_s}.each do |user| %>
					                    		<option value="<%= user.id %>" <%= 'selected' if @message.receivers.include?(user) %>><%= user.to_s %></option>
					                    	<% end %>
					                	</select>
					            		<script type="text/javascript">jQuery(function($){ $("#message_users").select2(); })</script>
				          			</div>
				          			<div class="form-group col-md-12">
				            			<input type="text" class="form-control" placeholder="Topic of Message" name="message[topic]" value="<%= @message.topic %>" <%= %{disabled} if @form_defaults[:disabled] %>>
				          			</div>
				          			<div class="form-group col-md-12">
				            			<textarea type="text" class="form-control" placeholder="Message" name="message[body]" <%= %{disabled} if @form_defaults[:disabled] %>><%= @message.body %></textarea>
				          			</div>
				        		</div>
				        		<div class="margin-top">
				        			<% if @message.new_record? %>
					        			
						                <%= f.button :button, value: :sendd, class: "btn #{event_btn_class(:send)} margin-right-10" do %>
						                    <%= event_icon_tag(:send) %>
						                    <%= t("workflow.event.#{:send}") %>
						                <% end %>
						                
						                <%= f.button :button, value: :draft, class: "btn #{event_btn_class(:draft)} margin-right-10" do %>
						                    <%= event_icon_tag(:draft) %>
						                    <%= t("workflow.event.#{:draft}") %>
						                <% end %>
					                
					                <% elsif !@message.new_record? && @message.user_id == current_user.id && @message_receiver.blank? %>

										<% if action_name == "show" %>
										
										    <%= link_to edit_message_url(@message, list: params[:list], q: params[:q]), class: "btn #{event_btn_class(:edit)} margin-right-10" do %>
										        <%= event_icon_tag(:edit) %> 
										        <%= t(:edit) %>
										    <% end if @message.current_state.to_sym == :drafted %>
										    
									    <% elsif action_name == "edit" && @message.current_state.to_sym == :drafted %>
					        			
							                <%= f.button :button, value: :sendd, class: "btn #{event_btn_class(:send)} margin-right-10" do %>
							                    <%= event_icon_tag(:send) %>
							                    <%= t("workflow.event.#{:send}") %>
							                <% end %>
						                
							                <%= f.button :button, value: :draft, class: "btn #{event_btn_class(:draft)} margin-right-10" do %>
							                    <%= event_icon_tag(:draft) %>
							                    <%= t("workflow.event.#{:draft}") %>
							                <% end %>
										    
									    <% end %>
									    
						                <%= f.button :button, value: :terminate, class: "btn #{event_btn_class(:terminate)}" do %>
						                    <%= event_icon_tag(:terminate) %>
						                    <%= t("workflow.event.#{:terminate}") %>
						                <% end if !@message.current_state.meta[:disabled] %>
						                
					                <% end %>
					                
					                <% if @message_receiver %>
						                <%= link_to message_url(@message, button: :trash, list: params[:list], q: params[:q], ocl: @message_receiver.class, oid: @message_receiver.id), {method: :put, class: "btn #{event_btn_class(:trash)} margin-right-10"} do %>
						                    <%= event_icon_tag(:trash) %>
						                    <%= t("workflow.event.#{:trash}") %>
						                <% end if [:seen, :archived].include?(@message_receiver.current_state.to_sym) %>
						                
						                <%= link_to message_url(@message, button: :archive, list: params[:list], q: params[:q], ocl: @message_receiver.class, oid: @message_receiver.id), {method: :put, class: "btn #{event_btn_class(:archive)} margin-right-10"} do %>
						                    <%= event_icon_tag(:archive) %>
						                    <%= t("workflow.event.#{:archive}") %>
						                <% end if [:seen, :trashed].include?(@message_receiver.current_state.to_sym) %>
						                
						                <%= link_to message_url(@message, button: :terminate, list: params[:list], q: params[:q], ocl: @message_receiver.class, oid: @message_receiver.id), {method: :put, class: "btn #{event_btn_class(:terminate)} margin-right-10"} do %>
						                    <%= event_icon_tag(:terminate) %>
						                    <%= t("workflow.event.#{:terminate}") %>
						                <% end if [:trashed].include?(@message_receiver.current_state.to_sym) %>
					                <% end %>
				                </div>
				      		<% end %>
				    	</div>
							
            		</div>
          		</div>
        	</div>
  		</div>
	</div>
</div>
