<!--Sign In Form-->
<ul class="nav navbar-nav navbar-right">
	<li class="dropdown" id="menuLogin"> 
		<% if current_user %>
			<%= link_to dashboards_url, {} do %>
				<i class="fa fa-cogs"></i>
				<%= t(:backend) %>
			<% end %>
		<% elsif false %>
			<a class="dropdown-toggle" href="/orb/frontend/#" data-toggle="dropdown" id="navLogin"> Sign In</a>
			<div class="dropdown-menu">
				<%= simple_form_for(:user, url: session_path(:user), html: {id: "login-form", class: "orb-form"}) do |f| %>
					<fieldset>
						<%= f.input :login, wrapper: :login, required: true, autofocus: true, hint: "<i class='fa fa-user'></i>".html_safe, input_html: {placeholder: "Login"} %>
						<%= f.input :password, wrapper: :login, required: true, hint: "<i class='fa fa-lock'></i>".html_safe, input_html: {placeholder: "Password"} %>
			      		<section>
				            <div class="row">
				              	<div class="col col-xs-12">
				                	<label class="checkbox pull-left">
				                		<input type="checkbox" value="1" name="user[remember_me]" id="user_remember_me">
				                  		<i></i>Keep me logged in
			                  		</label>
				                	<div class="note pull-right">
							        	<%= link_to new_password_path(:user), {"title" => "Forgot your password?"} do %>
							        		Forgot password?
							        	<% end %>
				                	</div>
			                	</div>
			            	</div>
			          	</section>
					</fieldset>
				    <%= f.button :button, class: "btn btn-default" do %>
				    	Sign in
				    <% end %>
	      			<%= link_to new_registration_path(:user), {"title" => "Create new account"} do %>
	      				Register
	      			<% end %>
				<% end %>
			</div>
		<% end %>
	</li>
</ul>
<!--/Sign In Form--> 