<!-- replace 'parent_object' with your parent object name -->
<% 
	f_index = "#{f.index}".to_s
	object_name = "parent_object_evaluations_attributes_#{f_index}".to_sym
	director_select_id = "parent_object_evaluations_attributes_#{f_index}_director_id".to_sym
    vice_director_select_id = "parent_object_evaluations_attributes_#{f_index}_vice_director_id".to_sym
    vice_director2_select_id = "parent_object_evaluations_attributes_#{f_index}_vice_director2_id".to_sym
    vice_director3_select_id = "parent_object_evaluations_attributes_#{f_index}_vice_director3_id".to_sym
	secretary_select_id = "parent_object_evaluations_attributes_#{f_index}_secretary_id".to_sym
%> 
<tr class="nested-fields">
    <td class="text-top">
        <%= f.input :year, wrapper: :nested_form %>
    </td>
    <td class="text-top">
        <%= f.input :episode, wrapper: :nested_form %>
    </td>
    <td class="text-top">
        <%= f.input :pd_start_date, wrapper: :nested_form, as: :date_custom, value: f.object.pd_start_date ? f.object.pd_start_date.strftime("%d/%m/%Y") : "" %>
    </td>
    <td class="text-top">
        <%= f.input :pd_end_date, wrapper: :nested_form, as: :date_custom, value: f.object.pd_end_date ? f.object.pd_end_date.strftime("%d/%m/%Y") : "" %>
    </td>
    <td class="text-top">
        <%= f.input :pf_start_date, wrapper: :nested_form, as: :date_custom, value: f.object.pf_start_date ? f.object.pf_start_date.strftime("%d/%m/%Y") : "" %>
    </td>
    <td class="text-top">
        <%= f.input :pf_end_date, wrapper: :nested_form, as: :date_custom, value: f.object.pf_end_date ? f.object.pf_end_date.strftime("%d/%m/%Y") : "" %>
    </td>
    <td class="text-top">
        <%= f.input :confirm_start_date, wrapper: :nested_form, as: :date_custom, value: f.object.confirm_start_date ? f.object.confirm_start_date.strftime("%d/%m/%Y") : "" %>
    </td>
    <td class="text-top">
        <%= f.input :confirm_end_date, wrapper: :nested_form, as: :date_custom, value: f.object.confirm_end_date ? f.object.confirm_end_date.strftime("%d/%m/%Y") : "" %>
    </td>
    <td class="text-top">
        <%= f.input :evaluation_start_date, wrapper: :nested_form, as: :date_custom, value: f.object.evaluation_start_date ? f.object.evaluation_start_date.strftime("%d/%m/%Y") : "" %>
    </td>
    <td class="text-top">
        <%= f.input :evaluation_end_date, wrapper: :nested_form, as: :date_custom, value: f.object.evaluation_end_date ? f.object.evaluation_end_date.strftime("%d/%m/%Y") : "" %>
    </td>
    <td class="text-top">
        <%= f.association :director, wrapper: :nested_form, collection: (Director.all + (f.object.director.nil? ? [] : [f.object.director])).uniq.sort_by {|asso| asso.to_s}, value_method: :id, label_method: :to_s, input_html: {data: {placeholder: t(:choose)}} %>
        <%= render partial: "/directors/chosen_select", locals: {object_name: :evaluation, no_create: true, select_id: director_select_id} %>
    </td>
    <td class="text-top">
        <%= f.association :vice_director, wrapper: :nested_form, collection: (ViceDirector.all + (f.object.vice_director.nil? ? [] : [f.object.vice_director])).uniq.sort_by {|asso| asso.to_s}, value_method: :id, label_method: :to_s, input_html: {data: {placeholder: t(:choose)}} %>
        <%= render partial: "/vice_directors/chosen_select", locals: {object_name: :evaluation, no_create: true, select_id: vice_director_select_id} %>
    </td>
    <td class="text-top">
        <%= f.association :vice_director2, wrapper: :nested_form, collection: (ViceDirector2.all + (f.object.vice_director2.nil? ? [] : [f.object.vice_director2])).uniq.sort_by {|asso| asso.to_s}, value_method: :id, label_method: :to_s, input_html: {data: {placeholder: t(:choose)}} %>
        <%= render partial: "/vice_directors/chosen_select", locals: {object_name: :evaluation, no_create: true, select_id: vice_director2_select_id} %>
    </td>
    <td class="text-top">
        <%= f.association :vice_director3, wrapper: :nested_form, collection: (ViceDirector3.all + (f.object.vice_director3.nil? ? [] : [f.object.vice_director3])).uniq.sort_by {|asso| asso.to_s}, value_method: :id, label_method: :to_s, input_html: {data: {placeholder: t(:choose)}} %>
        <%= render partial: "/vice_directors/chosen_select", locals: {object_name: :evaluation, no_create: true, select_id: vice_director3_select_id} %>
    </td>
    <td class="text-top">
        <%= f.association :secretary, wrapper: :nested_form, collection: (Secretary.all + (f.object.secretary.nil? ? [] : [f.object.secretary])).uniq.sort_by {|asso| asso.to_s}, value_method: :id, label_method: :to_s, input_html: {data: {placeholder: t(:choose)}} %>
        <%= render partial: "/secretaries/chosen_select", locals: {object_name: :evaluation, no_create: true, select_id: secretary_select_id} %>
    </td>
    <% unless action_name == "show" %>
        <td class="text-top">
            <%= link_to_remove_association f, class: "btn btn-sm btn-danger" do %>
               <i class='fa fa-trash-o'></i>
            <% end %>
			<script type="text/javascript">$(document).ready( function() { jQuery(function($){ $("#parent_object_evaluations_attributes_<%= f.index %>_director").chosen({width: "100%"}); }); });</script>
			<script type="text/javascript">$(document).ready( function() { jQuery(function($){ $("#parent_object_evaluations_attributes_<%= f.index %>_vice_director").chosen({width: "100%"}); }); });</script>
            <script type="text/javascript">$(document).ready( function() { jQuery(function($){ $("#parent_object_evaluations_attributes_<%= f.index %>_vice_director2").chosen({width: "100%"}); }); });</script>
            <script type="text/javascript">$(document).ready( function() { jQuery(function($){ $("#parent_object_evaluations_attributes_<%= f.index %>_vice_director3").chosen({width: "100%"}); }); });</script>
			<script type="text/javascript">$(document).ready( function() { jQuery(function($){ $("#parent_object_evaluations_attributes_<%= f.index %>_secretary").chosen({width: "100%"}); }); });</script>
        </td>
    <% end %>
</tr>