<% @form_defaults = {input_html: {autocomplete: :off}} %>
<% @form_defaults[:disabled] = (action_name == "show") || (@job_plan_result.respond_to?(:current_state) && @job_plan_result.current_state.meta[:disabled]) %>
<div data-widget-editbutton="false" id="power-forms-grid" class="powerwidget cold-grey" role="widget">
	<div class="inner-spacer" role="content">

		<%= simple_form_for(["jobs", @job_plan_result], html: {class: 'form-horizontal'}, defaults: @form_defaults) do |f| %>
	    	<% params[:q].each do |k,v| %>
		        <%= hidden_field_tag "q[#{k}]", v %>
		    <% end unless params[:q].blank? %>
		    <%= hidden_field_tag(:page, params[:page]) unless params[:page].blank? %>
		    
	        <%= render partial: "/form_actions_top", locals: {
	            resource_class: JobPlanResult, resource: @job_plan_result, f: f,
	            resources_url: jobs_job_plan_results_path(q: params[:q], page: params[:page]),
	            resource_url: @job_plan_result.new_record? ? nil : jobs_job_plan_result_path(@job_plan_result, q: params[:q], page: params[:page]),
	            edit_resource_url: @job_plan_result.new_record? ? nil : edit_jobs_job_plan_result_path(@job_plan_result, q: params[:q], page: params[:page])
	        } unless params[:modal] %>

		  	<fieldset>

		        <%= f.association :user, collection: (User.all + (f.object.user.nil? ? [] : [f.object.user])).uniq.sort_by {|asso| asso.to_s}, value_method: :id, label_method: :to_s, input_html: {data: {placeholder: t(:choose)}} %>
		        <%= render partial: "/users/chosen_select", locals: {object_name: :job_plan_result, no_create: true} %>
		        <%= f.association :evaluation, collection: (Evaluation.all + (f.object.evaluation.nil? ? [] : [f.object.evaluation])).uniq.sort_by {|asso| asso.to_s}, value_method: :id, label_method: :to_s, input_html: {data: {placeholder: t(:choose)}} %>
		        <%= render partial: "/evaluations/chosen_select", locals: {object_name: :job_plan_result, no_create: true} %>
		        <%= f.association :job_plan, collection: (JobPlan.all + (f.object.job_plan.nil? ? [] : [f.object.job_plan])).uniq.sort_by {|asso| asso.to_s}, value_method: :id, label_method: :to_s, input_html: {data: {placeholder: t(:choose)}} %>
		        <%= render partial: "/job_plans/chosen_select", locals: {object_name: :job_plan_result, no_create: true} %>
		        <%= f.association :job_result_template, collection: (JobResultTemplate.all + (f.object.job_result_template.nil? ? [] : [f.object.job_result_template])).uniq.sort_by {|asso| asso.to_s}, value_method: :id, label_method: :to_s, input_html: {data: {placeholder: t(:choose)}} %>
		        <%= render partial: "/job_result_templates/chosen_select", locals: {object_name: :job_plan_result, no_create: true} %>
	        	<%= f.input :name %>
	        	<%= f.input :duration %>
	        	<%= f.input :expect_qty %>
	        	<%= f.input :qty %>
	        	<%= f.input :unit %>
				<%= f.input :description %>
		        <%= f.association :approver, collection: (Approver.all + (f.object.approver.nil? ? [] : [f.object.approver])).uniq.sort_by {|asso| asso.to_s}, value_method: :id, label_method: :to_s, input_html: {data: {placeholder: t(:choose)}} %>
		        <%= render partial: "/approvers/chosen_select", locals: {object_name: :job_plan_result, no_create: true} %>
	            
		  		<div class="col-md-6 col-md-offset-4">
			        <%= render partial: "/form_actions_bottom", locals: {
			            resource_class: JobPlanResult, resource: @job_plan_result, f: f,
			            resources_url: jobs_job_plan_results_path(q: params[:q], page: params[:page]),
			            resource_url: @job_plan_result.new_record? ? nil : jobs_job_plan_result_path(@job_plan_result, q: params[:q], page: params[:page]),
			            edit_resource_url: @job_plan_result.new_record? ? nil : edit_jobs_job_plan_result_path(@job_plan_result, q: params[:q], page: params[:page])
			        } %>
		        </div>
		  	</fieldset>
		<% end %>
  	</div>
</div>		
