<% @form_defaults = {input_html: {autocomplete: :off}} %>
<% @form_defaults[:disabled] = (action_name == "show") || (@kku_strategic.respond_to?(:current_state) && @kku_strategic.current_state.meta[:disabled]) %>
<div data-widget-editbutton="false" id="power-forms-grid" class="powerwidget cold-grey" role="widget">
	<div class="inner-spacer" role="content">

		<%= simple_form_for(["settings", @kku_strategic], html: {class: 'form-horizontal'}, defaults: @form_defaults) do |f| %>
	    	<% params[:q].each do |k,v| %>
		        <%= hidden_field_tag "q[#{k}]", v %>
		    <% end unless params[:q].blank? %>
		    <%= hidden_field_tag(:page, params[:page]) unless params[:page].blank? %>
		    
	        <%= render partial: "/form_actions_top", locals: {
	            resource_class: KkuStrategic, resource: @kku_strategic, f: f,
	            resources_url: settings_kku_strategics_path(q: params[:q], page: params[:page]),
	            resource_url: @kku_strategic.new_record? ? nil : settings_kku_strategic_path(@kku_strategic, q: params[:q], page: params[:page]),
	            edit_resource_url: @kku_strategic.new_record? ? nil : edit_settings_kku_strategic_path(@kku_strategic, q: params[:q], page: params[:page])
	        } unless params[:modal] %>

		  	<fieldset>

		        <%= f.association :kku_strategic_pillar, collection: (KkuStrategicPillar.all + (f.object.kku_strategic_pillar.nil? ? [] : [f.object.kku_strategic_pillar])).uniq.sort_by {|asso| asso.to_s}, value_method: :id, label_method: :to_s, input_html: {data: {placeholder: t(:choose)}} %>
		        <%= render partial: "/settings/kku_strategic_pillars/chosen_select", locals: {object_name: :kku_strategic, no_create: true} %>
	        	<%= f.input :no %>
	        	<%= f.input :name %>
	            
		  		<div class="col-md-6 col-md-offset-4">
			        <%= render partial: "/form_actions_bottom", locals: {
			            resource_class: KkuStrategic, resource: @kku_strategic, f: f,
			            resources_url: settings_kku_strategics_path(q: params[:q], page: params[:page]),
			            resource_url: @kku_strategic.new_record? ? nil : settings_kku_strategic_path(@kku_strategic, q: params[:q], page: params[:page]),
			            edit_resource_url: @kku_strategic.new_record? ? nil : edit_settings_kku_strategic_path(@kku_strategic, q: params[:q], page: params[:page])
			        } %>
		        </div>
		  	</fieldset>
		<% end %>
  	</div>
</div>		
