<div class="page-header">
	<h1><%= Project.model_name.human %><small><%= action_name %></small></h1>
</div>
			      
<!-- Widget Row Start grid -->
<div class="row" id="powerwidgets">
	<div class="col-md-12 bootstrap-grid">
		<div data-widget-editbutton="false" id="power-forms-grid" class="powerwidget cold-grey" role="widget">
      		<div class="inner-spacer" role="content">
				<%= link_to new_project_url(year: params[:q][:year_eq]), {class: "btn btn-success"} do %>
					<i class="fa fa-plus"></i> <%= t(:new) %>
				<% end if can?(:create, Project) %>
				
                <%= search_form_for @q, url: projects_url, id: 'quick-search', class: "form-horizontal pull-right no-padding col-sm-9 col-md-6 col-lg-4 #{'hide' if params[:advance]}" do |f| %>
	          		<div class="input-group">
						<div class="input-group">
							<div class="input-group-addon">ปีงบประมาณ</div>
							<%= f.select :year_eq, (2010..(Date.current.year + 3)).collect {|y| [y + 543, y]}.reverse, {include_blank: t(:all)}, {class: "form-control"}  %>
						</div>
						<%= f.text_field :code_or_name_cont, :autofocus => true, class: "form-control", placeholder: "#{t(:search)} ..." %>
						<span class="input-group-addon btn" onclick="$('#quick-search').submit();"><i class="fa fa-search"></i></span>
						<span class="input-group-addon btn btn-primary" id="advanced-visibled-visibled"><%= t(:advanced) %></span>
                    </div>
                    <%= f.select :workflow_state_in, Project.workflow_spec.states.keys.map{|k| [(t "workflow.state.#{k}"), k]}, {selected: Project.active_states}, {multiple: true, class: 'hide', id: :quick_q_workflow_state_in} %>
                <% end %>
                
                <%= search_form_for @q, url: projects_url, builder: SimpleForm::FormBuilder, id: 'advanced-search', html: {novalidate: true, class: "form-horizontal margin-top-5 #{'hide' unless params[:advance]}"} do |f| %>
                	<div class="panel panel-primary">
              			<div class="panel-heading">
                			<div class="panel-title pull-left"><%= t(:search) %><small><%= t(:advanced) %></small></div>
                			<div class="pull-right"> 
                				<span class="btn btn-xs" id="advanced-hidden-visibled"><i class="fa fa-times"></i></span>
            				</div>
                			<div class="clearfix"></div>
              			</div>
              			<div class="panel-body">
						  	<fieldset>
						  		
								<%= f.input :year_eq, collection: (2010..(Date.current.year + 3)).collect {|y| [y + 543, y]}.reverse, required: false, label: "ปีงบประมาณ", input_html: {class: "form-control chosen-select", data: {placeholder: t(:all)}} %>
								<%= f.input :code_cont, required: false, label: Project.human_attribute_name(:code) %>
								<%= f.input :name_cont, required: false, label: Project.human_attribute_name(:name) %>
		    					<%= f.input :project_id_eq, collection: Project.all.uniq.sort_by {|asso| asso.to_s}, value_method: :id, label_method: :to_s, required: false, label: Project.human_attribute_name(:project), input_html: {class: "form-control chosen-select", data: {placeholder: t(:all)}} %>
								<%= f.input :policy_id_eq, collection: Policy.all.uniq.sort_by {|asso| asso.to_s}, value_method: :id, label_method: :to_s, required: false, label: Project.human_attribute_name(:policy), input_html: {class: "form-control chosen-select", data: {placeholder: t(:all)}} %>
								
		                        <div class="form-group">
		                        	<label class="control-label col-md-4">
		                        		<%= Project.human_attribute_name(:workflow_state) %>
		                    		</label>
		                    		<div class="col-md-6">
				                        <%= f.select :workflow_state_in, Project.workflow_spec.states.keys.map{|k| [(t "workflow.state.#{k}"), k]}, {}, {multiple: true, "data-placeholder" => Project.human_attribute_name(:workflow_state), class: 'form-control'} %>
		                        		<script type="text/javascript">jQuery(function($){ $("#q_workflow_state_in").select2({width: "100%"}); })</script>
		                			</div>
		            			</div>
								
								<% if false %>
		                            <%= f.association :creator_id_in, User.limit(100).collect{|r| [r.to_s, r.id]}, {include_blank: true}, {multiple: true, "data-placeholder" => Project.human_attribute_name(:created_by)} %>
		                            <%= render partial: "/admin/users/chosen_select", locals: {object_name: :q, select_id: :q_creator_id_in, width: "178px", no_create: true} %>
		                            <%= f.input :created_at_gteq, class: "date_custom optional date_picker", "data-date-format" => "dd/mm/yyyy", placeholder: "#{Project.human_attribute_name(:created_at)} #{t(:from_date)}", value: (params[:q][:created_at_gteq] rescue "") %>
		                            <%= f.input :created_at_lteq, class: "date_custom optional date_picker", "data-date-format" => "dd/mm/yyyy", placeholder:"#{Project.human_attribute_name(:created_at)} #{t(:to_date)}", value: (params[:q][:created_at_lteq] rescue "") %>
		                            <%= f.association :updater_id_in, User.limit(100).collect{|r| [r.to_s, r.id]}, {include_blank: true}, {multiple: true, "data-placeholder" => Project.human_attribute_name(:updated_by)} %>
		                            <%= render partial: "/admin/users/chosen_select", locals: {object_name: :q, select_id: :q_updater_id_in, width: "178px", no_create: true} %>
		                            <%= f.input :updated_at_gteq, class: "date_custom optional date_picker", "data-date-format" => "dd/mm/yyyy", placeholder: "#{Project.human_attribute_name(:updated_at)} #{t(:from_date)}", value: (params[:q][:updated_gteq] rescue "") %>
		                            <%= f.input :updated_at_lteq, class: "date_custom optional date_picker", "data-date-format" => "dd/mm/yyyy", placeholder:"#{Project.human_attribute_name(:updated_at)} #{t(:to_date)}", value: (params[:q][:updated_lteq] rescue "") %>
								<% end %>

								<div class="col-md-6 col-md-offset-4">
								    <%= f.button :button, class: "btn #{event_btn_class(:search)} margin-right-10" do %>
								        <%= event_icon_tag(:search) %>
								        <%= t(:search) %>
								    <% end %>
	                            	<%= hidden_field_tag "advance", true %>
							    </div>
						  	</fieldset>
						</div>
					</div>
                <% end %>
                <div class="clearfix"></div>
            	<legend></legend>
  				<table class="table table-hover margin-0px">
                  	<thead>
                    	<tr>
                      		<th class="tools text-top"></th>
                            <th style="width:40px;"><%= sort_link @q, :year, Project.human_attribute_name(:year_short) %></th>
                            <th style="width:80px;"><%= sort_link @q, :code %></th>
                            <th><%= sort_link @q, :name %></th>
                            <th><%= sort_link @q, :budget_group, Project.human_attribute_name(:budget_group) %></th>
                            <th class="text-right" style="width:100px;"><%= sort_link @q, :budget_amount, Project.human_attribute_name(:total_budget) %></th>
                            <th class="text-right" style="width:100px;"><%= Project.human_attribute_name(:total_expense) %></th>
                            <th class="text-right" style="width:100px;"><%= Project.human_attribute_name(:balance) %></th>
                            <th style="width:80px;"><%= Project.human_attribute_name(:percent_of_expense) %></th>
                            <th style="width:100px;"><%= Project.human_attribute_name(:responsibles) %></th>
                            <th style="width:50px;"><%= sort_link @q, :workflow_state %></th>
                            <th style="width:50px;"><%= sort_link @q, :is_started %></th>
                    	</tr>
                  	</thead>
                  	<tbody>
        				<% @projects.each do |project| %>
                    		<tr id="project_<%= project.id %>" style="<%= "background-color:#CED8F6;" if project.level == 0 %>">
	                      		<td class="tools text-top" class="text-top">
								    <%= render partial: "/index_row_actions", locals: {
								        resource_class: Project, resource: project,
								        resources_url: projects_url(q: params[:q], page: params[:page]),
								        resource_url: project_url(project, q: params[:q], page: params[:page]),
								        edit_resource_url: edit_project_url(project, q: params[:q], page: params[:page])
								    } %>
                      			</td>
								<td class="text-top"><%= project.year + 543 %></td>
								<td class="text-top"><%= project.code %></td>
								<td class="text-top"><%= "-----" * project.level %> <%= project.name %></td>
								<td class="text-top"><%= project.budget_group ? project.budget_group.short_name : "-" %></td>
								<td class="text-right text-top" title="<%= project.budget_group.to_s %>"><%= project.budget_amount.to_s_decimal_comma %></td>
								<td class="text-right text-top"><%= project.total_expense_with_children.to_s_decimal_comma %></td>
								<td class="text-right text-top"><%= project.balance_with_children.to_s_decimal_comma %></td>
								<td class="text-top"><span class="table-sparkline-pie2"><%= [project.total_expense_with_children.to_s_decimal, project.balance_with_children.to_s_decimal].join(',') %></span></td>
								<td nowrap class="text-top">
									<%= project.responsibles.collect {|responsible| responsible.to_s_short}.join("<br/>").html_safe %>
								</td>
								<td nowrap class="text-top"><span class="label <%= state_label_class(project.workflow_state.to_sym) %>"><%=t "workflow.state.#{project.workflow_state}" %></span></td>
								<td class="text-center text-top" id="project_is_start_<%= project.id %>">
									<%= render partial: "/projects/is_started", locals: {project: project} %>
								</td>
	                    	</tr>
                    	<% end %>
                  	</tbody>
                </table>
                <%= will_paginate @projects %>
            	<div class="clearfix"></div>
            	<%= page_entries_info @projects %>
          	</div>
        </div>		
	</div>
</div>
<!-- /Widgets Row End Grid-->

<script>     
    $('#advanced-visibled-visibled').on('click' , function(){
        $('#quick-search').addClass('hide');
        $('#advanced-search').removeClass('hide');
    });    
    $('#advanced-hidden-visibled').on('click' , function(){
        $('#quick-search').removeClass('hide');
        $('#advanced-search').addClass('hide');
    });
</script>
