<% @form_defaults = {input_html: {autocomplete: :off}} %>
<% @form_defaults[:disabled] = (action_name == "show") || (@edpex_kku.respond_to?(:current_state) && @edpex_kku.current_state.meta[:disabled]) %>
<div data-widget-editbutton="false" id="power-forms-grid" class="powerwidget cold-grey" role="widget">
	<div class="inner-spacer" role="content">

		<%= simple_form_for(@edpex_kku, html: {class: 'form-horizontal'}, defaults: @form_defaults) do |f| %>
	    	<% params[:q].each do |k,v| %>
		        <%= hidden_field_tag "q[#{k}]", v %>
		    <% end unless params[:q].blank? %>
		    <%= hidden_field_tag(:page, params[:page]) unless params[:page].blank? %>
		    
	        <%= render partial: "/form_actions_top", locals: {
	            resource_class: EdpexKku, resource: @edpex_kku, f: f,
	            resources_url: edpex_kkus_path(q: params[:q], page: params[:page]),
	            resource_url: @edpex_kku.new_record? ? nil : edpex_kku_path(@edpex_kku, q: params[:q], page: params[:page]),
	            edit_resource_url: @edpex_kku.new_record? ? nil : edit_edpex_kku_path(@edpex_kku, q: params[:q], page: params[:page])
	        } unless params[:modal] %>

		  	<fieldset>

	        	<%= f.input :year, collection: (2010..(Date.current.year + 3)).collect {|y| [y + 543, y]}.reverse, input_html: {class: "form-control chosen-select", data: {placeholder: t(:choose)}} %>
		        <%= f.association :edpex_kku_group, collection: (EdpexKkuGroup.all + (f.object.edpex_kku_group.nil? ? [] : [f.object.edpex_kku_group])).uniq.sort_by {|asso| asso.to_s}, value_method: :id, label_method: :to_s, input_html: {data: {placeholder: t(:choose)}} %>
		        <%= render partial: "/edpex_kku_groups/chosen_select", locals: {object_name: :edpex_kku, no_create: true} %>
	        	<%= f.input :no %>
				<%= f.input :name %>
				<%= f.input :description %>
				
				<%= render partial: "/edpex_kku_items/nested_form", locals: {f: f}%>
	            
		  		<div class="col-md-6 col-md-offset-4">
			        <%= render partial: "/form_actions_bottom", locals: {
			            resource_class: EdpexKku, resource: @edpex_kku, f: f,
			            resources_url: edpex_kkus_path(q: params[:q], page: params[:page]),
			            resource_url: @edpex_kku.new_record? ? nil : edpex_kku_path(@edpex_kku, q: params[:q], page: params[:page]),
			            edit_resource_url: @edpex_kku.new_record? ? nil : edit_edpex_kku_path(@edpex_kku, q: params[:q], page: params[:page])
			        } %>
		        </div>
		  	</fieldset>
		<% end %>
  	</div>
</div>		
