<tr id="job-development-row-<%= job_development.id %>">
	<td id="job-development-name-<%= job_development.id %>" class="h4">
		<b>
			<% job_development.name.split("\n").each do |jn| %>
				<%= jn %><br/>
			<% end %>
		</b>
	</td>
	<td nowrap class="h4 text-top text-right"><%= JobDevelopment.human_attribute_name(:expect) %> <b><%= job_development.expect %></b></td>
	<td nowrap class="h4 text-top text-right"><%= JobDevelopment.human_attribute_name(:weight_short) %> <b><%= job_development.weight.to_s_decimal_comma %></b></td>
	<td nowrap class="h4 text-top text-right" style="width:130px;"><%= JobDevelopment.human_attribute_name(:self_point) %></td>
	<td nowrap class="h4 text-top text-right" style="width:90px;">
		<%= select "xjob_development_#{job_development.id}", :self_point, [1, 2, 3, 4, 5].reverse, {include_blank: "-", selected: job_development.self_point}, {class: "form-control", style: "width:60px;"} %>
		<script type="text/javascript">
		 	jQuery(function($) {
			 	
			    $('#xjob_development_<%= job_development.id %>_self_point').change(function () {
			 		$.ajax({
		            	url: '<%= update_job_development_self_point_pfs_url %>',
		    			type: 'post',
		    			data: {
	    					job_development_id: <%= job_development.id %>, 
					      	self_point: $('#xjob_development_<%= job_development.id %>_self_point').val()
				      	},
		                dataType: 'script'
		            });
			    });
		        
			 });
		 </script>
	</td>
</tr>
<tr id="job-development-results-row-<%= job_development.id %>">
	<td colspan="5" class="padding-left-20">
		<%= render partial: "list_job_development_result", locals: {job_development: job_development} %>
	</td>
</tr>
