<tr id="job-vice-row-<%= job_vice.id %>">
	<td id="job-vice-name-<%= job_vice.id %>" class="h4">
		<b>
			<% job_vice.name.split("\n").each do |jn| %>
				<%= jn %><br/>
			<% end %>
		</b>
	</td>
	<td nowrap class="h4 text-top text-right"><%= JobVice.human_attribute_name(:expect) %> <b><%= job_vice.expect %></b></td>
	<td nowrap class="h4 text-top text-right"><%= JobVice.human_attribute_name(:weight_short) %> <b><%= job_vice.weight.to_s_decimal_comma %></b></td>
	<td nowrap class="h4 text-top text-right" style="width:130px;"><%= JobVice.human_attribute_name(:self_point) %></td>
	<td nowrap class="h4 text-top text-right" style="width:90px;">
		<%= select "xjob_vice_#{job_vice.id}", :self_point, [1, 2, 3, 4, 5].reverse, {include_blank: "-", selected: job_vice.self_point}, {class: "form-control", style: "width:60px;"} %>
		<script type="text/javascript">
		 	jQuery(function($) {
			 	
			    $('#xjob_vice_<%= job_vice.id %>_self_point').change(function () {
			 		$.ajax({
		            	url: '<%= update_job_vice_self_point_pfs_url %>',
		    			type: 'post',
		    			data: {
		    				job_vice_id: <%= job_vice.id %>, 
					      	self_point: $('#xjob_vice_<%= job_vice.id %>_self_point').val()
				      	},
		                dataType: 'script'
		            });
			    });
		        
			 });
		 </script>
	</td>
</tr>
<tr id="job-vice-results-row-<%= job_vice.id %>">
	<td colspan="5" class="padding-left-20">
		<%= render partial: "list_job_vice_result", locals: {job_vice: job_vice} %>
	</td>
</tr>
