<div class="title">
	แบบรายงานผลการปฏิบัติงานและแบบประเมินตนเองสำหรับพนักงานมหาวิทยาลัยและลูกจ้างของมหาวิทยาลัย สังกัดมหาวิทยาลัยขอนแก่น (องค์ประกอบที่ 3)<br/>
	ตามข้อตกลงการประเมินผลสัมฤทธิ์ของงานและข้อตกลงการประเมินพฤติกรรมการปฏิบัติงาน <br/>
	รอบการประเมิน ตั้งแต่วันที่ <%= @evaluation.start_date.to_s_thai({year_label: true}) %>  ถึง  วันที่  <%= @evaluation.end_date.to_s_thai({year_label: true}) %>
</div>
<div class="text-center">
	<b>ชื่อผู้รับการประเมิน</b>  ..........<%= @user ? @user.prefix_firstname_lastname : "-" %>..........
	<b>ตำแหน่ง</b>   ..........<%= @user ? @user.position : "-" %>..........
	<b>สังกัด</b> ..........สำนักบริหารและพัฒนาวิชาการ..........
	<br/>
	<b>ชื่อผู้บังคับบัญชา/ผู้ประเมิน</b>  ..........<%= @evaluation.director ? @evaluation.director.prefix_firstname_lastname : "........................................" %>..........
	<b>ตำแหน่ง/ระดับ</b> ..........<%= @evaluation.director ? @evaluation.director.position : "........................................" %>..........
</div>
<div class="clearfix margin-bottom-20"></div>

<h3>1. ผลสัมฤทธิ์ของงาน</h3>
<table cellpadding="0" cellspacing="0">
	<thead>
		<tr>
			<th rowspan="2">กิจกรรม / โครงการ / งาน</th>
			<th rowspan="2" style="width:275px;">ตัวชี้วัด / เกณฑ์การประเมิน</th>
			<th rowspan="2" style="width:160px;">รายงานผลการปฏิบัติงาน<br/>ตามตัวชี้วัด/เกณฑ์การประเมิน</th>
			<th rowspan="2" style="width:150px;">หลักฐานที่แสดงถึง<br/>ผลการปฏิบัติงาน<br/>ตามเกณฑ์การประเมิน<br/>(หลักฐานเชิงประจักษ์)</th>
			<th colspan="5">ระดับ<br/>การประเมินตนเอง<br/>(ค่าคะแนนที่ได้)</th>
		</tr>
		<tr>
			<th class="text-center" style="width:20px;">1</th>
			<th class="text-center" style="width:20px;">2</th>
			<th class="text-center" style="width:20px;">3</th>
			<th class="text-center" style="width:20px;">4</th>
			<th class="text-center" style="width:20px;">5</th>
		</tr>
	</thead>
  	<tbody>
		<% Task::GROUPS.each_index do |index| %>
			<% 
				task_group = Task::GROUPS[index]
				task = Task.where(["sorting = ?", task_group.sorting]).first
				employee_type_task = EmployeeTypeTask.where(["employee_type_task_groups.employee_type_id = ? AND employee_type_tasks.task_id = ?", @user.employee_type_id, task.id]).joins("JOIN employee_type_task_groups ON employee_type_task_groups.id = employee_type_tasks.employee_type_task_group_id").first
				employee_type_task = EmployeeTypeTask.new if employee_type_task.nil?
				jobs = task_group.klass.where(["evaluation_id = ? AND user_id = ? AND workflow_state IN (?)", @evaluation.id, @user.id, [:enabled, :confirmed]]).sort_by {|jj| [jj.created_at]} 
			%>
			<tr class="text-bold">
				<td class="text-top"><%= index + 1 %>. <%= task.name %> (ร้อยละ <%= employee_type_task.weight.to_s_decimal_comma %>)</td>
				<td class="text-top"></td>
				<td class="text-center text-top"></td>
				<td class="text-center text-top"></td>
				<td class="text-center text-top"></td>
				<td class="text-center text-top"></td>
				<td class="text-center text-top"></td>
				<td class="text-center text-top"></td>
				<td class="text-center text-top"></td>
			</tr>
  			<% count = 0 %>
			<% jobs.each do |job| %>
        		<tr>
        			<td class="text-top padding-left-20">
        				<%= index + 1 %>.<%= count += 1 %>
						<% job.name.split("\n").each do |jn| %>
							<%= jn %><br/>
						<% end %>
    				</td>
					<td class="text-top">
						<%= Task.human_attribute_name(:principle) %>
						<ul class="no-margin padding-left-15" style="list-style:none;">
							<li><%= Task.human_attribute_name(:principle1) %> <%= task.principle1 %></li>
							<li><%= Task.human_attribute_name(:principle2) %> <%= task.principle2 %></li>
							<li><%= Task.human_attribute_name(:principle3) %> <%= task.principle3 %></li>
							<li><%= Task.human_attribute_name(:principle4) %> <%= task.principle4 %></li>
							<li><%= Task.human_attribute_name(:principle5) %> <%= task.principle5 %></li>
						</ul>
					</td>
					<td class="text-top">
						<ul class="no-margin padding-left-15">
							<% job.job_results.each do |job_result| %>
								<li><%= job_result.name %></li>
							<% end %>
						</ul>
					</td>
					<td class="text-top">
						<ul class="no-margin padding-left-15">
							<% job.job_results.each do |job_result| %>
								<% job_result.job_result_files.each do |job_result_file| %>
									<li>
										<% if job_result_file.file.present? %>
											<%= link_to job_result_file.file.url, {id: "job-routine-result-file-#{job_result_file.id}", target: "_blank"} do %>
												<%= job_result_file.description.to_s.gsub("\r\n", "<br/>").html_safe %>
											<% end %>
											<i class="fa fa-paperclip"></i>
										<% else %>
											<%= job_result_file.description.to_s.gsub("\r\n", "<br/>").html_safe %>
										<% end %>
									</li>
								<% end %>
							<% end %>
						</ul>
					</td>
					<td class="text-center text-top"><%= job.self_point.to_i == 1 ? "&#10003;".html_safe : "" %></td>
					<td class="text-center text-top"><%= job.self_point.to_i == 2 ? "&#10003;".html_safe : "" %></td>
					<td class="text-center text-top"><%= job.self_point.to_i == 3 ? "&#10003;".html_safe : "" %></td>
					<td class="text-center text-top"><%= job.self_point.to_i == 4 ? "&#10003;".html_safe : "" %></td>
					<td class="text-center text-top"><%= job.self_point.to_i == 5 ? "&#10003;".html_safe : "" %></td>
            	</tr>
    		<% end %>
    	<% end %>
  	</tbody>
</table>

<h3>2. พฤติกรรมการปฏิบัติงาน</h3>

<% if @user.position %>
	<% jjj = 0 %>
	<% position_capacity_group_labels = ["ก", "ข"] %>
	<% @user.position.position_capacity_groups.each_index do |i| %>
		<% position_capacity_group = @user.position.position_capacity_groups[i] %>
		<div class="pull-left" style="width:50%;">
			<table cellpadding="0" cellspacing="0" align="center" style="width:450px;">
				<thead>
					<tr>
						<th class="text-center"><%= position_capacity_group_labels[i] %>.<br/><%= position_capacity_group.name %><br/>(สำหรับบุคลากรทุกคน)</th>
						<th class="text-center" style="width:60px;">(<%= jjj += 1 %>)<br/>ระดับ<br/>สมรรถนะ<br/>ที่คาดหวัง</th>
						<th class="text-center" style="width:60px;">(<%= jjj += 1 %>)</br/>ระดับ<br/>สมรรถนะ</br/>ที่แสดงออก<br/></th>
					</tr>
				</thead>
			  	<tbody>
		  			<% position_capacity_group.position_capacities.each do |position_capacity| %>
				  		<tr>
				  			<td class="text-top">
				  				<%= position_capacity_group_labels[i] %>. 
				  				<%= position_capacity.sorting %>
				  				<%= position_capacity.capacity %>
				  			</td>
				  			<td class="text-top text-center"><%= position_capacity.expect.to_i %></td>
				  			<td class="text-top text-center"></td>
				  		</tr>
			  		<% end %>
		  		</tbody>
			</table>
		</div>
	<% end %>
<% end %>
<div class="clearfix margin-bottom-20"></div>
<table cellpadding="0" cellspacing="0">
  	<tbody>
    	<tr>
    		<td colspan="10">
				ผู้รับการประเมินได้รายงานผลการปฏิบัติงาน และผู้ประเมินได้รับรายงานผลการปฏิบัติงานเรียบร้อยแล้ว จึงลงลายมือชื่อไว้เป็นหลักฐาน
    			<div class="clearfix"></div>
    			<div class="signature pull-left text-center">
    				<br/>
    				ลายมือชื่อ  <%= image_tag "/files/missing/signature_blank.png", style: "margin-bottom:-20px;", alt: "" %> (ผู้รับการประเมิน)<br/>
    				(<%= @user ? @user.prefix_firstname_lastname : "&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;".html_safe %>)<br/>
    				วันที่ ........... เดือน .....................................................พ.ศ. ......................<br/>
				</div>
    			<div class="signature pull-left text-center">
    				<br/>
					ลายมือชื่อ <%= image_tag "/files/missing/signature_blank.png", style: "margin-bottom:-20px;", alt: "" %> (ผู้ประเมิน)<br/>
					(<%= @evaluation.director ? @evaluation.director.prefix_firstname_lastname : "&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;".html_safe %>)<br/>
      				วันที่ .......... เดือน ...........................................พ.ศ. .........................<br/>
				</div>
    			<div class="clearfix"></div>
    		</td>
    	</tr>
  	</tbody>
</table>