<!-- replace 'parent_object' with your parent object name -->
<% 
	f_index = "#{f.index}".to_s
	object_name = "parent_object_job_routine_result_files_attributes_#{f_index}".to_sym
	job_routine_result_select_id = "parent_object_job_routine_result_files_attributes_#{f_index}_job_routine_result_id".to_sym
%> 
<tr class="nested-fields">
    <td class="text-top">
        <%= f.association :job_routine_result, wrapper: :nested_form, collection: (JobRoutineResult.all + (f.object.job_routine_result.nil? ? [] : [f.object.job_routine_result])).uniq.sort_by {|asso| asso.to_s}, value_method: :id, label_method: :to_s, input_html: {data: {placeholder: t(:choose)}} %>
        <%= render partial: "/job_routine_results/chosen_select", locals: {object_name: :job_routine_result_file, no_create: true, select_id: job_routine_result_select_id} %>
    </td>
    <td class="text-top">
        <%= f.input :file, wrapper: :nested_form, as: :attachment_custom %>
    </td>
    <td class="text-top">
        <%= f.input :description, wrapper: :nested_form %>
    </td>
    <% unless action_name == "show" %>
        <td class="text-top">
            <%= link_to_remove_association f, class: "btn btn-sm btn-danger" do %>
               <i class='fa fa-trash-o'></i>
            <% end %>
			<script type="text/javascript">$(document).ready( function() { jQuery(function($){ $("#parent_object_job_routine_result_files_attributes_<%= f.index %>_job_routine_result").chosen({width: "100%"}); }); });</script>
        </td>
    <% end %>
</tr>