<% @form_defaults = {input_html: {autocomplete: :off}} %>
<% @form_defaults[:disabled] = (action_name == "show") || (@activity.respond_to?(:current_state) && @activity.current_state.meta[:disabled]) %>
<div data-widget-editbutton="false" id="power-forms-grid" class="powerwidget cold-grey" role="widget">
	<div class="inner-spacer" role="content">

		<%= simple_form_for(["projects", @activity], html: {class: 'form-horizontal'}, defaults: @form_defaults) do |f| %>
	    	<% params[:q].each do |k,v| %>
		        <%= hidden_field_tag "q[#{k}]", v %>
		    <% end unless params[:q].blank? %>
		    <%= hidden_field_tag(:page, params[:page]) unless params[:page].blank? %>
		    
	        <%= render partial: "/form_actions_top", locals: {
	            resource_class: Activity, resource: @activity, f: f,
	            resources_url: projects_activities_path(q: params[:q], page: params[:page]),
	            resource_url: @activity.new_record? ? nil : projects_activity_path(@activity, q: params[:q], page: params[:page]),
	            edit_resource_url: @activity.new_record? ? nil : edit_projects_activity_path(@activity, q: params[:q], page: params[:page])
	        } unless params[:modal] %>

		  	<fieldset>

		        <%= f.association :project, collection: (Project.all_enabled + (f.object.project.nil? ? [] : [f.object.project])).uniq.sort_by {|asso| asso.to_s}, value_method: :id, label_method: :to_s, input_html: {data: {placeholder: t(:choose)}} %>
		        <%= render partial: "/projects/chosen_select", locals: {object_name: :activity, no_create: true} %>
	        	<%= f.input :sorting, as: :hidden %>
	        	<%= f.input :from_date, as: :date_custom, input_html: {value: @activity.from_date ? @activity.from_date.strftime("%d/%m/%Y") : ""} %>
	        	<%= f.input :to_date, as: :date_custom, input_html: {value: @activity.to_date ? @activity.to_date.strftime("%d/%m/%Y") : ""} %>
				<%= f.input :location %>
	        	<%= f.input :number_of_participant %>
				<%= f.input :name %>
				<%= f.input :description, as: :hidden %>
				
    			<%= render partial: "/projects/activity_files/nested_form", locals: {f: f} %>
    			
    			<% if f.object.project %>
	    			<table class="table table-striped table-bordered table-hover">
					    <thead>
					        <tr>
					            <th class="text-right" style="width:80px;"><%= Indicator.human_attribute_name :sorting %></th>
					            <th><%= Indicator.human_attribute_name :description %></th>
					            <th class="text-center" style="width:150px;"><%= Indicator.human_attribute_name :target %> <%= f.object.project ? f.object.project.year + 543 : "" %></th>
					            <th class="text-center" style="width:150px;"><%= Indicator.human_attribute_name :result %> <%= f.object.project && f.object.project.year ? f.object.project.year + 543 : Indicator.human_attribute_name(:result3) %></th>
					        </tr>
					    </thead>
					    <tbody>
	    					<% if f.object.project.indicators.size == 0 %>
	    						<tr>
	    							<td colspan="4">ยังไม่มีตัวชี้วัด เพิ่มตัวชี้วัดที่หน้าโครงการ</td>
	    						</tr>
	    					<% end %>
	    					<% f.object.project.indicators.each do |indicator| %>
		    					<tr>
		    						<td class="text-right"><%= indicator.sorting %>.</td>
		    						<td><%= indicator.description %></td>
		    						<td class="text-center"><%= indicator.target %> <%= indicator.unit %></td>
		    						<td><%= text_field "indicator_#{indicator.id}", :result3, {value: indicator.result3, class: "form-control"} %></td>
		    					</tr>
	    					<% end %>
    					</tbody>
    				</table>
    			<% end %>
	            <div class="clearfix"></div>
	            
		  		<div class="col-md-6 col-md-offset-4">
			        <%= render partial: "/form_actions_bottom", locals: {
			            resource_class: Activity, resource: @activity, f: f,
			            resources_url: projects_activities_path(q: params[:q], page: params[:page]),
			            resource_url: @activity.new_record? ? nil : projects_activity_path(@activity, q: params[:q], page: params[:page]),
			            edit_resource_url: @activity.new_record? ? nil : edit_projects_activity_path(@activity, q: params[:q], page: params[:page])
			        } %>
		        </div>
		  	</fieldset>
		<% end %>
  	</div>
</div>		
