<!-- replace 'parent_object' with your parent object name -->
<% 
	f_index = "#{f.index}".to_s
	object_name = "parent_object_activities_attributes_#{f_index}".to_sym
	project_select_id = "parent_object_activities_attributes_#{f_index}_project_id".to_sym
%> 
<div class="nested-fields well">
    <% unless action_name == "show" %>
        <div class="text-top">
            <%= link_to_remove_association f, class: "btn btn-sm btn-danger pull-right margin-bottom-5" do %>
               <i class='fa fa-trash-o'></i>
            <% end %>
			<script type="text/javascript">$(document).ready( function() { jQuery(function($){ $("#parent_object_activities_attributes_<%= f.index %>_project").chosen({width: "100%"}); }); });</script>
        </div>
    <% end %>
    <%= f.input :name %>
    <div class="hide">
	    <%= f.input :from_date, as: :date_custom, value: f.object.from_date ? f.object.from_date.strftime("%d/%m/%Y") : "" %>
	    <%= f.input :to_date, as: :date_custom, value: f.object.to_date ? f.object.to_date.strftime("%d/%m/%Y") : "" %>
	    <%= f.input :location %>
	    <%= f.input :number_of_participant %>
	    <%= f.input :description %>
    </div>
    
    <%= render partial: "/projects/activity_files/nested_form", locals: {f: f} %>
    
</div>