<% @form_defaults = {input_html: {autocomplete: :off}} %>
<% @form_defaults[:disabled] = (action_name == "show") || (@user.respond_to?(:current_state) && @user.current_state.meta[:disabled]) %>
<div data-widget-editbutton="false" id="power-forms-grid" class="powerwidget cold-grey" role="widget">
	<div class="inner-spacer" role="content">

		<%= simple_form_for(@user, url: users_profile_url(@user), html: {class: 'form-horizontal'}, defaults: @form_defaults) do |f| %>

			<% if action_name == "edit" %>
				<%= link_to users_profile_url(@user), {class: "btn #{event_btn_class(:show)} pull-right"} do %>
					<%= event_icon_tag(:show) %> <%= t(:show) %>
				<% end %>
			<% end %>

			<% if action_name == "show" && can?(:edit, @user) %>
			    <%= link_to edit_users_profile_url(@user), class: "btn #{event_btn_class(:edit)} pull-right" do %>
			        <%= event_icon_tag(:edit) %> <%= t(:edit) %>
			    <% end if !@user.respond_to?(:current_state) || (@user.respond_to?(:current_state) && !@user.current_state.meta[:disabled]) %>
			<% end %>
			
			<legend class="clearfix no-margin"></legend>
			
		  	<fieldset>
				<%= f.input :avatar, as: :attachment_custom %>
				<%= f.input :username, required: false, input_html: {readonly: true} %>
				<%= f.input :email, required: false %>
				<%= f.input :password, input_html: {value: action_name == "show" ? "********************" : nil} %>
				<%= f.input :password_confirmation, input_html: {value: action_name == "show" ? "********************" : nil} %>
				<%= f.input :theme, collection: User::THEMES, input_html: {class: 'chosen-select form-control', "data-placeholder" => t(:choose)} %>
		        <%#= f.input :locale, collection: $LOCALES, input_html: {class: 'chosen-select form-control', "data-placeholder" => t(:choose)} %>
		        <%#= f.input :timezone, collection: ActiveSupport::TimeZone::MAPPING.collect {|tz| [ActiveSupport::TimeZone.create(tz[0]), tz[0]]}.sort_by {|tz| [tz[0]]}, input_html: {class: 'form-control chosen-select', "data-placeholder" => t(:choose)} %>
	            
		  		<div class="col-md-6 col-md-offset-4">
					<% unless action_name == "show" %>
						<% unless @user.respond_to?(:current_state) %>
						    <%= f.button :button, class: "btn #{event_btn_class(:submit)} margin-right-10" do %>
						        <%= event_icon_tag(:submit) %>
						        <%= t(:submit) %>
						    <% end if can?(:update, @user) %>
					    <% end %>
					    <% if @user.respond_to?(:current_state) %>
				            <% if can?(:save_change, @user) %>
				                <%= f.button :button, value: :save_change, class: "btn #{event_btn_class(:save_change)} margin-right-10", confirm: %Q{#{t(:confirm)} #{t("workflow.event.#{:save_change}")}?} do %>
				                    <%= event_icon_tag(:save_change) %>
				                    <%= t("workflow.event.#{:save_change}") %>
				                <% end %>
							<% end %>
						<% end %>
					<% end %>
				</div>

				
		  	</fieldset>
		<% end %>
  	</div>
</div>		

<% unless action_name == "show" %>
	<script>     
	    $('#roles-toggle span').on('click' , function(){
            if( $(this).hasClass('active')){
                $(this).removeClass('btn-primary');
            	$(this).addClass('btn-default');
			}else{
	            $(this).addClass('btn-primary');
                $(this).removeClass('btn-default');
            }
	    });
	</script>
<% end %>
