<div class="page-header">
	<h1><%= UserAccessLog.model_name.human %><small><%= action_name %></small></h1>
</div>
			      
<!-- Widget Row Start grid -->
<div class="row" id="powerwidgets">
	<div class="col-md-12 bootstrap-grid">
		<div data-widget-editbutton="false" id="power-forms-grid" class="powerwidget cold-grey" role="widget">
      		<div class="inner-spacer" role="content">
				
                <%= search_form_for @q, url: user_access_logs_url, id: 'quick-search', class: "form-horizontal pull-right no-padding col-sm-9 col-md-6 col-lg-4 #{'hide' if params[:advance]}" do |f| %>
	          		<div class="input-group">
						<%= f.text_field :username_or_ip_or_controller_name_or_action_name_or_params_cont, :autofocus => true, class: "form-control", placeholder: "#{t(:search)} ..." %>
						<span class="input-group-addon btn" onclick="$('#quick-search').submit();"><i class="fa fa-search"></i></span>
						<span class="input-group-addon btn btn-primary" id="advanced-visibled-visibled"><%= t(:advanced) %></span>
                    </div>
                <% end %>
                
                <%= search_form_for @q, url: user_access_logs_url, builder: SimpleForm::FormBuilder, id: 'advanced-search', html: {novalidate: true, class: "form-horizontal margin-top-5 #{'hide' unless params[:advance]}"} do |f| %>
                	<div class="panel panel-primary">
              			<div class="panel-heading">
                			<div class="panel-title pull-left"><%= t(:search) %><small><%= t(:advanced) %></small></div>
                			<div class="pull-right"> 
                				<span class="btn btn-xs" id="advanced-hidden-visibled"><i class="fa fa-times"></i></span>
            				</div>
                			<div class="clearfix"></div>
              			</div>
              			<div class="panel-body">
						  	<fieldset>
						  		
								<%= f.input :username_cont, required: false, label: UserAccessLog.human_attribute_name(:username) %>
								<%= f.input :ip_cont, required: false, label: UserAccessLog.human_attribute_name(:ip) %>
								<%= f.input :controller_name_cont, required: false, label: UserAccessLog.human_attribute_name(:controller_name) %>
								<%= f.input :action_name_cont, required: false, label: UserAccessLog.human_attribute_name(:action_name) %>
		    					
								
								<% if false %>
		                            <%= f.association :creator_id_in, User.limit(100).collect{|r| [r.to_s, r.id]}, {include_blank: true}, {multiple: true, "data-placeholder" => UserAccessLog.human_attribute_name(:created_by)} %>
		                            <%= render partial: "/admin/users/chosen_select", locals: {object_name: :q, select_id: :q_creator_id_in, width: "178px", no_create: true} %>
		                            <%= f.input :created_at_gteq, class: "date_custom optional date_picker", "data-date-format" => "dd/mm/yyyy", placeholder: "#{UserAccessLog.human_attribute_name(:created_at)} #{t(:from_date)}", value: (params[:q][:created_at_gteq] rescue "") %>
		                            <%= f.input :created_at_lteq, class: "date_custom optional date_picker", "data-date-format" => "dd/mm/yyyy", placeholder:"#{UserAccessLog.human_attribute_name(:created_at)} #{t(:to_date)}", value: (params[:q][:created_at_lteq] rescue "") %>
		                            <%= f.association :updater_id_in, User.limit(100).collect{|r| [r.to_s, r.id]}, {include_blank: true}, {multiple: true, "data-placeholder" => UserAccessLog.human_attribute_name(:updated_by)} %>
		                            <%= render partial: "/admin/users/chosen_select", locals: {object_name: :q, select_id: :q_updater_id_in, width: "178px", no_create: true} %>
		                            <%= f.input :updated_at_gteq, class: "date_custom optional date_picker", "data-date-format" => "dd/mm/yyyy", placeholder: "#{UserAccessLog.human_attribute_name(:updated_at)} #{t(:from_date)}", value: (params[:q][:updated_gteq] rescue "") %>
		                            <%= f.input :updated_at_lteq, class: "date_custom optional date_picker", "data-date-format" => "dd/mm/yyyy", placeholder:"#{UserAccessLog.human_attribute_name(:updated_at)} #{t(:to_date)}", value: (params[:q][:updated_lteq] rescue "") %>
								<% end %>

								<div class="col-md-6 col-md-offset-4">
								    <%= f.button :button, class: "btn #{event_btn_class(:search)} margin-right-10" do %>
								        <%= event_icon_tag(:search) %>
								        <%= t(:search) %>
								    <% end %>
	                            	<%= hidden_field_tag "advance", true %>
							    </div>
						  	</fieldset>
						</div>
					</div>
                <% end %>
                <div class="clearfix"></div>
            	<legend></legend>
  				<table class="table table-striped table-hover margin-0px">
                  	<thead>
                    	<tr>
                            <th><%= sort_link @q, :user %></th>
                            <th><%= sort_link @q, :username %></th>
                            <th><%= sort_link @q, :ip %></th>
                            <th><%= sort_link @q, :controller_name %></th>
                            <th><%= sort_link @q, :action_name %></th>
                            <th><%= sort_link @q, :params %></th>
                            <th><%= sort_link @q, :params_id %></th>
                            <th><%= sort_link @q, :log_time %></th>
                    	</tr>
                  	</thead>
                  	<tbody>
        				<% @user_access_logs.each do |user_access_log| %>
                    		<tr id="user_access_log_<%= user_access_log.id %>">
								<td><%= user_access_log.user %></td>
								<td><%= user_access_log.username %></td>
								<td><%= user_access_log.ip %></td>
								<td><%= user_access_log.controller_name %></td>
								<td><%= user_access_log.action_name %></td>
								<td><%= user_access_log.params %></td>
								<td style="text-align:right;"><%= !user_access_log.params_id.blank? ? user_access_log.params_id.to_s_comma : "" %></td>
								<td><%= user_access_log.log_time ? user_access_log.log_time.strftime("%d/%m/%Y %H:%M:%S") : "" %></td>
	                    	</tr>
                    	<% end %>
                  	</tbody>
                </table>
                <%= will_paginate @user_access_logs %>
          	</div>
        </div>		
	</div>
</div>
<!-- /Widgets Row End Grid-->

<script>     
    $('#advanced-visibled-visibled').on('click' , function(){
        $('#quick-search').addClass('hide');
        $('#advanced-search').removeClass('hide');
    });    
    $('#advanced-hidden-visibled').on('click' , function(){
        $('#quick-search').removeClass('hide');
        $('#advanced-search').addClass('hide');
    });
</script>
