<tr class="nested-fields">
    <td>
        <%= f.input_field :username, size: 20 %>
    </td>
    <td>
        <%= f.input_field :gender, size: 20 %>
    </td>
    <td>
        <%= f.input_field :nickname, size: 20 %>
    </td>
    <td>
        <%= f.input_field :firstname, size: 20 %>
    </td>
    <td>
        <%= f.input_field :lastname, size: 20 %>
    </td>
    <td>
        <%= f.input_field :phone, size: 20 %>
    </td>
    <td>
        <%= f.input_field :email, size: 20 %>
    </td>
    <td>
        <%= f.input_field :locale, size: 20 %>
    </td>
    <td>
        <%= f.input_field :timezone, size: 20 %>
    </td>
    <% unless action_name == "show" %>
        <td>
            <%= link_to_remove_association f, class: "btn btn-sm btn-danger" do %>
               <i class='fa fa-trash-o'></i>
            <% end %>
        </td>
    <% end %>
</tr>