<div class="widget-container-span ui-sortable">
    <div class="widget-box transparent">
        <div class="widget-header">
            <h4 class="lighter"><%= User.model_name.human %></h4>

            <div class="widget-toolbar no-border">
                <% unless @form_defaults && @form_defaults[:disabled] %>
                    <span class="input-icon">
                        <%= text_field_tag :user_search_list_input %>
                        <i class="icon-search nav-search-icon"></i>
                    </span>
                <% end %>
            </div>
        </div>

        <div class="widget-body">
            <div class="widget-main padding-6 no-padding-left no-padding-right">
                <ul id="user_search_list" class="item-list ui-sortable">
                    <% @users.each do |user| %>
                        <li class="item-default clearfix">
                            <label class="inline">
                                <% unless @form_defaults && @form_defaults[:disabled] %>
                                    <input type="<%= input_type %>" class="ace" name="<%= param_name %>" value="<%= user.id %>" checked>
                                <% end %>
                                <span class="lbl">
                                    <%= user.name %>
                                </span>
                            </label>
                        </li>
                    <% end if @users %>
                </ul>
            </div>
        </div>
    </div>
</div>
<% unless @form_defaults && @form_defaults[:disabled] %>
    <script type="text/javascript">
        jQuery(function($) {
            $('#user_search_list_input').keydown(function(event){
                if(event.keyCode == 13) {
                    event.preventDefault();
                    $.ajax({
                        type: 'GET',
                        url: '<%= admin_users_url %>',
                        data: {
                            q: {
                                username_or_gender_or_nickname_or_firstname_or_lastname_or_phone_or_email_or_locale_or_timezone_cont: $('#user_search_list_input').val()
                            },
                            limit: 10
                        },
                        dataType: 'json',
                        success: function(data) {
                            var data_html = '';
                            $.each(data, function(index, result) {
                                data_html += '<li class="item-default clearfix">';
                                data_html += '<label class="inline">';
                                data_html += '<input type="<%= input_type %>" class="ace" name="<%= param_name %>" value="' + result.id + '"/>';
                                data_html += '<span class="lbl"> ';
                                data_html += result.name;
                                data_html += '</span>';
                                data_html += '</label>';
                                data_html += '</li>';
                            });  
                            $('#user_search_list').html(data_html);
                        }
                    });
                }
            });
        });
    </script>
<% end %>