<% 
	date_str = params[:new_calendars_date] ? params[:new_calendars_date] : Date.current.strftime("%d/%m/%Y")
	news_calendars = NewsCalendar.all_published.where(["start_at <= ? AND end_at >= ?", Date.strptime("#{date_str} 00:00:00", "%d/%m/%Y %H:%M:%S"), Date.strptime("#{date_str} 23:59:59", "%d/%m/%Y %H:%M:%S")])
%>
<div id="news_calendar_block">
	<h4><%= NewsCalendar.human_attribute_name(:today_news) %></h4>
	<table class="table table-striped">
  		<thead>
        	<tr>
          		<th><%= NewsCalendar.human_attribute_name(:title) %></th>
          		<th style="width:100px;"><%= NewsCalendar.human_attribute_name(:start_at) %></th>
          		<th style="width:100px;"><%= NewsCalendar.human_attribute_name(:end_at) %></th>
        	</tr>
      	</thead>
      	<tbody>
      		<% news_calendars.each do |news_calendar| %>
	      		<tr>
	            	<td style="vertical-align:top; text-overflow:ellipsis;"><%= news_calendar.title %></td>
	            	<td class="text-top"><%= news_calendar.start_at ? news_calendar.start_at.strftime("%d/%m/%Y %H:%M") : "" %></td>
	            	<td class="text-top"><%= news_calendar.end_at ? news_calendar.end_at.strftime("%d/%m/%Y %H:%M") : "" %></td>
	          	</tr>
          	<% end %>
        </tbody>
    </table>
</div>
