<!-- replace 'evaluation' with your parent object name -->
<% 
	f_index = "#{f.index}".to_s
	object_name = "evaluation_base_salaries_attributes_#{f_index}".to_sym
	evaluation_select_id = "evaluation_base_salaries_attributes_#{f_index}_evaluation_id".to_sym
	position_level_select_id = "evaluation_base_salaries_attributes_#{f_index}_position_level_id".to_sym
%> 
<tr class="nested-fields">
    <td style="vertical-align:top;">
        <%= f.association :position_level, wrapper: :nested_form, collection: (PositionLevel.all + (f.object.position_level.nil? ? [] : [f.object.position_level])).uniq.sort_by {|asso| asso.to_s}, value_method: :id, label_method: :to_s, input_html: {data: {placeholder: t(:choose)}} %>
        <%= render partial: "/settings/position_levels/chosen_select", locals: {object_name: :base_salary, no_create: true, select_id: position_level_select_id} %>
        <%= f.input :remark, wrapper: :nested_form, input_html: {placeholder: BaseSalary.human_attribute_name(:remark)} %>
    </td>
    <td style="vertical-align:top;">
        <%= f.input :min_low, wrapper: :nested_form %>
    </td>
    <td style="vertical-align:top;">
        <%= f.input :max_low, wrapper: :nested_form %>
    </td>
    <td style="vertical-align:top;">
        <%= f.input :base_low, wrapper: :nested_form %>
    </td>
    <td style="vertical-align:top;">
        <%= f.input :min_high, wrapper: :nested_form %>
    </td>
    <td style="vertical-align:top;">
        <%= f.input :max_high, wrapper: :nested_form %>
    </td>
    <td style="vertical-align:top;">
        <%= f.input :base_high, wrapper: :nested_form %>
    </td>
    <% unless action_name == "show" %>
        <td style="vertical-align:top;">
            <%= link_to_remove_association f, class: "btn btn-sm btn-danger" do %>
               <i class='fa fa-trash-o'></i>
            <% end %>
			<script type="text/javascript">$(document).ready( function() { jQuery(function($){ $("#evaluation_base_salaries_attributes_<%= f.index %>_evaluation").chosen({width: "100%"}); }); });</script>
			<script type="text/javascript">$(document).ready( function() { jQuery(function($){ $("#evaluation_base_salaries_attributes_<%= f.index %>_position_level").chosen({width: "100%"}); }); });</script>
        </td>
    <% end %>
</tr>