<table class="table table-striped table-bordered table-hover">
    <thead>
        <tr>
            <th nowrap><%= JobPlan.human_attribute_name :workflow_state %></th>
            <th nowrap><%= JobPlan.human_attribute_name :workflow_state_updater %></th>
            <th nowrap><%= JobPlan.human_attribute_name :user %></th>
            <th nowrap><%= JobPlan.human_attribute_name :evaluation %></th>
            <th nowrap><%= JobPlan.human_attribute_name :job_template %></th>
            <th nowrap><%= JobPlan.human_attribute_name :name %></th>
            <th nowrap><%= JobPlan.human_attribute_name :duration %></th>
            <th nowrap><%= JobPlan.human_attribute_name :expect_qty %></th>
            <th nowrap><%= JobPlan.human_attribute_name :qty %></th>
            <th nowrap><%= JobPlan.human_attribute_name :unit %></th>
            <th nowrap><%= JobPlan.human_attribute_name :description %></th>
            <th nowrap><%= JobPlan.human_attribute_name :approver %></th>
            <% unless action_name == "show" %>
                <th style="width:30px;">
                    <%= link_to_add_association f, :job_plans, partial: "/jobs/job_plans/nested_fields", class: "btn btn-sm btn-success",
                    "data-association-insertion-node" => "#job_plan_fields",
                    "data-association-insertion-method" => :append do %>
                    <i class='fa fa-plus'></i>
                    <% end %>
                </th>
            <% end %>
        </tr>
    </thead>
    <tbody id="job_plan_fields">
        <%= f.simple_fields_for :job_plans do |job_plan| %>
            <%= render '/jobs/job_plans/nested_fields', :f => job_plan %>
        <% end %>
    </tbody>
</table>
<script type="text/javascript">
    jQuery(function($) {
        $('#job_plan_fields').on('cocoon:after-insert', function(e, insertedItem) {
            init_input_date_picker();
            init_input_time_picker();
            init_input_datetime_picker();
        });
    });
</script>