<table class="table table-bordered">
	<thead>
		<tr>
			<th><%= JobDevelopmentResult.human_attribute_name(:name) %></th>
			<th style="width:375px;"><%= JobDevelopmentResultFile.model_name.human %></th>
			<% if @current_evaluation.is_pf_range %>
				<th>&nbsp;</th>
			<% end %>
		</tr>
	</thead>
	<tbody id="job-development-result-list-<%= job_development.id %>">
		<% job_development.job_development_results.each do |job_development_result| %>
			<%= render partial: "row_job_development_result", locals: {job_development_result: job_development_result} %>
		<% end %>
	</tbody>
	<% if @current_evaluation.is_pf_range %>
		<tfoot>
			<tr>
				<td colspan="2" style="background-color:#DDDDDD;">
					<%= text_area "new_job_development_result_#{job_development.id}", :name, {class: "form-control", placeholder: "รายงานผลการปฏิบัติงานตามตัวชี้วัด/เกณฑ์การประเมิน..."} %>
				</td>
				<td style="width:50px; background-color:#DDDDDD;">
					<div id="job-development-result-add-button-<%= job_development.id %>-other" class="btn btn-info">
						<i class="fa fa-plus"></i> เพิ่ม
					</div>
				</td>
			</tr>
		</tfoot>
	<% end %>
</table>
<script type="text/javascript">
	 jQuery(function($) {
	 	$('#job-development-result-add-button-<%= job_development.id %>').click(function(event){
	 		$.ajax({
            	url: '<%= add_job_development_result_pfs_path %>',
    			type: 'post',
    			data: {job_result_template_id: $('#new_job_development_result_<%= job_development.id %>_job_result_template_id').val(), job_development_id: <%= job_development.id %>},
                dataType: 'script'
            });
        });
	 	$('#job-development-result-add-button-<%= job_development.id %>-other').click(function(event){
	 		$.ajax({
            	url: '<%= add_job_development_result_pfs_path %>',
    			type: 'post',
    			data: {name: $('#new_job_development_result_<%= job_development.id %>_name').val(), job_development_id: <%= job_development.id %>},
                dataType: 'script'
            });
        });
    });
</script>
<div class="clearfix"></div>