<table class="table">
	<thead>
		<tr>
			<th><%= JobPlan.human_attribute_name(:job_template) %></th>
			<th style="width:100px; text-align:right;"><%= JobPlan.human_attribute_name(:expect) %></th>
			<th style="width:100px; text-align:right;"><%= JobPlan.human_attribute_name(:weight) %></th>
			<th colspan="2" style="width:100px; text-align:right;"><%= JobPlan.human_attribute_name(:self_point) %></th>
		</tr>
	</thead>
	<tbody id="job-plan-list">
		<% current_user.job_plans.where(["evaluation_id = ?", @current_evaluation.id]).sort_by {|jj| [jj.created_at]}.each do |job_plan| %>
			<%= render partial: "row_job_plan", locals: {job_plan: job_plan} %>
		<% end %>
	</tbody>
</table>
<div class="clearfix"></div>