<tr id="job-routine-row-<%= job_routine.id %>">
	<td id="job-routine-name-<%= job_routine.id %>" class="h4">
		<b>
			<% job_routine.name.split("\n").each do |jn| %>
				<%= jn %><br/>
			<% end %>
		</b>
	</td>
	<td nowrap class="h4 text-top text-right"><%= JobRoutine.human_attribute_name(:expect) %> <b><%= job_routine.expect %></b></td>
	<td nowrap class="h4 text-top text-right"><%= JobRoutine.human_attribute_name(:weight_short) %> <b><%= job_routine.weight.to_s_decimal_comma %></b></td>
	<td nowrap class="h4 text-top text-right" style="width:130px;"><%= JobRoutine.human_attribute_name(:self_point) %></td>
	<td nowrap class="h4 text-top text-right" style="width:90px;">
		<%= select "xjob_routine_#{job_routine.id}", :self_point, [1, 2, 3, 4, 5].reverse, {include_blank: "-", selected: job_routine.self_point}, {class: "form-control", style: "width:60px;"} %>
		<script type="text/javascript">
		 	jQuery(function($) {
			 	
			    $('#xjob_routine_<%= job_routine.id %>_self_point').change(function () {
			 		$.ajax({
		            	url: '<%= update_job_routine_self_point_pfs_url %>',
		    			type: 'post',
		    			data: {
		    				job_routine_id: <%= job_routine.id %>, 
					      	self_point: $('#xjob_routine_<%= job_routine.id %>_self_point').val()
				      	},
		                dataType: 'script'
		            });
			    });
		        
			 });
		 </script>
	</td>
</tr>
<tr id="job-routine-results-row-<%= job_routine.id %>">
	<td colspan="5" class="padding-left-20">
		<%= render partial: "list_job_routine_result", locals: {job_routine: job_routine} %>
	</td>
</tr>
