<tr id="job-vice-result-row-<%= job_vice_result.id %>">
	<td id="job-vice-result-name-<%= job_vice_result.id %>" class="text-top">
		<% if params[:edit] %>
			<table style="width:100%;">
				<tr>
					<td class="text-top">
						<%= text_area "job_vice_result_#{job_vice_result.id}", :name, {value: job_vice_result.name, class: "form-control", placeholder: JobPlanResult.human_attribute_name(:name), id: "job_vice_result_#{job_vice_result.id}_name"} %>
					</td>
					<td class="text-top" style="width:50px;">
						<div id="job-vice-result-<%= job_vice_result.id %>-save" class="btn btn-success">
							<i class="fa fa-save"></i>
						</div>
					</td>
				</tr>
			</table>
		<% else %>
			<% job_vice_result.name.split("\n").each do |jn| %>
				<%= jn %><br/>
			<% end %>
			<%= link_to edit_job_vice_result_pfs_url(job_vice_result_id: job_vice_result.id, edit: true), {remote: true, class: "text-orange", title: "คลิกเพื่อแก้ไข"} do %>
				<i class="fa fa-pencil"></i>
			<% end if @current_evaluation.is_pf_range %>
		<% end %>
		<div class="clearfix"></div>
		<% if @current_evaluation.is_pf_range && job_vice_result.current_state.to_sym == :enabled %>
			<%= text_area "job_vice_result_#{job_vice_result.id}", :description, {value: job_vice_result.description, class: "form-control hide", placeholder: JobViceResult.human_attribute_name(:description), id: "job_vice_result_#{job_vice_result.id}_description"} %>
		<% else %>
			<%= job_vice_result.description %>
		<% end %>
	</td>
	<td class="text-top">
		<div id="job-vice-result-files-<%= job_vice_result.id %>" class="padding-left-20">
			<% job_vice_result.job_vice_result_files.where(["workflow_state = ?", :enabled]).each do |job_vice_result_file| %>
				<%= render partial: "row_job_vice_result_file", locals: {job_vice_result_file: job_vice_result_file} %>
			<% end %>
		</div>
		<div class="clearfix"></div>
		<% if @current_evaluation.is_pf_range && job_vice_result.current_state.to_sym == :enabled %>
			<%= form_tag(upload_job_vice_result_pfs_path(job_vice_result_id: job_vice_result.id), {class: "padding-left-20 margin-top-5", multipart: true, remote: true, id: "job-vice-result-upload-#{job_vice_result.id}"}) do %>
				<table style="width:100%;">
					<tr>
						<td style="width:80px; vertical-align:top;">
							<%= file_field "new_job_vice_result_file_#{job_vice_result.id}", :file, {class: "form-control no-padding", onchange: "if($('#new_job_vice_result_file_#{job_vice_result.id}_description').val() == ''){$('#new_job_vice_result_file_#{job_vice_result.id}_description').val(this.value);}"} %>
						</td>
						<td>
							<%= text_area "new_job_vice_result_file_#{job_vice_result.id}", :description, {class: "form-control", placeholder: "คำอธิบายหรือชื่อไฟล์"} %>
						</td>
						<td style="width:50px; vertical-align:top;">
							<div id="new-job-vice-result-file-<%= job_vice_result.id %>-upload" class="btn btn-success" onclick="if($('#new_job_vice_result_file_<%= job_vice_result.id %>_description').val() == ''){ alert('โปรดใส่คำอธิบายก่อน'); }else{ $('#job-vice-result-upload-<%= job_vice_result.id %>').submit(); }">
								<i class="fa fa-upload"></i>
							</div>
						</td>
					</tr>
				</table>
			<% end %>
		<% end %>
	</td>
	<% if @current_evaluation.is_pf_range && job_vice_result.current_state.to_sym == :enabled %>
		<td class="text-top" style="width:50px;">
			<div id="job-vice-result-remove-button-<%= job_vice_result.id %>" class="btn btn-danger">
				<i class="fa fa-trash-o"></i>
			</div>
			<script type="text/javascript">
				 jQuery(function($) {
				 	$('#job-vice-result-remove-button-<%= job_vice_result.id %>').click(function(event){
	    				if (confirm('ยืนยันลบงาน <%= job_vice_result.name.gsub("\n", " ") %> ?')) {
					 		$.ajax({
				            	url: '<%= remove_job_vice_result_pfs_path %>',
				    			type: 'post',
				    			data: {job_vice_result_id: <%= job_vice_result.id %>},
				                dataType: 'script'
				            });
			           	}
			        });
			        $("#job_vice_result_<%= job_vice_result.id %>_qty").on('keyup change', function(event) {
				 		$.ajax({
			            	url: '<%= update_job_vice_result_pfs_path %>',
			    			type: 'post',
			    			data: {job_vice_result_id: <%= job_vice_result.id %>, qty: $("#job_vice_result_<%= job_vice_result.id %>_qty").val()},
			                dataType: 'script'
			            });
					})
			        $("#job_vice_result_<%= job_vice_result.id %>_unit").on('keyup change', function(event) {
				 		$.ajax({
			            	url: '<%= update_job_vice_result_pfs_path %>',
			    			type: 'post',
			    			data: {job_vice_result_id: <%= job_vice_result.id %>, unit: $("#job_vice_result_<%= job_vice_result.id %>_unit").val()},
			                dataType: 'script'
			            });
					})
			        $("#job_vice_result_<%= job_vice_result.id %>_description").on('keyup change', function(event) {
				 		$.ajax({
			            	url: '<%= update_job_vice_result_pfs_path %>',
			    			type: 'post',
			    			data: {job_vice_result_id: <%= job_vice_result.id %>, description: $("#job_vice_result_<%= job_vice_result.id %>_description").val()},
			                dataType: 'script'
			            });
					})
			        $("#job-vice-result-<%= job_vice_result.id %>-save").on('click', function(event) {
				 		$.ajax({
			            	url: '<%= update_job_vice_result_pfs_path %>',
			    			type: 'post',
			    			data: {job_vice_result_id: <%= job_vice_result.id %>, name: $("#job_vice_result_<%= job_vice_result.id %>_name").val(), replace: true},
			                dataType: 'script'
			            });
					})
		        });
	        </script>
		</td>
	<% elsif job_vice_result.current_state.to_sym == :confirmed %>
		<td><span class="label <%= state_label_class(job_vice_result.workflow_state.to_sym) %>"><%=t "workflow.state.#{job_vice_result.workflow_state}" %></span></td>
	<% end %>
</tr>
