<div class="page-header">
	<h1><%= t(:pf) %> <%= @user.prefix_firstname_lastname %><small><%= @current_evaluation.pf_start_date ? @current_evaluation.pf_start_date.strftime("%d/%m/%Y") : "" %> - <%= @current_evaluation.pf_end_date ? @current_evaluation.pf_end_date.strftime("%d/%m/%Y") : "" %></small></h1>
</div>
		
<%= link_to x_pfs_url(user_id: @user, q: params[:q]), {class: "btn #{event_btn_class(:back)}"} do %>
	<%= event_icon_tag(:back) %>  <%= t(:back_to_list) %>
<% end %>
<%= link_to print_pfs_url(@user), {target: "_blank", class: "btn btn-info pull-right"} do %>
	<i class="fa fa-print"></i>
	Print
<% end %>
<legend></legend>
<div class="row">
	<div class="col-md-12 bootstrap-grid">
		<table class="table table-striped">
	      	<tbody>
	      		<tr>
	      			<td>
						<div class="pull-left" style="width:120px; font-weight:bold;">ชื่อ-สกุล: </div>
						<div class="pull-left"><%= @user ? @user.prefix_firstname_lastname : "-" %></div>
						<div class="clearfix"></div>
						
						<div class="pull-left" style="width:120px; font-weight:bold;"><%= User.human_attribute_name(:employee_type) %>: </div>
						<div class="pull-left"><%= @user ? @user.employee_type : "-" %></div>
						<div class="clearfix"></div>
						
						<div class="pull-left" style="width:120px; font-weight:bold;"><%= User.human_attribute_name(:position) %>: </div>
						<div class="pull-left"><%= @user ? @user.position : "-" %></div>
						<div class="clearfix"></div>
						
						<div class="pull-left" style="width:120px; font-weight:bold;"><%= Section.model_name.human %>: </div>
						<div class="pull-left"><%= @user ? @user.sections.collect {|s| s.to_s}.join(', ') : "-" %></div>
						<div class="clearfix"></div>
						
						<div class="pull-left" style="width:120px; font-weight:bold;"><%= Team.model_name.human %>: </div>
						<div class="pull-left"><%= @user ? @user.teams.collect {|s| s.to_s}.join(', ') : "-" %></div>
						<div class="clearfix"></div>
						
						<div class="pull-left" style="width:120px; font-weight:bold;"><%= Faculty.model_name.human %>: </div>
						<div class="pull-left"><%= @user ? @user.faculties.collect {|s| s.to_s}.join(', ') : "-" %></div>
						<div class="clearfix"></div>
	      			</td>
	      		</tr>
      		</tbody>
  		</table>
	</div>
</div>
			      
<div class="row" id="powerwidgets">
	<div class="col-md-12 bootstrap-grid">
		<div class="powerwidget red" role="widget">
      		<header role="heading">
        		<h2><%= JobPlan.model_name.human %><small>...</small></h2>
      		</header>
      		<div class="inner-spacer" role="content">
  				<table class="table margin-0px">
                  	<thead>
                    	<tr>
                            <th><%= JobPlan.human_attribute_name(:name) %></th>
                            <th style="text-align:center; width:120px;"><%= JobPlan.human_attribute_name(:duration) %></th>
                            <th style="text-align:center; width:120px;"><%= JobPlan.human_attribute_name(:expect_qty) %></th>
                            <th style="text-align:center; width:120px;"><%= JobPlan.human_attribute_name(:qty) %></th>
                            <th style="text-align:center; width:85px;"><%= JobPlanFile.model_name.human %></th>
                      		<th style="text-align:center; width:50px;"></th>
                    	</tr>
                  	</thead>
                  	<tbody>
                  		<% job_plan_job_template_group_name = nil %>
						<% @user.job_plans.where(["evaluation_id = ?", @current_evaluation.id]).sort_by {|jj| [jj.job_template_group_name, jj.created_at]}.each do |job_plan| %>
                    		<% if job_plan_job_template_group_name != job_plan.job_template_group_name %>
								<tr>
									<td colspan="6">
										<b><%= job_plan.job_template_group_name %></b><br/>
									</td>
								</tr>
                  				<% job_plan_job_template_group_name = job_plan.job_template_group_name %>
							<% end %>
                    		<tr id="job_plan_<%= job_plan.id %>">
								<td class="text-top">
									<div class="padding-left-10"><%= job_plan.name %></div>
									<% unless job_plan.description.blank? %>
										<div id="job_plan_description_<%= job_plan.id %>" class="well no-margin-bottom margin-top-10"><%= job_plan.description %>&nbsp;</div>
									<% end %>
								</td>
								<td style="vertical-align:top; text-align:center;"><%= !job_plan.duration.blank? ? job_plan.duration.to_s_comma : "" %></td>
								<td style="vertical-align:top; text-align:center;"><%= !job_plan.expect_qty.blank? ? job_plan.expect_qty.to_s_decimal_comma : "" %></td>
								<td style="vertical-align:top; text-align:center;"><%= !job_plan.qty.blank? ? job_plan.qty.to_s_decimal_comma : "" %></td>
								<td style="vertical-align:top; text-align:center;">
									<% job_plan.job_plan_files.each do |job_plan_file| %>
										<%= link_to job_plan_file.file.url, {class: "btn btn-default btn-xs col-xs-12 margin-bottom-5", title: job_plan_file.description, target: "_blank"} do %>
											<div style="width:60px; overflow-x:hidden; text-overflow:ellipsis; text-align:left;">
												<i class="fa fa-save"></i>
												<%= job_plan_file.description %>
											</div>
										<% end %>
									<% end %>
								</td>
	                      		<td style="vertical-align:top; text-align:center;">
	                      			<% if job_plan.is_pf_range %>
		                      			<% if can?(:edit, job_plan) && !job_plan.respond_to?(:current_state) || (job_plan.respond_to?(:current_state) && !job_plan.current_state.meta[:disabled]) %>
											<%= link_to edit_jobs_job_plan_url(job_plan, pf: "pf", q: params[:q], page: params[:page]), :class => "btn btn-ทก #{event_btn_class(:edit)} margin-bottom-5" do %>
											    <%= event_icon_tag(:edit) %>
											<% end if job_plan.current_state.to_sym == :enabled %>
										<% end %>
									<% end %>
									<%= link_to jobs_job_plan_url(job_plan, pf: "pf", q: params[:q], page: params[:page]), :class => "btn btn-ทก #{event_btn_class(:show)} margin-bottom-5" do %>
									    <%= event_icon_tag(:show) %>
									<% end %>
                      			</td>
	                    	</tr>
                    	<% end %>
                  	</tbody>
                </table>
          	</div>
        </div>		
	</div>
</div>
			      
<div class="row" id="powerwidgets">
	<div class="col-md-12 bootstrap-grid">
		<div class="powerwidget red" role="widget">
      		<header role="heading">
        		<h2><%= JobRoutine.model_name.human %><small>...</small></h2>
      		</header>
      		<div class="inner-spacer" role="content">
  				<table class="table table-striped margin-0px">
                  	<thead>
                    	<tr>
                            <th><%= JobRoutine.human_attribute_name(:name) %></th>
                            <th style="text-align:center; width:120px;"><%= JobRoutine.human_attribute_name(:duration) %></th>
                            <th style="text-align:center; width:120px;"><%= JobRoutine.human_attribute_name(:expect_qty) %></th>
                            <th style="text-align:center; width:120px;"><%= JobRoutine.human_attribute_name(:qty) %></th>
                            <th style="text-align:center; width:85px;"><%= JobRoutineFile.model_name.human %></th>
                      		<th style="text-align:center; width:50px;"></th>
                    	</tr>
                  	</thead>
                  	<tbody>
						<% @user.job_routines.where(["evaluation_id = ?", @current_evaluation.id]).sort_by {|jj| [jj.job_template_group_name, jj.created_at]}.each do |job_routine| %>
                    		<tr id="job_routine_<%= job_routine.id %>">
								<td class="text-top">
									<div class="padding-left-10"><%= job_routine.name %></div>
									<% unless job_routine.description.blank? %>
										<div id="job_routine_description_<%= job_routine.id %>" class="well no-margin-bottom margin-top-10"><%= job_routine.description %>&nbsp;</div>
									<% end %>
								</td>
								<td style="vertical-align:top; text-align:center;"><%= !job_routine.duration.blank? ? job_routine.duration.to_s_comma : "" %></td>
								<td style="vertical-align:top; text-align:center;"><%= !job_routine.expect_qty.blank? ? job_routine.expect_qty.to_s_decimal_comma : "" %></td>
								<td style="vertical-align:top; text-align:center;"><%= !job_routine.qty.blank? ? job_routine.qty.to_s_decimal_comma : "" %></td>
								<td style="vertical-align:top; text-align:center;">
									<% job_routine.job_routine_files.each do |job_routine_file| %>
										<%= link_to job_routine_file.file.url, {class: "btn btn-default btn-xs col-xs-12 margin-bottom-5", title: job_routine_file.description, target: "_blank"} do %>
											<div style="width:60px; overflow-x:hidden; text-overflow:ellipsis; text-align:left;">
												<i class="fa fa-save"></i>
												<%= job_routine_file.description %>
											</div>
										<% end %>
									<% end %>
								</td>
	                      		<td style="vertical-align:top; text-align:center;">
	                      			<% if job_routine.is_pf_range %>
		                      			<% if can?(:edit, job_routine) && !job_routine.respond_to?(:current_state) || (job_routine.respond_to?(:current_state) && !job_routine.current_state.meta[:disabled]) %>
											<%= link_to edit_jobs_job_routine_url(job_routine, pf: "pf", q: params[:q], page: params[:page]), :class => "btn btn-lg #{event_btn_class(:edit)} margin-bottom-5" do %>
											    <%= event_icon_tag(:edit) %>
											<% end if job_routine.current_state.to_sym == :enabled %>
										<% end %>
									<% end %>
									<%= link_to jobs_job_routine_url(job_routine, pf: "pf", q: params[:q], page: params[:page]), :class => "btn btn-lg #{event_btn_class(:show)} margin-bottom-5" do %>
									    <%= event_icon_tag(:show) %>
									<% end %>
                      			</td>
	                    	</tr>
                    	<% end %>
                  	</tbody>
                </table>
          	</div>
        </div>		
	</div>
</div>

			      
<div class="row" id="powerwidgets">
	<div class="col-md-12 bootstrap-grid">
		<div class="powerwidget blue" role="widget">
      		<header role="heading">
        		<h2><%= JobVice.model_name.human %><small>...</small></h2>
      		</header>
      		<div class="inner-spacer" role="content">
  				<table class="table table-striped margin-0px">
                  	<thead>
                    	<tr>
                            <th><%= JobVice.human_attribute_name(:name) %></th>
                            <th style="text-align:center; width:120px;"><%= JobVice.human_attribute_name(:duration) %></th>
                            <th style="text-align:center; width:120px;"><%= JobVice.human_attribute_name(:expect_qty) %></th>
                            <th style="text-align:center; width:120px;"><%= JobVice.human_attribute_name(:qty) %></th>
                            <th style="text-align:center; width:85px;"><%= JobViceFile.model_name.human %></th>
                      		<th style="text-align:center; width:50px;"></th>
                    	</tr>
                  	</thead>
                  	<tbody>
						<% @user.job_vices.where(["evaluation_id = ?", @current_evaluation.id]).sort_by {|jj| [jj.job_template_group_name, jj.created_at]}.each do |job_vice| %>
                    		<tr id="job_vice_<%= job_vice.id %>">
								<td class="text-top">
									<div class="padding-left-10"><%= job_vice.name %></div>
									<% unless job_vice.description.blank? %>
										<div id="job_vice_description_<%= job_vice.id %>" class="well no-margin-bottom margin-top-10"><%= job_vice.description %>&nbsp;</div>
									<% end %>
								</td>
								<td style="vertical-align:top; text-align:center;"><%= !job_vice.duration.blank? ? job_vice.duration.to_s_comma : "" %></td>
								<td style="vertical-align:top; text-align:center;"><%= !job_vice.expect_qty.blank? ? job_vice.expect_qty.to_s_decimal_comma : "" %></td>
								<td style="vertical-align:top; text-align:center;"><%= !job_vice.qty.blank? ? job_vice.qty.to_s_decimal_comma : "" %></td>
								<td style="vertical-align:top; text-align:center;">
									<% job_vice.job_vice_files.each do |job_vice_file| %>
										<%= link_to job_vice_file.file.url, {class: "btn btn-default btn-xs col-xs-12 margin-bottom-5", title: job_vice_file.description, target: "_blank"} do %>
											<div style="width:60px; overflow-x:hidden; text-overflow:ellipsis; text-align:left;">
												<i class="fa fa-save"></i>
												<%= job_vice_file.description %>
											</div>
										<% end %>
									<% end %>
								</td>
	                      		<td style="vertical-align:top; text-align:center;">
	                      			<% if job_vice.is_pf_range %>
		                      			<% if can?(:edit, job_vice) && !job_vice.respond_to?(:current_state) || (job_vice.respond_to?(:current_state) && !job_vice.current_state.meta[:disabled]) %>
											<%= link_to edit_jobs_job_vice_url(job_vice, pf: "pf", q: params[:q], page: params[:page]), :class => "btn btn-lg #{event_btn_class(:edit)} margin-bottom-5" do %>
											    <%= event_icon_tag(:edit) %>
											<% end if job_vice.current_state.to_sym == :enabled %>
										<% end %>
									<% end %>
									<%= link_to jobs_job_vice_url(job_vice, pf: "pf", q: params[:q], page: params[:page]), :class => "btn btn-lg #{event_btn_class(:show)} margin-bottom-5" do %>
									    <%= event_icon_tag(:show) %>
									<% end %>
                      			</td>
	                    	</tr>
                    	<% end %>
                  	</tbody>
                </table>
          	</div>
        </div>		
	</div>
</div>

			      
<div class="row" id="powerwidgets">
	<div class="col-md-12 bootstrap-grid">
		<div class="powerwidget green" role="widget">
      		<header role="heading">
        		<h2><%= JobDevelopment.model_name.human %><small>...</small></h2>
      		</header>
      		<div class="inner-spacer" role="content">
  				<table class="table table-striped margin-0px">
                  	<thead>
                    	<tr>
                            <th><%= JobDevelopment.human_attribute_name(:name) %></th>
                            <th style="text-align:center; width:120px;"><%= JobDevelopment.human_attribute_name(:duration) %></th>
                            <th style="text-align:center; width:120px;"><%= JobDevelopment.human_attribute_name(:expect_qty) %></th>
                            <th style="text-align:center; width:120px;"><%= JobDevelopment.human_attribute_name(:qty) %></th>
                            <th style="text-align:center; width:85px;"><%= JobDevelopmentFile.model_name.human %></th>
                      		<th style="text-align:center; width:50px;"></th>
                    	</tr>
                  	</thead>
                  	<tbody>
						<% @user.job_developments.where(["evaluation_id = ?", @current_evaluation.id]).sort_by {|jj| [jj.job_template_group_name, jj.created_at]}.each do |job_development| %>
                    		<tr id="job_development_<%= job_development.id %>">
								<td class="text-top">
									<div class="padding-left-10"><%= job_development.name %></div>
									<% unless job_development.description.blank? %>
										<div id="job_development_description_<%= job_development.id %>" class="well no-margin-bottom margin-top-10"><%= job_development.description %>&nbsp;</div>
									<% end %>
								</td>
								<td style="vertical-align:top; text-align:center;"><%= !job_development.duration.blank? ? job_development.duration.to_s_comma : "" %></td>
								<td style="vertical-align:top; text-align:center;"><%= !job_development.expect_qty.blank? ? job_development.expect_qty.to_s_decimal_comma : "" %></td>
								<td style="vertical-align:top; text-align:center;"><%= !job_development.qty.blank? ? job_development.qty.to_s_decimal_comma : "" %></td>
								<td style="vertical-align:top; text-align:center;">
									<% job_development.job_development_files.each do |job_development_file| %>
										<%= link_to job_development_file.file.url, {class: "btn btn-default btn-xs col-xs-12 margin-bottom-5", title: job_development_file.description, target: "_blank"} do %>
											<div style="width:60px; overflow-x:hidden; text-overflow:ellipsis; text-align:left;">
												<i class="fa fa-save"></i>
												<%= job_development_file.description %>
											</div>
										<% end %>
									<% end %>
								</td>
	                      		<td style="vertical-align:top; text-align:center;">
	                      			<% if job_development.is_pf_range %>
		                      			<% if can?(:edit, job_development) && !job_development.respond_to?(:current_state) || (job_development.respond_to?(:current_state) && !job_development.current_state.meta[:disabled]) %>
											<%= link_to edit_jobs_job_development_url(job_development, pf: "pf", q: params[:q], page: params[:page]), :class => "btn btn-lg #{event_btn_class(:edit)} margin-bottom-5" do %>
											    <%= event_icon_tag(:edit) %>
											<% end if job_development.current_state.to_sym == :enabled %>
										<% end %>
									<% end %>
									<%= link_to jobs_job_development_url(job_development, pf: "pf", q: params[:q], page: params[:page]), :class => "btn btn-lg #{event_btn_class(:show)} margin-bottom-5" do %>
									    <%= event_icon_tag(:show) %>
									<% end %>
                      			</td>
	                    	</tr>
                    	<% end %>
                  	</tbody>
                </table>
          	</div>
        </div>		
	</div>
</div>
