<div class="row">
	<div class="col-xs-12 col-sm-12 padding-10px">
		<div class="row">
			<div class="inner-spacer">
				<div class="col-md-12 bootstrap-grid">
					<div class="powerwidget no-margin">
						<div class="inner-spacer">
							<table class="table">
						      	<tbody>
						      		<tr>
						      			<td>
											<div class="pull-left" style="width:120px; font-weight:bold;">ชื่อ-สกุล: </div>
											<div class="pull-left"><%= @user ? @user.prefix_firstname_lastname : "-" %></div>
											<div class="clearfix"></div>
											
											<div class="pull-left" style="width:120px; font-weight:bold;"><%= User.human_attribute_name(:employee_type) %>: </div>
											<div class="pull-left"><%= @user ? @user.employee_type : "-" %></div>
											<div class="clearfix"></div>
											
											<div class="pull-left" style="width:120px; font-weight:bold;"><%= User.human_attribute_name(:position) %>: </div>
											<div class="pull-left"><%= @user ? @user.position : "-" %></div>
											<div class="clearfix"></div>
											
											<div class="pull-left" style="width:120px; font-weight:bold;"><%= Section.model_name.human %>: </div>
											<div class="pull-left"><%= @user ? @user.sections.collect {|s| s.to_s}.join(', ') : "-" %></div>
											<div class="clearfix"></div>
						      			</td>
						      		</tr>
					      		</tbody>
					  		</table>
					    </div>
			    	</div>
			    </div>
	    	</div>
	    </div>
	</div>
	<div class="col-xs-12 col-sm-12 padding-10px">
		<%= render partial: "leaves" %>
	</div>
</div>
