<div class="btn-group pull-right hide">
	<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"> <i class="entypo-cog"></i></button>
	<div id="settings-dropdown" class="dropdown-menu keep_open orb-form">
		<div class="dropdown-header"><%= t(:settings) %> <!-- span class="badge">6</span --></div>
		<%= form_tag(users_setting_url(current_user), {method: :put, class: "orb-form"}) do %>
			<div class="dropdown-container" style="height:75px; !important;">
				<div class="nano">
					<div class="nano-content">
						<ul class="settings-dropdown">
							<li class="no-padding-top">
								<label class="label no-margin"><%= User.human_attribute_name(:theme) %></label>
								<label class="select">
									<%= select :user, :theme, User::THEMES, {selected: current_user.theme}, {class: "form-control"} %>
								</label>
								<div class="clearfix"></div>
							</li>
							<% if false %>
								<li class="no-padding-top">
									<label class="label no-margin"><%= User.human_attribute_name(:locale) %></label>
									<label class="select">
										<%= select :user, :locale, $LOCALES, {selected: current_user.locale}, {class: "form-control"} %>
									</label>
									<div class="clearfix"></div>
								</li>
								<li class="no-padding-top">
									<label class="label no-margin"><%= User.human_attribute_name(:timezone) %></label>
									<label class="select">
										<%= select :user, :timezone, ActiveSupport::TimeZone::MAPPING.collect {|tz| [ActiveSupport::TimeZone.create(tz[0]), tz[0]]}.sort_by {|tz| [tz[0]]}, {selected: current_user.timezone}, {class: "form-control"} %>
									</label>
									<div class="clearfix"></div>
								</li>
							<% end %>
							<% if false %>
								<li>
									<label class="toggle">
										<input type="checkbox" name="checkbox-toggle" checked>
										<i></i>Prevent Midnblow
									</label>
								</li>
								<li>
									<label class="toggle">
										<input type="checkbox" name="checkbox-toggle" checked>
										<i></i>Sleep All nights
									</label>
								</li>
								<li>
									<label class="toggle">
										<input type="checkbox" name="checkbox-toggle" checked>
										<i></i>Drink more Coffee
									</label>
								</li>
								<li>
									<label class="toggle">
										<input type="checkbox" name="checkbox-toggle" checked>
										<i></i>Auto feed cat
									</label>
								</li>
								<li>
									<label class="toggle">
										<input type="checkbox" name="checkbox-toggle" checked>
										<i></i>Dummy Checkbox
									</label>
								</li>
								<li>
									<label class="toggle">
										<input type="checkbox" name="checkbox-toggle" checked>
										<i></i>Read More Books
									</label>
								</li>
							<% end %>
						</ul>
					</div>
				</div>
			</div>
			<div class="dropdown-footer">
				<%= submit_tag t(:save), {class: "btn btn-dark"} %> 
			</div>
		<% end %>
	</div>
</div>