<aside class="user-menu"> 
  
  	<!-- Tabs -->
  	<div class="tabs-offcanvas">
    	<ul class="nav nav-tabs nav-justified">
      		<li class="active"><a href="#userbar-one" data-toggle="tab">Main</a></li>
      		<!-- li><a href="#userbar-two" data-toggle="tab">Users</a></li -->
      		<!-- li><a href="#userbar-three" data-toggle="tab">ToDo</a></li -->
    	</ul>
    	<div class="tab-content"> 
      
      		<!--User Primary Panel-->
      		<div class="tab-pane active" id="userbar-one">
        		<div class="main-info">
          			<div class="user-img"><%= image_tag current_user.avatar.url(:xsmall), {alt: "User Picture"} %></div>
          			<h1><%= current_user.username %> <small>...</small></h1>
        		</div>
        		<div class="list-group"> 
          			<%= link_to users_profiles_url, {class: "list-group-item"} do %>
          				<i class="fa fa-user"></i>Profile
      				<% end %>
          			<%= link_to messages_url, {class: "list-group-item"} do %>
          				<i class="entypo-mail"></i><%= Message.model_name.human %>
						<% if current_user.unseen_messages.size > 0 %>
							<span class="badge"><%= current_user.unseen_messages.size %></span>
						<% end %>
      				<% end if can?(:read, Message) %>
          			<%= link_to notifications_url, {class: "list-group-item"} do %>
          				<i class="entypo-megaphone"></i><%= Notification.model_name.human %>
						<% if current_user.unseen_notifications.size > 0 %>
							<span class="badge"><%= current_user.unseen_notifications.size %></span>
						<% end %>
      				<% end if can?(:read, Notification) %>
    				<% if false %> 
	          			<%= link_to root_url, {class: "list-group-item"} do %>
							<i class="fa fa-arrow-left"></i><%= t(:frontend) %>
	      				<% end %>
	          			<%= link_to users_settings_url, {class: "list-group-item", "data-toggle" => "modal"} do %>
	          				<i class="fa fa-cog"></i>Settings
	      				<% end %>
	        			<a href="#" class="list-group-item"><i class="fa fa-flask"></i>Projects<span class="badge">2</span></a>
		          		<div class="empthy"></div>
		          		<a href="#" class="list-group-item"><i class="fa fa-refresh"></i>Updates<span class="badge">5</span></a> 
		          		<a href="#" class="list-group-item"><i class="fa fa-comment"></i>Messages<span class="badge">12</span></a> 
		          		<a href="#" class="list-group-item"><i class="fa fa-comments"></i> Comments<span class="badge">45</span></a>
		          		<div class="empthy"></div>
	          			<a href="#" data-toggle="modal" class="list-group-item lockme"><i class="fa fa-lock"></i> Lock</a>
          			<% end %> 
          			<%= link_to "#signout", {class: "list-group-item", "data-toggle" => "modal"} do %>
          				<i class="fa fa-power-off"></i> Sign Out
      				<% end %>
      			</div>
  			</div>
      
      		<% if false %>
	      		<!--User Chat Panel-->
	      		<div class="tab-pane" id="userbar-two">
	        		<div class="chat-users-menu"> 
	          			<!--Adding Some Scroll-->
	          			<div class="nano">
	            			<div class="nano-content">
	              				<div class="buttons">
	                				<div class="btn-group btn-group-xs">
	                  					<button type="button" class="btn btn-default">Friends</button>
	                  					<button type="button" class="btn btn-default">Work</button>
	                  					<button type="button" class="btn btn-default">Girls</button>
	                				</div>
	              				</div>
					          	<ul>
					                <li><a href="#"><span class="chat-name">Gluck Dorris</span><span class="user-img"><img src="http://placehold.it/150x150" alt="User"/></span><span class="label label-success">Online</span><span class="badge">5</span></a></li>
					                <li><a href="#"><span class="chat-name">Anton Durant</span><span class="user-img"><img src="http://placehold.it/150x150" alt="User"/></span><span class="label label-success">Online</span></a></li>
					                <li><a href="#"><span class="chat-name">Spiderman</span><span class="user-img"><img src="http://placehold.it/150x150" alt="User"/></span><span class="label label-success">Online</span></a></li>
					                <li><a href="#"><span class="chat-name">Muchu</span><span class="user-img"><img src="http://placehold.it/150x150" alt="User"/></span><span class="label label-default">Offline</span></a></li>
					                <li><a href="#"><span class="chat-name">Mr. Joker</span><span class="user-img"><img src="http://placehold.it/150x150" alt="User"/></span><span class="label label-success">Online</span></a></li>
					                <li><a href="#"><span class="chat-name">Chewbacca</span><span class="user-img"><img src="http://placehold.it/150x150" alt="User"/></span><span class="label label-success">Online</span></a></li>
					                <li><a href="#"><span class="chat-name">The Piggy</span><span class="user-img"><img src="http://placehold.it/150x150" alt="User"/></span><span class="label label-success">Online</span></a></li>
					                <li><a href="#"><span class="chat-name">Anton Durant</span><span class="user-img"><img src="http://placehold.it/150x150" alt="User"/></span><span class="label label-success">Online</span></a></li>
					                <li><a href="#"><span class="chat-name">Spiderman</span><span class="user-img"><img src="http://placehold.it/150x150" alt="User"/></span><span class="label label-success">Online</span></a></li>
					                <li><a href="#"><span class="chat-name">Muchu</span><span class="user-img"><img src="http://placehold.it/150x150" alt="User"/></span><span class="label label-success">Online</span></a></li>
					                <li><a href="#"><span class="chat-name">Anton Durant</span><span class="user-img"><img src="http://placehold.it/150x150" alt="User"/></span><span class="label label-success">Online</span></a></li>
					                <li><a href="#"><span class="chat-name">Spiderman</span><span class="user-img"><img src="http://placehold.it/150x150" alt="User"/></span><span class="label label-success">Online</span></a></li>
					                <li><a href="#"><span class="chat-name">Muchu</span><span class="user-img"><img src="http://placehold.it/150x150" alt="User"/></span><span class="label label-success">Online</span></a></li>
					                <li><a href="#"><span class="chat-name">Anton Durant</span><span class="user-img"><img src="http://placehold.it/150x150" alt="User"/></span><span class="label label-success">Online</span></a></li>
					                <li><a href="#"><span class="chat-name">Spiderman</span><span class="user-img"><img src="http://placehold.it/150x150" alt="User"/></span><span class="label label-success">Online</span></a></li>
					                <li><a href="#"><span class="chat-name">Muchu</span><span class="user-img"><img src="http://placehold.it/150x150" alt="User"/></span><span class="label label-success">Online</span></a></li>
					                <li><a href="#"><span class="chat-name">Anton Durant</span><span class="user-img"><img src="http://placehold.it/150x150" alt="User"/></span><span class="label label-default">Offline</span></a></li>
					                <li><a href="#"><span class="chat-name">Spiderman</span><span class="user-img"><img src="http://placehold.it/150x150" alt="User"/></span><span class="label label-success">Online</span></a></li>
				                	<li><a href="#"><span class="chat-name">Muchu</span><span class="user-img"><img src="http://placehold.it/150x150" alt="User"/></span><span class="label label-success">Online</span></a></li>
					          	</ul>
	            			</div>
	          			</div>
	    			</div>
	      		</div>
	      
	      		<!--User Tasks Panel-->
	      		<div class="tab-pane" id="userbar-three">
	        		<div class="nano"> 
	          			<!--Adding Some Scroll-->
	          			<div class="nano-content">
	            			<div class="small-todos">
	              				<div class="input-group input-group-sm">
	                				<input id="new-todo" placeholder="Add ToDo" type="text" class="form-control">
	                				<span class="input-group-btn">
	                					<button id="add-todo" class="btn btn-default" type="button"><i class="fa fa-plus-circle"></i></button>
	                				</span> 
	            				</div>
	              				<section id="task-list">
	                				<ul id="todo-list">
	                				</ul>
	              				</section>
	            			</div>
	          			</div>
	    			</div>
	      		</div>
      		<% end %>
    	</div>
  	</div>
  
  	<!-- /tabs --> 
  
</aside>