<div class="page-header">
	<h1><%= Ticket.model_name.human %><small><%= action_name %></small></h1>
</div>
			      
<!-- Widget Row Start grid -->
<div class="row">
	<div class="col-md-12 bootstrap-grid">
		<div data-widget-editbutton="false" id="power-forms-grid" class="powerwidget cold-grey" role="widget">
      		<div class="inner-spacer" role="content">
				<%= link_to new_ticket_url, {class: "btn btn-success"} do %>
					<i class="fa fa-plus"></i> <%= t(:new) %>
				<% end %>
				
                <%= search_form_for @q, url: tickets_url, id: 'quick-search', class: "form-horizontal pull-right no-padding col-sm-9 col-md-6 col-lg-4 #{'hide' if params[:advance]}" do |f| %>
	          		<div class="input-group">
						<%= f.text_field :no_or_name_or_description_or_priority_or_workflow_state_cont, :autofocus => true, class: "form-control", placeholder: "#{t(:search)} ..." %>
						<span class="input-group-addon btn" onclick="$('#quick-search').submit();"><i class="fa fa-search"></i></span>
						<span class="input-group-addon btn btn-primary" id="advanced-visibled-visibled"><%= t(:advanced) %></span>
                    </div>
                <% end %>
                
                <%= search_form_for @q, url: tickets_url, builder: SimpleForm::FormBuilder, id: 'advanced-search', html: {novalidate: true, class: "form-horizontal margin-top-5 #{'hide' unless params[:advance]}"} do |f| %>
                	<div class="panel panel-primary">
              			<div class="panel-heading">
                			<div class="panel-title pull-left"><%= t(:search) %><small><%= t(:advanced) %></small></div>
                			<div class="pull-right"> 
                				<span class="btn btn-xs" id="advanced-hidden-visibled"><i class="fa fa-times"></i></span>
            				</div>
                			<div class="clearfix"></div>
              			</div>
              			<div class="panel-body">
						  	<fieldset>
						  		
								<%= f.input :no_cont, required: false, label: Ticket.human_attribute_name(:no) %>
								<%= f.input :name_cont, required: false, label: Ticket.human_attribute_name(:name) %>
								<%= f.input :priority_cont, required: false, label: Ticket.human_attribute_name(:priority) %>
		    					
		                        <div class="form-group">
		                        	<label class="control-label col-md-4">
		                        		<%= Ticket.human_attribute_name(:workflow_state) %>
		                    		</label>
		                    		<div class="col-md-6">
				                        <%= f.select :workflow_state_in, Ticket.workflow_spec.states.keys.map{|k| [(t "workflow.state.#{k}"), k]}, {}, {multiple: true, "data-placeholder" => Ticket.human_attribute_name(:workflow_state), class: "form-control"} %>
		                        		<script type="text/javascript">jQuery(function($){ $("#q_workflow_state_in").select2({width: "100%"}); })</script>
		                			</div>
		            			</div>
								
								<% if false %>
		                            <%= f.association :creator_id_in, User.limit(100).collect{|r| [r.to_s, r.id]}, {include_blank: true}, {multiple: true, "data-placeholder" => Ticket.human_attribute_name(:created_by)} %>
		                            <%= render partial: "/admin/users/chosen_select", locals: {object_name: :q, select_id: :q_creator_id_in, width: "178px", no_create: true} %>
		                            <%= f.input :created_at_gteq, class: "date_custom optional date_picker", "data-date-format" => "dd/mm/yyyy", placeholder: "#{Ticket.human_attribute_name(:created_at)} #{t(:from_date)}", value: (params[:q][:created_at_gteq] rescue "") %>
		                            <%= f.input :created_at_lteq, class: "date_custom optional date_picker", "data-date-format" => "dd/mm/yyyy", placeholder:"#{Ticket.human_attribute_name(:created_at)} #{t(:to_date)}", value: (params[:q][:created_at_lteq] rescue "") %>
		                            <%= f.association :updater_id_in, User.limit(100).collect{|r| [r.to_s, r.id]}, {include_blank: true}, {multiple: true, "data-placeholder" => Ticket.human_attribute_name(:updated_by)} %>
		                            <%= render partial: "/admin/users/chosen_select", locals: {object_name: :q, select_id: :q_updater_id_in, width: "178px", no_create: true} %>
		                            <%= f.input :updated_at_gteq, class: "date_custom optional date_picker", "data-date-format" => "dd/mm/yyyy", placeholder: "#{Ticket.human_attribute_name(:updated_at)} #{t(:from_date)}", value: (params[:q][:updated_gteq] rescue "") %>
		                            <%= f.input :updated_at_lteq, class: "date_custom optional date_picker", "data-date-format" => "dd/mm/yyyy", placeholder:"#{Ticket.human_attribute_name(:updated_at)} #{t(:to_date)}", value: (params[:q][:updated_lteq] rescue "") %>
								<% end %>

								<div class="col-md-6 col-md-offset-4">
								    <%= f.button :button, class: "btn #{event_btn_class(:search)} margin-right-10" do %>
								        <%= event_icon_tag(:search) %>
								        <%= t(:search) %>
								    <% end %>
	                            	<%= hidden_field_tag "advance", true %>
							    </div>
						  	</fieldset>
						</div>
					</div>
                <% end %>
                <div class="clearfix"></div>
            	<legend></legend>
				<% @tickets.each do |ticket| %>
  					<%= link_to ticket, {class: "col-sm-12 col-md-6 col-lg-4 bootstrap-grid"} do %> 
						<!-- New widget -->
						<div class="powerwidget powerwidget-as-portlet-cold-grey" data-widget-editbutton="false">
	  						<header class="no-padding"> 
  								<div class="btn btn-sm btn-<%= ticket.priority_css %> pull-left" style="width:50px;"><%= ticket.priority %></div>
			                    <h4 class="pull-left no-margin-bottom margin-left-10 margin-top-5">
			                    	<%= Ticket.model_name.human %>
			                    	<%= "##{ticket.no}" %> 
			                	</h4>
			                	<h4 class="pull-left no-margin-bottom margin-top-5">
		                    		<small><%= distance_of_time_in_words_to_now ticket.created_at %></small>
		                    	</h4>
								<span class="btn btn-sm <%= state_btn_class(ticket.current_state.to_sym) %> pull-right"><%=t "workflow.state.#{ticket.current_state}" %></span>
		                	</header>
	  						<div class="inner-spacer no-padding-top">
	  							<div class="clearfix" style="white-space:nowrap; overflow-x:hidden; text-overflow:ellipsis;">
	  								<%= ticket.name %>
	  							</div>
	  							<div class="clearfix" style="white-space:nowrap; overflow-x:hidden; text-overflow:ellipsis;">
  									<span class="btn btn-xs btn-info">
	  									<%= ticket.last_ticket_comment_creator %> <i class="fa fa-comments"></i>
	  									<%= ticket.last_ticket_comment ? distance_of_time_in_words_to_now(ticket.last_ticket_comment.created_at) : nil %>
	  								</span>
  									<%= ticket.last_ticket_comment %>
	  							</div>
							</div>
						</div>
					<!-- /New widget --> 
				  	<% end %>
				  	<!-- /Inner Row Col-md-3 -->
                <% end %>
            	<% if false %>
	  				<table class="table table-striped table-hover margin-0px">
	                  	<thead>
	                    	<tr>
	                      		<th class="tools text-top" style="width:30px;"></th>
	                            <th style="width:60px;"><%= sort_link @q, :no %></th>
	                            <th><%= sort_link @q, :name %></th>
	                            <th style="width:60px;"><%= sort_link @q, :priority %></th>
	                            <th class="workflow_state"><%= sort_link @q, :workflow_state %></th>
	                    	</tr>
	                  	</thead>
	                  	<tbody>
	        				<% @tickets.each do |ticket| %>
	                    		<tr id="ticket_<%= ticket.id %>">
		                      		<td class="tools text-top" style="width:30px;">
									    <%= render partial: "/index_row_actions", locals: {
									        resource_class: Ticket, resource: ticket,
									        resources_url: tickets_url(q: params[:q], page: params[:page]),
									        resource_url: ticket_url(ticket, q: params[:q], page: params[:page])
									    } %>
	                      			</td>
									<td><%= ticket.no %></td>
									<td><%= ticket.name %></td>
									<td><%= ticket.priority %></td>
									<td><span class="label <%= state_label_class(ticket.workflow_state.to_sym) %>"><%=t "workflow.state.#{ticket.workflow_state}" %></span></td>
		                    	</tr>
	                    	<% end %>
	                  	</tbody>
	                </table>
                <% end %>
                <%= will_paginate @tickets %>
          	</div>
        </div>		
	</div>
</div>
<!-- /Widgets Row End Grid-->

<script>     
    $('#advanced-visibled-visibled').on('click' , function(){
        $('#quick-search').addClass('hide');
        $('#advanced-search').removeClass('hide');
    });    
    $('#advanced-hidden-visibled').on('click' , function(){
        $('#quick-search').removeClass('hide');
        $('#advanced-search').addClass('hide');
    });
</script>
