<script src="/highcharts/js/highcharts.js"></script>
<script src="/highcharts/js/highcharts-3d.js"></script>
<script src="/highcharts/js/modules/exporting.js"></script>
<div class="row">
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <%= form_tag(expenses_projects_reports_url, {id: 'quick-search', class: "form-horizontal pull-right no-padding", method: :get}) do %>
        	<span>ปีงบประมาณ : </span>
			<%= select :filters, :year, (2000..(Date.current.year + 10)).collect {|y| [y + 543, y]}.reverse, {}, {class: "form-control chosen-select", style: "width:100px;"} %>
			<%= submit_tag t(:report), {class: "btn btn-primary"} %>
        <% end %>
        <div class="clearfix margin-bottom-20"></div>
		
		<ul class="nav nav-tabs">
			<li>
				<a data-toggle="tab" id="budget-group-total-link" href="#budget-group-total">รายจ่ายงบประมาณเงินรายได้ </a>
			</li>
			<% @budget_groups.each do |budget_group| %>
				<li>
					<a data-toggle="tab" id="budget-group-<%= budget_group.id %>-link" href="#budget-group-<%= budget_group.id %>"><%= budget_group.to_s %></a>
				</li>
			<% end %>
		</ul>
		<div class="tab-content">
			<% budget_group_totals = [] %>
			<% @budget_groups.each do |budget_group| %>
				<div id="budget-group-<%= budget_group.id %>" class="tab-pane">
			        <h4 class="text-center">รายจ่ายจริง  งบประมาณเงินรายได้  <%= budget_group.to_s %></h4>
			        <h4 class="text-center">ประจำปีงบประมาณ <%= @year_thai %> (<%= @date0.to_s_thai %> - <%= @date.to_s_thai %>)</h4> 
					<h4 class="text-center">ณ วันที่ <%= Date.current.to_s_thai %></h4>
					
					<div class="clearfix margin-bottom-10"></div>
					<table class="table table-bordered margin-0px">
			          	<thead>
			            	<tr>
			            		<th colspan="3"><%= budget_group.to_s %></th>
			            		<th nowrap class="text-center">งบประมาณ</th>
			            		<th nowrap class="text-center">เบิกจ่าย</th>
			            		<th nowrap class="text-center">คิดเป็นร้อยละ<br/>ของงบประมาณ<br/>ที่ได้รับ</th>
			            		<th nowrap class="text-center">คิดเป็นร้อยละ<br/>ของการเบิกจ่าย<br/>ทั้งหมด</th>
			            	</tr>
			          	</thead>
			          	<tbody>
			          		<% 
			          			count = 0
			          			total_budget_amount = 0
			          			total_total_expense = 0
			          			
			          			@projects.select {|project| project.budget_group_id == budget_group.id}.each do |project|
			          				
	            					budget_amount = project.budget_amount
		            				total_expense = project.total_expense_with_children
		            				
				          			total_budget_amount += budget_amount.to_f
				          			total_total_expense += total_expense.to_f
			          			end
	            				
	            				total_budget_amount_percent = total_budget_amount.to_f > 0.0 ? (total_total_expense.to_f / total_budget_amount.to_f) * 100 : 0.0
            				 	total_total_expense_percent = total_total_expense.to_f > 0.0 ? (total_total_expense.to_f / total_total_expense.to_f) * 100 : 0.0
			          		%>
			      			<% @projects.select {|project| project.budget_group_id == budget_group.id}.each do |project| %>
	            				<%
	            					budget_amount = project.budget_amount
		            				total_expense = project.total_expense_with_children
		            				
		            				budget_amount_percent = budget_amount.to_f > 0.0 ? (total_expense.to_f / budget_amount.to_f) * 100 : 0.0
	            				 	total_expense_percent = total_total_expense.to_f > 0.0 ? (total_expense.to_f / total_total_expense.to_f) * 100 : 0.0
	            				%>
			            		<tr>
			            			<td class="text-right text-top" style="width:30px;" nowrap>
			            				<%= count += 1 %>.
									</td>
			            			<td class="text-top" style="width:50px;" nowrap>
										<%= project.code %>
									</td>
			            			<td class="text-top">
										<%= project.name %>
									</td>
			            			<td class="text-right text-top">
			            				<%= budget_amount.to_s_decimal_comma %>
			            			</td>
			            			<td class="text-right text-top">
			            				<%= total_expense.to_s_decimal_comma %>
			            			</td>
			            			<td class="text-right text-top">
			            				<%= budget_amount_percent.to_s_decimal_comma %>
			            			</td>
			            			<td class="text-right text-top">
			            				<%= total_expense_percent.to_s_decimal_comma %>
			            			</td>
			                	</tr>
	            			<% end %>
			          	</tbody>
			          	<tfoot>
			          		<tr>
			        			<th class="text-right text-top" colspan="3">รวมทั้งสิ้น</th>
			        			<th class="text-right text-top">
		            				<%= total_budget_amount.to_s_decimal_comma %>
			        			</th>
			        			<th class="text-right text-top">
		            				<%= total_total_expense.to_s_decimal_comma %>
			        			</th>
			        			<th class="text-right text-top">
		            				<%= total_budget_amount_percent.to_s_decimal_comma %>
			        			</th>
			        			<th class="text-right text-top">
		            				<%= total_total_expense_percent.to_s_decimal_comma %>
			        			</th>
			          		</tr>
			          	</tfoot>
			        </table>
				</div>
				<% budget_group_totals << [budget_group.to_s, total_total_expense] %>
	        <% end %>
			<div id="budget-group-total" class="tab-pane">
		        <h4 class="text-center">รายจ่ายงบประมาณเงินรายได้  สำนักบริหารและพัฒนาวิชาการ</h4>
		        <h4 class="text-center">ประจำปีงบประมาณ <%= @year_thai %> (<%= @date0.to_s_thai %> - <%= @date.to_s_thai %>)</h4> 
				<h4 class="text-center">ณ วันที่ <%= Date.current.to_s_thai %></h4>
				<div class="clearfix margin-bottom-10"></div>
				
				<table class="table table-bordered margin-0px">
		          	<thead>
		            	<tr>
		            		<th>รายจ่าย</th>
		            		<th nowrap class="text-center">เบิกจ่าย (บาท)</th>
		            		<th nowrap class="text-center">คิดเป็นร้อยละ<br/>ของการเบิกจ่าย<br/>ทั้งหมด</th>
		            	</tr>
		          	</thead>
		          	<tbody>
		          		<% 
		          			count = 0
		          			total_total_expense = 0
		          			
		          			budget_group_totals.each do |budget_group_total|
			          			total_total_expense += budget_group_total[1].to_f
	          				end 
		          		%>
		      			<% budget_group_totals.each do |budget_group_total| %>
		            		<tr>
		            			<td class="text-top">
		            				<%= count += 1 %>.
									<%= budget_group_total[0] %>
								</td>
		            			<td class="text-right text-top">
		            				<%= budget_group_total[1].to_s_decimal_comma %>
		            			</td>
		            			<td class="text-right text-top">
		            				<%= (total_total_expense.to_f > 0.0 ? (budget_group_total[1].to_f / total_total_expense.to_f) * 100 : 0.0).to_s_decimal_comma %>
		            			</td>
		                	</tr>
            			<% end %>
		          	</tbody>
		          	<tfoot>
		          		<tr>
		        			<th class="text-right text-top">รวมรายจ่ายทั้งสิ้น</th>
		        			<th class="text-right text-top">
	            				<%= total_total_expense.to_s_decimal_comma %>
		        			</th>
		        			<th class="text-right text-top">
	            				<%= (total_total_expense.to_f > 0.0 ? (total_total_expense.to_f / total_total_expense.to_f) * 100 : 0.0).to_s_decimal_comma %>
		        			</th>
		          		</tr>
		          	</tfoot>
		        </table>
		        <div class="clearfix margin-bottom-20"></div>
				<div id="budget-group-total-pie" class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="height:400px;"></div>
		        <div class="clearfix margin-bottom-20"></div>
			</div>
  		</div>
  	</div>
    <div class="clearfix margin-bottom-20"></div>
</div>

<script type="text/javascript">
    $(document).ready(function($){
    	
	    $('#budget-group-total-pie').highcharts({
	        credits: {enabled: false},
	        chart: {
	            type: 'pie',
	            options3d: {
	                enabled: true,
	                alpha: 60,
	                beta: 0
	            }
	        },
	        title: {
	            text: ''
	        },
	        tooltip: {
	            pointFormat: '{point.y:,.2f} บาท<br/><b>{point.percentage:,.2f}%</b>'
	        },
	        plotOptions: {
	            pie: {
	                allowPointSelect: true,
	                cursor: 'pointer',
	                depth: 35,
	                dataLabels: {
	                    enabled: true,
	                    format: '{point.name}<br/>{point.y:,.2f} บาท<br/><b>{point.percentage:,.2f}%</b>'
	                }, 
                	showInLegend: true
	            }
	        },
	        legend: {layout: 'vertical', align: 'center'},
	        series: [{
	            type: 'pie',
	            name: 'budget',
	            data: <%= budget_group_totals.inspect.html_safe %>
	        }]
	    });
	});
</script>

<script type="text/javascript">
	$(document).ready(function($){
		$('#budget-group-total-link').click();
 	});
</script>