<div class="page-header">
	<h1><%= Notification.model_name.human %><small><%= action_name %></small></h1>
</div>
			      
<!-- Widget Row Start grid -->
<div class="row" id="powerwidgets">
	<div class="col-md-12 bootstrap-grid">
		<div data-widget-editbutton="false" id="power-forms-grid" class="powerwidget cold-grey" role="widget">
      		<div class="inner-spacer" role="content">

                <%= search_form_for @q, url: notifications_url, id: 'quick-search', class: "form-horizontal pull-right no-padding col-sm-9 col-md-6 col-lg-4 #{'hide' if params[:advance]}" do |f| %>
	          		<div class="input-group">
						<%= f.text_field :description_cont, :autofocus => true, class: "form-control", placeholder: "#{t(:search)} ..." %>
						<span class="input-group-addon btn" onclick="$('#quick-search').submit();"><i class="fa fa-search"></i></span>
                    </div>
                <% end %>
                
                <div class="clearfix"></div>
            	<legend></legend>
            	
            	<ol class="dd-list new" style="">
              		<% @notifications.each do |notification| %>
                    	<li data-id="<%= notification.id %>" class="dd-item task-item">
                    		<%= link_to seen_notifications_url(id: notification.id), {id: "notification-#{notification.id}", remote: true, class: "task-content #{ 'bg-info' if notification.current_state.to_sym == :unseen}"} do %>
	                        	<h4>
	                        		<%= notification.object %>
	                        	</h4>
	                        	<p class="desc"><%= notification.description %></p>
	                        	<small><i class="fa fa-clock-o"></i> <%= notification.created_at.strftime("%b %d %H:%M") %> | From: <%= notification.creator %></small> 
                        	<% end %>
	                    </li>
                    <% end %>
              	</ol>
          	</div>
        </div>		
	</div>
</div>
<!-- /Widgets Row End Grid-->
