<% is_confirm_range = @current_evaluation.confirm_start_date <= Date.current && @current_evaluation.confirm_end_date >= Date.current %>
<div class="page-header">
	<h1><%= t(:confirm) %><small><%= @current_evaluation.confirm_start_date ? @current_evaluation.confirm_start_date.strftime("%d/%m/%Y") : "" %> - <%= @current_evaluation.confirm_end_date ? @current_evaluation.confirm_end_date.strftime("%d/%m/%Y") : "" %></small></h1>
</div>

<% if current_user.is_director?(@current_evaluation) %>
	<div class="row" id="powerwidgets">
		<div class="col-md-12 bootstrap-grid">
			<div class="powerwidget cold-grey" role="widget">
	      		<header role="heading">
	        		<h2>
	        			<%= Evaluation.human_attribute_name(:vice_director) %>, <%= Evaluation.human_attribute_name(:secretary) %>, <%= Section.human_attribute_name(:leader) %>, <%= Section.human_attribute_name(:vice_leader) %>
	        			<small>
	        				<%= t(:confirm_as) %> : 
	        				<%= Evaluation.human_attribute_name(:director) %>
	        			</small>
	        		</h2>
	      		</header>
	      		<div class="inner-spacer" role="content">
	  				<table class="table table-striped table-hover margin-0px">
	                  	<thead>
	                    	<tr>
	                            <th rowspan="2"><%= SectionUser.human_attribute_name(:user) %></th>
	                            <th colspan="2" style="text-align:center; background-color:#d24d33;"><%= JobPlan.model_name.human %></th>
	                            <th colspan="2" style="text-align:center; background-color:#d24d33;"><%= JobRoutine.model_name.human %></th>
	                            <th colspan="2" style="text-align:center; background-color:#5bc0de;"><%= JobVice.model_name.human %></th>
	                            <th colspan="2" style="text-align:center; background-color:#82b964;"><%= JobDevelopment.model_name.human %></th>
	                    	</tr>
	                    	<tr>
	                    		<th style="text-align:center; width:60px; background-color:#d24d33;">ยืนยันแล้ว</th>
	                    		<th style="text-align:center; width:60px; background-color:#d24d33;">ทั้งหมด</th>
	                    		<th style="text-align:center; width:60px; background-color:#d24d33;">ยืนยันแล้ว</th>
	                    		<th style="text-align:center; width:60px; background-color:#d24d33;">ทั้งหมด</th>
	                    		<th style="text-align:center; width:60px; background-color:#5bc0de;">ยืนยันแล้ว</th>
	                    		<th style="text-align:center; width:60px; background-color:#5bc0de;">ทั้งหมด</th>
	                    		<th style="text-align:center; width:60px; background-color:#82b964;">ยืนยันแล้ว</th>
	                    		<th style="text-align:center; width:60px; background-color:#82b964;">ทั้งหมด</th>
	                    	</tr>
	                  	</thead>
	                  	<tbody>
	                  		<% 
	          					users = []
	          					users << @current_evaluation.vice_director
	          					users << @current_evaluation.secretary if users.select {|uu| uu.id == @current_evaluation.secretary.id}.size == 0
	          					Section.all.collect {|s| s.leader}.each do |u|
	          						users << u if !u.nil? && users.select {|uu| uu && u && uu.id == u.id}.size == 0
	          					end
	          					Section.all.collect {|s| s.vice_leader}.each do |u|
	          						users << u if !u.nil? && users.select {|uu| uu && u && uu.id == u.id}.size == 0
	          					end
		      					users -= [current_user] 
      						%>
							<% users.sort_by {|u| u.to_s}.each do |user| %>
	                    		<tr id="user_<%= user.id %>">
									<td class="text-top">
										<%= link_to user.prefix_firstname_lastname, user_confirms_url(user) %><br/>
										(<%= user.position_boards(@current_evaluation).join(', ') %>)
									</td>
									<td style="vertical-align:top; text-align:center;">
										<%= user.job_plans.where(evaluation_id: @current_evaluation.id, workflow_state: :confirmed).size %>
									</td>
									<td style="vertical-align:top; text-align:center;">
										<%= user.job_plans.where(evaluation_id: @current_evaluation.id).size %>
									</td>
									<td style="vertical-align:top; text-align:center;">
										<%= user.job_routines.where(evaluation_id: @current_evaluation.id, workflow_state: :confirmed).size %>
									</td>
									<td style="vertical-align:top; text-align:center;">
										<%= user.job_routines.where(evaluation_id: @current_evaluation.id).size %>
									</td>
									<td style="vertical-align:top; text-align:center;">
										<%= user.job_vices.where(evaluation_id: @current_evaluation.id, workflow_state: :confirmed).size %>
									</td>
									<td style="vertical-align:top; text-align:center;">
										<%= user.job_vices.where(evaluation_id: @current_evaluation.id).size %>
									</td>
									<td style="vertical-align:top; text-align:center;">
										<%= user.job_developments.where(evaluation_id: @current_evaluation.id, workflow_state: :confirmed).size %>
									</td>
									<td style="vertical-align:top; text-align:center;">
										<%= user.job_developments.where(evaluation_id: @current_evaluation.id).size %>
									</td>
		                    	</tr>
	                    	<% end %>
	                  	</tbody>
	                </table>
	          	</div>
	        </div>		
		</div>
	</div>
<% end %>

<% if current_user.is_vice_director?(@current_evaluation) && !current_user.is_director?(@current_evaluation) %>
	<div class="row" id="powerwidgets">
		<div class="col-md-12 bootstrap-grid">
			<div class="powerwidget cold-grey" role="widget">
	      		<header role="heading">
	        		<h2>
	        			<%= Evaluation.human_attribute_name(:secretary) %>, <%= Section.human_attribute_name(:leader) %>, <%= Section.human_attribute_name(:vice_leader) %>
	        			<small>
	        				<%= t(:confirm_as) %> : 
	        				<%= Evaluation.human_attribute_name(:vice_director) %>
	        			</small>
	        		</h2>
	      		</header>
	      		<div class="inner-spacer" role="content">
	  				<table class="table table-striped table-hover margin-0px">
	                  	<thead>
	                    	<tr>
	                            <th rowspan="2"><%= SectionUser.human_attribute_name(:user) %></th>
	                            <th colspan="2" style="text-align:center; background-color:#d24d33;"><%= JobPlan.model_name.human %></th>
	                            <th colspan="2" style="text-align:center; background-color:#d24d33;"><%= JobRoutine.model_name.human %></th>
	                            <th colspan="2" style="text-align:center; background-color:#5bc0de;"><%= JobVice.model_name.human %></th>
	                            <th colspan="2" style="text-align:center; background-color:#82b964;"><%= JobDevelopment.model_name.human %></th>
	                    	</tr>
	                    	<tr>
	                    		<th style="text-align:center; width:60px; background-color:#d24d33;">ยืนยันแล้ว</th>
	                    		<th style="text-align:center; width:60px; background-color:#d24d33;">ทั้งหมด</th>
	                    		<th style="text-align:center; width:60px; background-color:#d24d33;">ยืนยันแล้ว</th>
	                    		<th style="text-align:center; width:60px; background-color:#d24d33;">ทั้งหมด</th>
	                    		<th style="text-align:center; width:60px; background-color:#5bc0de;">ยืนยันแล้ว</th>
	                    		<th style="text-align:center; width:60px; background-color:#5bc0de;">ทั้งหมด</th>
	                    		<th style="text-align:center; width:60px; background-color:#82b964;">ยืนยันแล้ว</th>
	                    		<th style="text-align:center; width:60px; background-color:#82b964;">ทั้งหมด</th>
	                    	</tr>
	                  	</thead>
	                  	<tbody>
	                  		<% 
	          					users = []
	          					users << @current_evaluation.secretary if users.select {|uu| uu.id == @current_evaluation.secretary.id}.size == 0
	          					Section.all.collect {|s| s.leader}.each do |u|
	          						users << u if !u.nil? && users.select {|uu| uu && u && uu.id == u.id}.size == 0
	          					end
	          					Section.all.collect {|s| s.vice_leader}.each do |u|
	          						users << u if !u.nil? && users.select {|uu| uu && u && uu.id == u.id}.size == 0
	          					end
		      					users -= [current_user] 
      						%>
							<% users.sort_by {|u| u.to_s}.each do |user| %>
	                    		<tr id="user_<%= user.id %>">
									<td class="text-top">
										<%= link_to user.prefix_firstname_lastname, user_confirms_url(user) %><br/>
										(<%= user.position_boards(@current_evaluation).join(', ') %>)
									</td>
									<td style="vertical-align:top; text-align:center;">
										<%= user.job_plans.where(evaluation_id: @current_evaluation.id, workflow_state: :confirmed).size %>
									</td>
									<td style="vertical-align:top; text-align:center;">
										<%= user.job_plans.where(evaluation_id: @current_evaluation.id).size %>
									</td>
									<td style="vertical-align:top; text-align:center;">
										<%= user.job_routines.where(evaluation_id: @current_evaluation.id, workflow_state: :confirmed).size %>
									</td>
									<td style="vertical-align:top; text-align:center;">
										<%= user.job_routines.where(evaluation_id: @current_evaluation.id).size %>
									</td>
									<td style="vertical-align:top; text-align:center;">
										<%= user.job_vices.where(evaluation_id: @current_evaluation.id, workflow_state: :confirmed).size %>
									</td>
									<td style="vertical-align:top; text-align:center;">
										<%= user.job_vices.where(evaluation_id: @current_evaluation.id).size %>
									</td>
									<td style="vertical-align:top; text-align:center;">
										<%= user.job_developments.where(evaluation_id: @current_evaluation.id, workflow_state: :confirmed).size %>
									</td>
									<td style="vertical-align:top; text-align:center;">
										<%= user.job_developments.where(evaluation_id: @current_evaluation.id).size %>
									</td>
		                    	</tr>
	                    	<% end %>
	                  	</tbody>
	                </table>
	          	</div>
	        </div>		
		</div>
	</div>
<% end %>

<% Section.where(["leader_id = ? OR vice_leader_id = ?", current_user.id, current_user.id]).sort_by {|s| [s.name]}.each do |section| %>
	<div class="row" id="powerwidgets">
		<div class="col-md-12 bootstrap-grid">
			<div class="powerwidget cold-grey" role="widget">
	      		<header role="heading">
	        		<h2>
	        			<%= Section.model_name.human %> : 
	        			<%= section.name %>
	        			<small>
	        				<%= t(:confirm_as) %> : 
	        				<% if section.leader_id == current_user.id %>
	        					<%= Section.human_attribute_name(:leader) %>
        					<% elsif section.vice_leader_id == current_user.id %>
	        					<%= Section.human_attribute_name(:vice_leader) %>
	        				<% end %>
	        			</small>
	        		</h2>
	      		</header>
	      		<div class="inner-spacer" role="content">
	  				<table class="table table-striped table-hover margin-0px">
	                  	<thead>
	                    	<tr>
	                            <th rowspan="2"><%= SectionUser.human_attribute_name(:user) %></th>
	                            <th colspan="2" style="text-align:center; background-color:#d24d33;"><%= JobPlan.model_name.human %></th>
	                            <th colspan="2" style="text-align:center; background-color:#d24d33;"><%= JobRoutine.model_name.human %></th>
	                            <th colspan="2" style="text-align:center; background-color:#5bc0de;"><%= JobVice.model_name.human %></th>
	                            <th colspan="2" style="text-align:center; background-color:#82b964;"><%= JobDevelopment.model_name.human %></th>
	                    	</tr>
	                    	<tr>
	                    		<th style="text-align:center; width:60px; background-color:#d24d33;">ยืนยันแล้ว</th>
	                    		<th style="text-align:center; width:60px; background-color:#d24d33;">ทั้งหมด</th>
	                    		<th style="text-align:center; width:60px; background-color:#d24d33;">ยืนยันแล้ว</th>
	                    		<th style="text-align:center; width:60px; background-color:#d24d33;">ทั้งหมด</th>
	                    		<th style="text-align:center; width:60px; background-color:#5bc0de;">ยืนยันแล้ว</th>
	                    		<th style="text-align:center; width:60px; background-color:#5bc0de;">ทั้งหมด</th>
	                    		<th style="text-align:center; width:60px; background-color:#82b964;">ยืนยันแล้ว</th>
	                    		<th style="text-align:center; width:60px; background-color:#82b964;">ทั้งหมด</th>
	                    	</tr>
	                  	</thead>
	                  	<tbody>
	                  		<% users = section.section_users.collect {|su| su.user} - [current_user] %>
							<% users.sort_by {|u| u.to_s}.each do |user| %>
	                    		<tr id="user_<%= user.id %>">
									<td class="text-top">
										<%= link_to user.prefix_firstname_lastname, user_confirms_url(user) %>
									</td>
									<td style="vertical-align:top; text-align:center;">
										<%= user.job_plans.where(evaluation_id: @current_evaluation.id, workflow_state: :confirmed).size %>
									</td>
									<td style="vertical-align:top; text-align:center;">
										<%= user.job_plans.where(evaluation_id: @current_evaluation.id).size %>
									</td>
									<td style="vertical-align:top; text-align:center;">
										<%= user.job_routines.where(evaluation_id: @current_evaluation.id, workflow_state: :confirmed).size %>
									</td>
									<td style="vertical-align:top; text-align:center;">
										<%= user.job_routines.where(evaluation_id: @current_evaluation.id).size %>
									</td>
									<td style="vertical-align:top; text-align:center;">
										<%= user.job_vices.where(evaluation_id: @current_evaluation.id, workflow_state: :confirmed).size %>
									</td>
									<td style="vertical-align:top; text-align:center;">
										<%= user.job_vices.where(evaluation_id: @current_evaluation.id).size %>
									</td>
									<td style="vertical-align:top; text-align:center;">
										<%= user.job_developments.where(evaluation_id: @current_evaluation.id, workflow_state: :confirmed).size %>
									</td>
									<td style="vertical-align:top; text-align:center;">
										<%= user.job_developments.where(evaluation_id: @current_evaluation.id).size %>
									</td>
		                    	</tr>
	                    	<% end %>
	                  	</tbody>
	                </table>
	          	</div>
	        </div>		
		</div>
	</div>
<% end %>