<div class="row">
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <%= form_tag({}, {id: 'quick-search', class: "form-horizontal pull-right no-padding", method: :get}) do %>
        	<span>ปีงบประมาณ : </span>
			<%= select :filters, :year, (2000..(Date.current.year + 1)).collect {|y| [y + 543, y]}.reverse, {}, {class: "form-control chosen-select", style: "width:100px;"} %>
			<%= submit_tag t(:report), {class: "btn btn-primary"} %>
        <% end %>
        <div class="clearfix margin-bottom-20"></div>
        
        <div class="col-xs-12">
        	<h4 class="text-center">สรุปข้อมูลผลการดำเนินงานตามวิสัยทัศน์ ตัวชี้วัด กลยุทธ์ โครงกาาร</h4>
        	<h4 class="text-center">ตามแผนปฏิบัติราชการ ประจำปีงบประมาณ พ.ศ. <%= @filters.year + 543 %> สำนักบริหารและพัฒนาวิชาการ</h4>
        	
        	<table class="table table-bordered">
        		<thead>
        			<tr>
        				<th class="text-center" rowspan="3">ประเด็นยุทธศาสตร์</th>
        				<th class="text-center" colspan="7">ผลการดำเนินการ</th>
        			</tr>
        			<tr>
        				<th class="text-center" rowspan="2" style="width:100px;">จำนวน</th>
        				<th class="text-center" colspan="2">ดำเนินการแล้วเป็นไปตามแผนและเป้าหมาย</th>
        				<th class="text-center" colspan="2">เริ่มดำเนินการแล้วแต่ยังไม่รายงานผล</th>
        				<th class="text-center" colspan="2">ยังไม่ได้ดำเนินการ</th>
        			</tr>
        			<tr>
        				<th class="text-center" style="width:100px;">จำนวน</th>
        				<th class="text-center" style="width:100px;">ร้อยละ</th>
        				<th class="text-center" style="width:100px;">จำนวน</th>
        				<th class="text-center" style="width:100px;">ร้อยละ</th>
        				<th class="text-center" style="width:100px;">จำนวน</th>
        				<th class="text-center" style="width:100px;">ร้อยละ</th>
        			</tr>
        		</thead>
        		<tbody>
					<%
						projects = Project.where(["year = ? AND strategy_id IS NOT NULL AND workflow_state IN (?)", @filters.year, Project.active_states])
						indicators = Indicator.joins("JOIN projects ON projects.id = indicators.project_id").where(["projects.year = ? AND projects.strategy_id IS NOT NULL AND projects.workflow_state IN (?)", @filters.year, Project.active_states])
						
						indicator_size = indicators.select {|ind| ind.project.level == 0}.size
						indicator_true_size = indicators.select {|ind| ind.project.level == 0 && ind.project.is_started && ind.project.activities.size > 0}.size
						indicator_false_size = indicators.select {|ind| ind.project.level == 0 && ind.project.is_started && ind.project.activities.size == 0}.size
						indicator_null_size = indicators.select {|ind| ind.project.level == 0 && !ind.project.is_started}.size
						
						sub_indicator_size = indicators.select {|ind| ind.project.level == 1}.size
						sub_indicator_true_size = indicators.select {|ind| ind.project.level == 1 && ind.project.is_started && ind.project.activities.size > 0}.size
						sub_indicator_false_size = indicators.select {|ind| ind.project.level == 1 && ind.project.is_started && ind.project.activities.size == 0}.size
						sub_indicator_null_size = indicators.select {|ind| ind.project.level == 1 && !ind.project.is_started}.size
						
						project_size = projects.select {|pj| pj.level == 0}.size
						project_true_size = projects.select {|pj| pj.level == 0 && pj.is_started && pj.activities.size > 0}.size
						project_false_size = projects.select {|pj| pj.level == 0 && pj.is_started && pj.activities.size == 0}.size
						project_null_size = projects.select {|pj| pj.level == 0 && !pj.is_started}.size
						
						sub_project_size = projects.select {|pj| pj.level == 1}.size
						sub_project_true_size = projects.select {|pj| pj.level == 1 && pj.is_started && pj.activities.size > 0}.size
						sub_project_false_size = projects.select {|pj| pj.level == 1 && pj.is_started && pj.activities.size == 0}.size
						sub_project_null_size = projects.select {|pj| pj.level == 1 && !pj.is_started}.size
						
					%>
        			<tr>
        				<td colspan="8">รวมทุกประเด็นยุทธศาสตร์</td>
        			</tr>
        			<tr>
        				<td class="text-right">ตัวชี้วัดหลัก</td>
        				<td class="text-center"><%= indicator_size %></td>
        				<td class="text-center"><%= indicator_true_size %></td>
        				<td class="text-center"><%= (indicator_size > 0 ? (indicator_true_size.to_f / indicator_size.to_f) * 100 : 0).to_s_decimal_comma %></td>
        				<td class="text-center"><%= indicator_false_size %></td>
        				<td class="text-center"><%= (indicator_size > 0 ? (indicator_false_size.to_f / indicator_size.to_f) * 100 : 0).to_s_decimal_comma %></td>
        				<td class="text-center"><%= indicator_null_size %></td>
        				<td class="text-center"><%= (indicator_size > 0 ? (indicator_null_size.to_f / indicator_size.to_f) * 100 : 0).to_s_decimal_comma %></td>
        			</tr>
        			<tr>
        				<td class="text-right">ตัวชี้วัดย่อย</td>
        				<td class="text-center"><%= sub_indicator_size %></td>
        				<td class="text-center"><%= sub_indicator_true_size %></td>
        				<td class="text-center"><%= (sub_indicator_size > 0 ? (sub_indicator_true_size.to_f / sub_indicator_size.to_f) * 100 : 0).to_s_decimal_comma %></td>
        				<td class="text-center"><%= sub_indicator_false_size %></td>
        				<td class="text-center"><%= (sub_indicator_size > 0 ? (sub_indicator_false_size.to_f / sub_indicator_size.to_f) * 100 : 0).to_s_decimal_comma %></td>
        				<td class="text-center"><%= sub_indicator_null_size %></td>
        				<td class="text-center"><%= (sub_indicator_size > 0 ? (sub_indicator_null_size.to_f / sub_indicator_size.to_f) * 100 : 0).to_s_decimal_comma %></td>
        			</tr>
        			<tr>
        				<td class="text-right">โครงการหลัก</td>
        				<td class="text-center"><%= project_size %></td>
        				<td class="text-center"><%= project_true_size %></td>
        				<td class="text-center"><%= (project_size > 0 ? (project_true_size.to_f / project_size.to_f) * 100 : 0).to_s_decimal_comma %></td>
        				<td class="text-center"><%= project_false_size %></td>
        				<td class="text-center"><%= (project_size > 0 ? (project_false_size.to_f / project_size.to_f) * 100 : 0).to_s_decimal_comma %></td>
        				<td class="text-center"><%= project_null_size %></td>
        				<td class="text-center"><%= (project_size > 0 ? (project_null_size.to_f / project_size.to_f) * 100 : 0).to_s_decimal_comma %></td>
        			</tr>
        			<tr>
        				<td class="text-right">โครงการย่อย</td>
        				<td class="text-center"><%= sub_project_size %></td>
        				<td class="text-center"><%= sub_project_true_size %></td>
        				<td class="text-center"><%= (sub_project_size > 0 ? (sub_project_true_size.to_f / sub_project_size.to_f) * 100 : 0).to_s_decimal_comma %></td>
        				<td class="text-center"><%= sub_project_false_size %></td>
        				<td class="text-center"><%= (sub_project_size > 0 ? (sub_project_false_size.to_f / sub_project_size.to_f) * 100 : 0).to_s_decimal_comma %></td>
        				<td class="text-center"><%= sub_project_null_size %></td>
        				<td class="text-center"><%= (sub_project_size > 0 ? (sub_project_null_size.to_f / sub_project_size.to_f) * 100 : 0).to_s_decimal_comma %></td>
        			</tr>
        			<% StrategyGroup.all_enabled.each do |strategy_group| %>
	        			<tr>
	        				<td colspan="8"><%= strategy_group.to_s %></td>
	        			</tr>
    					<% strategy_group.strategies.where(["year = ?", @filters.year]).each do |strategy| %>
    						<%
    							projects = Project.where(["year = ? AND strategy_id = ? AND projects.workflow_state IN (?)", @filters.year, strategy.id, Project.active_states])
								indicators = Indicator.joins("JOIN projects ON projects.id = indicators.project_id").where(["projects.year = ? AND projects.strategy_id = ? AND projects.workflow_state IN (?)", @filters.year, strategy.id, Project.active_states])
    							
								indicator_size = indicators.select {|ind| ind.project.level == 0}.size
								indicator_true_size = indicators.select {|ind| ind.project.level == 0 && ind.project.is_started && ind.project.activities.size > 0}.size
								indicator_false_size = indicators.select {|ind| ind.project.level == 0 && ind.project.is_started && ind.project.activities.size == 0}.size
								indicator_null_size = indicators.select {|ind| ind.project.level == 0 && !ind.project.is_started}.size
								
								sub_indicator_size = indicators.select {|ind| ind.project.level == 1}.size
								sub_indicator_true_size = indicators.select {|ind| ind.project.level == 1 && ind.project.is_started && ind.project.activities.size > 0}.size
								sub_indicator_false_size = indicators.select {|ind| ind.project.level == 1 && ind.project.is_started && ind.project.activities.size == 0}.size
								sub_indicator_null_size = indicators.select {|ind| ind.project.level == 1 && !ind.project.is_started}.size
								
								project_size = projects.select {|pj| pj.level == 0}.size
								project_true_size = projects.select {|pj| pj.level == 0 && pj.is_started && pj.activities.size > 0}.size
								project_false_size = projects.select {|pj| pj.level == 0 && pj.is_started && pj.activities.size == 0}.size
								project_null_size = projects.select {|pj| pj.level == 0 && !pj.is_started}.size
								
								sub_project_size = projects.select {|pj| pj.level == 1}.size
								sub_project_true_size = projects.select {|pj| pj.level == 1 && pj.is_started && pj.activities.size > 0}.size
								sub_project_false_size = projects.select {|pj| pj.level == 1 && pj.is_started && pj.activities.size == 0}.size
								sub_project_null_size = projects.select {|pj| pj.level == 1 && !pj.is_started}.size
    						%>
		        			<tr>
		        				<td colspan="8"><%= strategy.to_s %></td>
		        			</tr>
		        			<tr>
		        				<td class="text-right">ตัวชี้วัดหลัก</td>
		        				<td class="text-center"><%= indicator_size %></td>
		        				<td class="text-center"><%= indicator_true_size %></td>
		        				<td class="text-center"><%= (indicator_size > 0 ? (indicator_true_size.to_f / indicator_size.to_f) * 100 : 0).to_s_decimal_comma %></td>
		        				<td class="text-center"><%= indicator_false_size %></td>
		        				<td class="text-center"><%= (indicator_size > 0 ? (indicator_false_size.to_f / indicator_size.to_f) * 100 : 0).to_s_decimal_comma %></td>
		        				<td class="text-center"><%= indicator_null_size %></td>
		        				<td class="text-center"><%= (indicator_size > 0 ? (indicator_null_size.to_f / indicator_size.to_f) * 100 : 0).to_s_decimal_comma %></td>
		        			</tr>
		        			<tr>
		        				<td class="text-right">ตัวชี้วัดย่อย</td>
		        				<td class="text-center"><%= sub_indicator_size %></td>
		        				<td class="text-center"><%= sub_indicator_true_size %></td>
		        				<td class="text-center"><%= (sub_indicator_size > 0 ? (sub_indicator_true_size.to_f / sub_indicator_size.to_f) * 100 : 0).to_s_decimal_comma %></td>
		        				<td class="text-center"><%= sub_indicator_false_size %></td>
		        				<td class="text-center"><%= (sub_indicator_size > 0 ? (sub_indicator_false_size.to_f / sub_indicator_size.to_f) * 100 : 0).to_s_decimal_comma %></td>
		        				<td class="text-center"><%= sub_indicator_null_size %></td>
		        				<td class="text-center"><%= (sub_indicator_size > 0 ? (sub_indicator_null_size.to_f / sub_indicator_size.to_f) * 100 : 0).to_s_decimal_comma %></td>
		        			</tr>
		        			<tr>
		        				<td class="text-right">โครงการหลัก</td>
		        				<td class="text-center"><%= project_size %></td>
		        				<td class="text-center"><%= project_true_size %></td>
		        				<td class="text-center"><%= (project_size > 0 ? (project_true_size.to_f / project_size.to_f) * 100 : 0).to_s_decimal_comma %></td>
		        				<td class="text-center"><%= project_false_size %></td>
		        				<td class="text-center"><%= (project_size > 0 ? (project_false_size.to_f / project_size.to_f) * 100 : 0).to_s_decimal_comma %></td>
		        				<td class="text-center"><%= project_null_size %></td>
		        				<td class="text-center"><%= (project_size > 0 ? (project_null_size.to_f / project_size.to_f) * 100 : 0).to_s_decimal_comma %></td>
		        			</tr>
		        			<tr>
		        				<td class="text-right">โครงการย่อย</td>
		        				<td class="text-center"><%= sub_project_size %></td>
		        				<td class="text-center"><%= sub_project_true_size %></td>
		        				<td class="text-center"><%= (sub_project_size > 0 ? (sub_project_true_size.to_f / sub_project_size.to_f) * 100 : 0).to_s_decimal_comma %></td>
		        				<td class="text-center"><%= sub_project_false_size %></td>
		        				<td class="text-center"><%= (sub_project_size > 0 ? (sub_project_false_size.to_f / sub_project_size.to_f) * 100 : 0).to_s_decimal_comma %></td>
		        				<td class="text-center"><%= sub_project_null_size %></td>
		        				<td class="text-center"><%= (sub_project_size > 0 ? (sub_project_null_size.to_f / sub_project_size.to_f) * 100 : 0).to_s_decimal_comma %></td>
		        			</tr>
    					<% end %>
        			<% end %>
        		</tbody>
    		</table>
    		<div class="text-left">
    			**	ดำเนินการแล้วเป็นไปตามแผนและเป้าหมาย หมายถึงโครงการที่บันทึกโครงการและรายงานผลเรียบร้อยทั้ง 2 อย่าง<br/>
				**	เริ่มดำเนินการแล้วแต่ยังรายงานผล หมายถึงโครงการที่บันทึกโครงการแล้วแต่ยังไม่รายงานผล<br/>
				**	ยังไม่ได้ดำเนินการ หมายถึง ยังไม่ทำอะไรเลย
    		</div>
    	</div>
    </div>
</div>
