<!-- replace 'parent_object' with your parent object name -->
<% 
	f_index = "#{f.index}".to_s
	object_name = "parent_object_evaluation_salary_ups_attributes_#{f_index}".to_sym
	evaluation_select_id = "parent_object_evaluation_salary_ups_attributes_#{f_index}_evaluation_id".to_sym
%> 
<tr class="nested-fields">
    <td style="vertical-align:top;">
        <%= f.association :evaluation, wrapper: :nested_form, collection: (Evaluation.all + (f.object.evaluation.nil? ? [] : [f.object.evaluation])).uniq.sort_by {|asso| asso.to_s}, value_method: :id, label_method: :to_s, input_html: {data: {placeholder: t(:choose)}} %>
        <%= render partial: "/evaluations/chosen_select", locals: {object_name: :evaluation_salary_up, no_create: true, select_id: evaluation_select_id} %>
    </td>
    <td style="vertical-align:top;">
        <%= f.input :percent_of_change, wrapper: :nested_form %>
    </td>
    <td style="vertical-align:top;">
        <%= f.input :total_amount, wrapper: :nested_form %>
    </td>
    <td style="vertical-align:top;">
        <%= f.input :total_eligible_amount, wrapper: :nested_form %>
    </td>
    <td style="vertical-align:top;">
        <%= f.input :point_level1, wrapper: :nested_form %>
    </td>
    <td style="vertical-align:top;">
        <%= f.input :point_level2, wrapper: :nested_form %>
    </td>
    <td style="vertical-align:top;">
        <%= f.input :point_level3, wrapper: :nested_form %>
    </td>
    <td style="vertical-align:top;">
        <%= f.input :point_level4, wrapper: :nested_form %>
    </td>
    <td style="vertical-align:top;">
        <%= f.input :point_level5, wrapper: :nested_form %>
    </td>
    <td style="vertical-align:top;">
        <%= f.input :min_change1, wrapper: :nested_form %>
    </td>
    <td style="vertical-align:top;">
        <%= f.input :min_change2, wrapper: :nested_form %>
    </td>
    <td style="vertical-align:top;">
        <%= f.input :min_change3, wrapper: :nested_form %>
    </td>
    <td style="vertical-align:top;">
        <%= f.input :min_change4, wrapper: :nested_form %>
    </td>
    <td style="vertical-align:top;">
        <%= f.input :min_change5, wrapper: :nested_form %>
    </td>
    <td style="vertical-align:top;">
        <%= f.input :max_change1, wrapper: :nested_form %>
    </td>
    <td style="vertical-align:top;">
        <%= f.input :max_change2, wrapper: :nested_form %>
    </td>
    <td style="vertical-align:top;">
        <%= f.input :max_change3, wrapper: :nested_form %>
    </td>
    <td style="vertical-align:top;">
        <%= f.input :max_change4, wrapper: :nested_form %>
    </td>
    <td style="vertical-align:top;">
        <%= f.input :max_change5, wrapper: :nested_form %>
    </td>
    <% unless action_name == "show" %>
        <td style="vertical-align:top;">
            <%= link_to_remove_association f, class: "btn btn-sm btn-danger" do %>
               <i class='fa fa-trash-o'></i>
            <% end %>
			<script type="text/javascript">$(document).ready( function() { jQuery(function($){ $("#parent_object_evaluation_salary_ups_attributes_<%= f.index %>_evaluation").chosen({width: "100%"}); }); });</script>
        </td>
    <% end %>
</tr>