<% role ||= "" %>
<% unless role.blank? %>
	<div class="powerwidget red" role="widget">
  		<header role="heading">
    		<h2>ประเมินตามภาระงาน<small>...</small></h2>
  		</header>
  		<div class="inner-spacer" role="content">
			<table class="table table-striped table-hover margin-0px">
              	<thead>
                	<tr>
                		<th style="width:50px; text-align:right;"></th>
                        <th><%= EmployeeType.model_name.human %></th>
                        <th style="width:60px; text-align:center;">จำนวน (คน)</th>
                	</tr>
              	</thead>
              	<tbody>
	          		<% 
	          			section_id = @section ? @section.id : nil
	          			team_id = @team ? @team.id : nil
	          			faculty_id = @faculty ? @faculty.id : nil
	          			users = current_user.assess_to(@current_evaluation, @role, {section_id: section_id, team_id: team_id, faculty_id: faculty_id})
      					users -= [current_user]
          			%>
              		<% count = 0 %>
	          		<% total_user_size = 0 %>
              		<% EmployeeType.order(:sorting).each do |employee_type| %>
              			<% user_size = users.select {|u| u.employee_type_id == employee_type.id}.size %>
	          			<% total_user_size += user_size %>
	          			<% if user_size > 0 %>
	                		<tr>
	                			<td style="vertical-align:top; text-align:right;"><%= count += 1 %>.</td>
								<td class="text-top"><%= link_to employee_type.name, employee_type_assess_url(role, employee_type, section_id: @section, team_id: @team, faculty_id: @faculty) %></td>
								<td style="vertical-align:top; text-align:center;"><%= user_size %></td>
	                    	</tr>
                		<% end %>
                	<% end %>
              	</tbody>
	          	<tfoot>
	          		<tr>
	          			<th colspan="2"><%= t(:total) %></th>
						<th style="vertical-align:top; text-align:center;"><%= total_user_size %></th>
	          		</tr>
	          	</tfoot>
            </table>
      	</div>
    </div>
<% end %>