<% 
	section_id = @section ? @section.id : nil
	team_id = @team ? @team.id : nil
	faculty_id = @faculty ? @faculty.id : nil
	users = current_user.assess_to(@current_evaluation, @role, {section_id: section_id, team_id: team_id, faculty_id: faculty_id})
	users = users.select {|u| u.position_id == @position.id}
	users -= [current_user]
%>
<div class="page-header">
	<h1>
		ประเมินสมรรถณะ
		<small>
			<%
				subtitle = "..."
      			if @role == "director"
      				subtitle = "#{Evaluation.human_attribute_name(:director)}"
      			elsif @role == "vice_director"
					subtitle = "#{Evaluation.human_attribute_name(:vice_director)}"
				elsif @role == "vice_director2"
					subtitle = "#{Evaluation.human_attribute_name(:vice_director2)}"
				elsif @role == "vice_director3"
					subtitle = "#{Evaluation.human_attribute_name(:vice_director3)}"
				elsif @role == "secretary"
      				subtitle = "#{Evaluation.human_attribute_name(:secretary)}"
      			elsif @role == "committee"
      				subtitle = "#{Committee.model_name.human}"
      			elsif @role == "section_leader"
      				subtitle = "#{Section.human_attribute_name(:leader)} #{@section}"
      			elsif @role == "section_vice_leader"
      				subtitle = "#{Section.human_attribute_name(:vice_leader)} #{@section}"
      			elsif @role == "team_leader"
      				subtitle = "#{Team.human_attribute_name(:leader)} #{@team}"
      			elsif @role == "faculty_leader"
      				subtitle = "#{Faculty.human_attribute_name(:leader)} #{@faculty}"
      			elsif @role == "faculty_dean"
      				subtitle = "#{Faculty.human_attribute_name(:dean)} #{@faculty}"
      			end
  			%>
  			ประเมินในฐานะ : <%= subtitle %>
		</small>
	</h1>
	<h4>รอบการประเมิน ตั้งแต่วันที่ <%= @current_evaluation.start_date.to_s_thai %> ถึง <%= @current_evaluation.end_date.to_s_thai %></h4>
	สำหรับ <%= @current_evaluation.evaluation_employee_types.collect {|evet| evet.employee_type.to_s}.join(", ") %>
</div>

<div class="powerwidget red" @role="widget">
	<header role="heading">
		<h2><%= @position.name %><small>...</small></h2>
	</header>
	
	<div class="inner-spacer" @role="content">
		
		<%= link_to assess_url(@role, section_id: @section, team_id: @team, faculty_id: @faculty), {class: "btn #{event_btn_class(:back)}"} do %>
			<%= event_icon_tag(:back) %>  <%= t(:back) %>
		<% end %>
		<legend></legend>
		
		<div class="tabbable tabs-left hidden-xs">
			<ul class="nav nav-tabs">
				<% is_first_tab = true %>
				<% @position.position_capacity_groups.each do |position_capacity_group| %>
					<% position_capacity_group.position_capacities.each do |position_capacity| %>
						<li class="<%= is_first_tab ? 'active' : '' %>">
							<a data-toggle="tab" href="#position-capacity-<%= position_capacity.id %>"><%= position_capacity_group.sorting %>.<%= position_capacity.sorting %></a>
						</li>
						<% is_first_tab = false %>
					<% end %>
				<% end %>
			</ul>
			<div class="tab-content">
				<% 
					hcount = 0
					@position.position_capacity_groups.each do |position_capacity_group|
						position_capacity_group.position_capacities.each do |position_capacity|
							hcount += 1
						end
					end
				%>
				<% is_first_tab = true %>
				<% @position.position_capacity_groups.each do |position_capacity_group| %>
					<% position_capacity_group.position_capacities.each do |position_capacity| %>
						<div id="position-capacity-<%= position_capacity.id %>" class="tab-pane <%= is_first_tab ? 'active' : '' %>" style="min-height:<%= 45 * hcount %>px;">
							<h5 class="no-margin"><%= position_capacity_group.sorting %>. <%= position_capacity_group %></h5>
							<h6>
								<%= position_capacity_group.sorting %>.<%= position_capacity.sorting %> <%= position_capacity %>
							</h6>
							<%= Capacity.human_attribute_name(:file) %>: <%= position_capacity.file.nil? ? "" : (position_capacity.file.present? ? link_to("<i class='fa fa-save'></i> download".html_safe, position_capacity.file.url, {target: "blank"}) : "")  %>
							<table class="table table-striped table-hover margin-0px">
			                  	<thead>
			                    	<tr>
					            		<th rowspan="2" style="width:40px;"></th>
					                    <th rowspan="2"><%= User.human_attribute_name(:firstname_lastname) %></th>
			                      		<th rowspan="2" style="text-align:center; width:50px;"><%= "สมรรถนะที่คาดหวัง" %></th>
			                      		<th colspan="6" class="text-center"><%= "สมรรถนะที่แสดงออก" %></th>
			                      		<th colspan="2" class="text-center"><%= "คะแนนที่ได้" %></th>
			                      		<th rowspan="2" style="text-align:center; width:80px;"><%= "ค่าถ่วงน้ำหนัก" %></th>
			                      		<th rowspan="2" style="text-align:center; width:85px;"><%= "คะแนนหลังถ่วงน้ำหนัก" %></th>
			                    	</tr>
			                    	<tr>
			                      		<th style="text-align:center; width:30px;">0</th>
			                      		<th style="text-align:center; width:30px;">1</th>
			                      		<th style="text-align:center; width:30px;">2</th>
			                      		<th style="text-align:center; width:30px;">3</th>
			                      		<th style="text-align:center; width:30px;">4</th>
			                      		<th style="text-align:center; width:30px;">5</th>
			                      		<th style="text-align:center; width:60px;"><%= "เต็ม #{position_capacity.expect}" %></th>
			                      		<th style="text-align:center; width:80px;"><%= "เต็ม 100" %></th>
			                    	</tr>
			                  	</thead>
					          	<tbody>
					          		<% count = 0 %>
					          		<% users.each do |user| %>
					          			<%
					          				position_capacity_user = PositionCapacityUser.where(["position_capacity_id = ? AND user_id = ? AND evaluation_id = ? AND committee_id = ? AND role = ?", position_capacity.id, user.id, @current_evaluation.id, current_user.id, @role]).first
					          				checked_0 = position_capacity_user && position_capacity_user.score == 0
					          				checked_1 = position_capacity_user && position_capacity_user.score == 1
					          				checked_2 = position_capacity_user && position_capacity_user.score == 2
					          				checked_3 = position_capacity_user && position_capacity_user.score == 3
					          				checked_4 = position_capacity_user && position_capacity_user.score == 4
					          				checked_5 = position_capacity_user && position_capacity_user.score == 5
					          				
					          				image_title = "#{image_tag user.avatar.url(:small)}"
					          			%>
					            		<tr>
					            			<td class="text-right"><%= count += 1 %>.</td>
											<td class="text-top">
												<%= user.prefix_firstname_lastname %>
												<span class="btn btn-xs btn-default disabled pull-right"><%= user.employee_type_name %></span>
												<%= image_tag user.avatar.url(:row), {alt: "", class: "tooltipx pull-right margin-right-10", title: html_escape(image_title)} %>
											</td>
											<td style="vertical-align:top; text-align:center;">
												<%= position_capacity.expect %>
												<%= hidden_field "position_capacity_user_#{user.id}_#{position_capacity.id}", :expect, {value: position_capacity.expect} %>
												<%= hidden_field "position_capacity_user_#{user.id}_#{position_capacity.id}", :weight, {value: position_capacity.weight} %>
											</td>
											<td class="text-center"><%= radio_button "position_capacity_user_#{user.id}_#{position_capacity.id}", :score, 0, {checked: checked_0, disabled: !@current_evaluation.is_evaluation_range} %></td>
											<td class="text-center"><%= radio_button "position_capacity_user_#{user.id}_#{position_capacity.id}", :score, 1, {checked: checked_1, disabled: !@current_evaluation.is_evaluation_range} %></td>
											<td class="text-center"><%= radio_button "position_capacity_user_#{user.id}_#{position_capacity.id}", :score, 2, {checked: checked_2, disabled: !@current_evaluation.is_evaluation_range} %></td>
											<td class="text-center"><%= radio_button "position_capacity_user_#{user.id}_#{position_capacity.id}", :score, 3, {checked: checked_3, disabled: !@current_evaluation.is_evaluation_range} %></td>
											<td class="text-center"><%= radio_button "position_capacity_user_#{user.id}_#{position_capacity.id}", :score, 4, {checked: checked_4, disabled: !@current_evaluation.is_evaluation_range} %></td>
											<td class="text-center"><%= radio_button "position_capacity_user_#{user.id}_#{position_capacity.id}", :score, 5, {checked: checked_5, disabled: !@current_evaluation.is_evaluation_range} %></td>
											<td class="text-center"><%= text_field "position_capacity_user_#{user.id}_#{position_capacity.id}", :score_real_expect, {class: "form-control-inline", style: "text-align:center;", disabled: true} %></td>
											<td class="text-center"><%= text_field "position_capacity_user_#{user.id}_#{position_capacity.id}", :score_real_100, {class: "form-control-inline", style: "text-align:center;", disabled: true} %></td>
											<td class="text-center"><%= text_field "position_capacity_user_#{user.id}_#{position_capacity.id}", :score_weight, {value: position_capacity.weight, class: "form-control-inline", style: "text-align:center;", disabled: true} %></td>
											<td class="text-center"><%= text_field "position_capacity_user_#{user.id}_#{position_capacity.id}", :score_real, {class: "form-control-inline", style: "text-align:center;", disabled: true} %></td>
					                	</tr>
					            	<% end %>
					          	</tbody>
					        </table>
						</div>
						<% is_first_tab = false %>
					<% end %>
				<% end %>
			</div>
		</div>
        
        <div class="hidden-sm hidden-md hidden-lg text-center margin-bottom-20">
        	<%= t(:small_device_error) %>
    	</div>
  	</div>
</div>


<% unless action_name == "show" %>
	<script type="text/javascript">
	
		function autoCalculateScore () {
		    	
			<% @position.position_capacity_groups.each do |position_capacity_group| %>
				<% position_capacity_group.position_capacities.each do |position_capacity| %>
	          		<% @position.users.each do |user| %>
	          		
          				<% iii = "#{user.id}_#{position_capacity.id}" %>
	    	
				    	v<%= iii %>w = parseFloat($('#position_capacity_user_<%= iii %>_score_weight').val());
				    	v<%= iii %> = 0;
				    	v<%= iii %>r = 0;
				        if ($('#position_capacity_user_<%= iii %>_score_0').is(':checked')) { v<%= iii %> = <%= position_capacity.expect > 0 ? 0 : position_capacity.expect %>; }
				        if ($('#position_capacity_user_<%= iii %>_score_1').is(':checked')) { v<%= iii %> = <%= position_capacity.expect > 1 ? 1 : position_capacity.expect %>;}
				        if ($('#position_capacity_user_<%= iii %>_score_2').is(':checked')) { v<%= iii %> = <%= position_capacity.expect > 2 ? 2 : position_capacity.expect %>; }
				        if ($('#position_capacity_user_<%= iii %>_score_3').is(':checked')) { v<%= iii %> = <%= position_capacity.expect > 3 ? 3 : position_capacity.expect %>; }
				        if ($('#position_capacity_user_<%= iii %>_score_4').is(':checked')) { v<%= iii %> = <%= position_capacity.expect > 4 ? 4 : position_capacity.expect %>; }
				        if ($('#position_capacity_user_<%= iii %>_score_5').is(':checked')) { v<%= iii %> = <%= position_capacity.expect > 5 ? 5 : position_capacity.expect %>; }
				        
				        v<%= iii %>r = (v<%= iii %>w / <%= position_capacity.expect %>) * v<%= iii %>;
				        v<%= iii %>r100 = (v<%= iii %> / <%= position_capacity.expect %>) * 100;
				        
				        $('#position_capacity_user_<%= iii %>_score_real_expect').val(v<%= iii %>);
				        $('#position_capacity_user_<%= iii %>_score_real_100').val(v<%= iii %>r100.toFixed(2));
				        $('#position_capacity_user_<%= iii %>_score_real').val(v<%= iii %>r.toFixed(2));
	        
	        		<% end %>
	        	<% end %>
	        <% end %>
	        
		}
	
		function saveScore (user_id, position_capacity_id) {
			
			score = 0
			if ($('#position_capacity_user_' + user_id + '_' + position_capacity_id  + '_score_0').is(':checked')) { score = 0; }
			if ($('#position_capacity_user_' + user_id + '_' + position_capacity_id  + '_score_1').is(':checked')) { score = 1; }
			if ($('#position_capacity_user_' + user_id + '_' + position_capacity_id  + '_score_2').is(':checked')) { score = 2; }
			if ($('#position_capacity_user_' + user_id + '_' + position_capacity_id  + '_score_3').is(':checked')) { score = 3; }
			if ($('#position_capacity_user_' + user_id + '_' + position_capacity_id  + '_score_4').is(':checked')) { score = 4; }
			if ($('#position_capacity_user_' + user_id + '_' + position_capacity_id  + '_score_5').is(':checked')) { score = 5; }
			
	 		$.ajax({
            	url: '<%= position_capacity_user_save_assess_url(@role) %>',
    			type: 'post',
    			data: {
				      position_capacity_id: position_capacity_id,  
				      user_id: user_id,  
				      evaluation_id: <%= @current_evaluation.id %>, 
				      role: '<%= @role %>',  
				      section_id: <%= @section ? @section.id : "null" %>,  
				      team_id: <%= @team ? @team.id : "null" %>,  
				      faculty_id: <%= @faculty ? @faculty.id : "null" %>,  
				      score: score, 
				      expect: $('#position_capacity_user_' + user_id + '_' + position_capacity_id  + '_expect').val(), 
				      weight: $('#position_capacity_user_' + user_id + '_' + position_capacity_id  + '_weight').val(), 
				      score_real_expect: $('#position_capacity_user_' + user_id + '_' + position_capacity_id  + '_score_real_expect').val(), 
				      score_real_100: $('#position_capacity_user_' + user_id + '_' + position_capacity_id  + '_score_real_100').val(), 
				      score_weight: $('#position_capacity_user_' + user_id + '_' + position_capacity_id  + '_score_weight').val(), 
				      score_real: $('#position_capacity_user_' + user_id + '_' + position_capacity_id  + '_score_real').val()
			      },
                dataType: 'script'
            });
		}

	 	jQuery(function($) {
		 	
		    $('input').click(function () {
		        autoCalculateScore();
		        
				arr = this.id.split('_');
		        saveScore(arr[3], arr[4]);
		    });
	        
		 });
		 
		 autoCalculateScore();
		 
	</script>
<% end %>