<div class="page-header">
	<h1><%= t(:manual) %><small>...</small></h1>
</div>

<div class="row">
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 margin-bottom-20" style="text-align:left;">
		<%= link_to "/files/manuals/manual_pdpf.pdf", {target: "_blank"} do %>
			จัดทำข้อตกลงและแบบรายงานผล
		<% end %>
	</div>
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 margin-bottom-20" style="text-align:left;">
		<%= link_to "/files/manuals/manual_360.pdf", {target: "_blank"} do %>
			ประเมิน 360 องศา
		<% end %>
	</div>
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 margin-bottom-20" style="text-align:left;">
		<%= link_to "/files/manuals/manual_committee.pdf", {target: "_blank"} do %>
			ผู้บังคับบัญชาและคณะกรรมการประเมิน
		<% end %>
	</div>
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 margin-bottom-20" style="text-align:left;">
		<%= link_to "/files/manuals/manual_admin.pdf", {target: "_blank"} do %>
			การเจ้าหน้าที่
		<% end %>
	</div>
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 margin-bottom-20" style="text-align:left;">
		<%= link_to "/files/manuals/manual_project.pdf", {target: "_blank"} do %>
			บันทึกโครงการ
		<% end %>
	</div>
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 margin-bottom-20" style="text-align:left;">
		<%= link_to "/files/manuals/manual_expense.pdf", {target: "_blank"} do %>
			บันทึกการเบิกงบประมาณ
		<% end %>
	</div>
</div>
