<div class="row">
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <%= form_tag(expenses_projects_reports_url, {id: 'quick-search', class: "form-horizontal pull-right no-padding", method: :get}) do %>
			<%= select :filters, :year, (2000..(Date.current.year + 10)).collect {|y| [y + 543, y]}.reverse, {}, {class: "form-control chosen-select", style: "width:100px;"} %>
			<%= submit_tag t(:report), {class: "btn btn-primary"} %>
        <% end %>
        <div class="clearfix margin-bottom-20"></div>
		<div class="powerwidget">
			<div class="inner-spacer">
				<div class="pull-left">
			        <h4>งบรายจ่าย  งบประมาณเงินรายได้  สำนักบริหารและพัฒนาวิชาการ</h4>
			        <h4>ประจำปีงบประมาณ <%= @year_thai %></h4>
					<h6>
						<span class="pull-left">(<%= @date0.to_s_thai %> - <%= @date.to_s_thai %>)</span> 
						<span class="pull-left">ณ วันที่ <%= Date.current.to_s_thai %></span>
					</h6>
		        </div>
				<div class="pull-right">
			        <div id="project-root-only-link" class="btn btn-default pull-right"><%= t :project_root_only %></div>
			        <div id="project-all-link" class="btn btn-default pull-right hide"><%= t :project_all %></div>
					<div class="clearfix margin-bottom-5"></div>
			        <div id="show-project-name-link" class="btn btn-default pull-right"><%= t :show_project_name %></div>
			        <div id="hide-project-name-link" class="btn btn-default pull-right hide"><%= t :hide_project_name %></div>
		        </div>
				<div class="clearfix margin-bottom-10"></div>
		
				<ul class="nav nav-tabs">
					<li>
						<a data-toggle="tab" href="#in-year-quater-block" id="in-year-quater-link"><%= t(:report_title_expenes_projects_in_year) %> (รายไตรมาส)</a>
					</li>
					<li>
						<a data-toggle="tab" href="#late-year-quater-block" id="late-year-quater-link"><%= t(:report_title_expenes_projects_late_year) %> (รายไตรมาส)</a>
					</li>
					<li>
						<a data-toggle="tab" href="#in-year-block" id="in-year-link"><%= t(:report_title_expenes_projects_in_year) %> (รายเดือน)</a>
					</li>
					<li>
						<a data-toggle="tab" href="#late-year-block" id="late-year-link"><%= t(:report_title_expenes_projects_late_year) %> (รายเดือน)</a>
					</li>
				</ul>
				<div id="tab-blocks" class="tab-content">
					<div id="in-year-quater-block" class="tab-pane" style="overflow-x:auto;">
						<table class="table table-bordered margin-0px" style="width:auto;">
				          	<thead>
				            	<tr>
				            		<th rowspan="2" class="text-right" style="width:70px;">ลำดับที่</th>
				            		<th class="th-project-name" rowspan="2">โครงการ/กิจกรรม</th>
				            		<th colspan="<%= @quaters.size %>" class="text-center">ไตรมาส</th>
				            		<th rowspan="2" class="text-center" style="width:100px;">รวม</th>
				            		<th rowspan="2" class="text-center" style="width:100px;">งบประมาณที่ได้รับ</th>
				            		<th rowspan="2" class="text-center" style="width:100px;">โอนระหว่างงบ</th>
				            		<th rowspan="2" class="text-center" style="width:100px;">คงเหลือ</th>
				            	</tr>
				            	<tr>
				            		<% @quaters.each do |quater| %>
				            			<th class="text-center" style="width:100px;"><%= quater[0] %></th>
				            		<% end %>
				            	</tr>
				          	</thead>
				          	<tbody>
				      			<% @budget_groups.each do |budget_group| %>
				            		<tr>
										<th class="text-top text-white bg-black th-budget-group-quater" colspan="<%= 1 + @quaters.size + 5 %>"><%= budget_group.to_s %></th>
				                	</tr>
					          		<% count = 0 %>
					      			<% @projects.select {|project| project.budget_group_id == budget_group.id}.each do |project| %>
					      				<% expenses = @expenses.select {|ex| ex.budget_group_id == budget_group.id && project.id_with_children.include?(ex.project_id)} %>
					            		<tr class="<%= project.level == 0 ? "project-root" : "project-child"  %>" style="<%= "background-color:#A9E2F3;" if project.level == 0 %>">
					            			<td class="text-right text-top"><%= count += 1 %>.</td>
											<td class="text-top"><%= project.code %></td>
											<td nowrap class="text-top td-project-name hide"><%= "-----" * project.level %> <%= project.name %></td>
						            		<% @quaters.each do |quater| %>
						            			<td class="text-right text-top small">
						            				<% expenseq = expenses.select {|ex| ex.year.to_i == quater[1] && quater[2].include?(ex.mon.to_i)} %>
						            				<%= expenseq.sum{|ex| ex.amount}.to_s_decimal_comma %>
						            			</td>
						            		<% end %>
					            			<td class="text-right text-top small">
					            				<b><%= expenses.select {|ex| true}.sum {|ex| ex.amount.to_f}.to_s_decimal_comma %></b>
					            			</td>
					            			<td class="text-right text-top small">
					            				<%= project.budget_amount.to_s_decimal_comma %>
					            			</td>
					            			<td class="text-right text-top small">
					            				<%= project.total_expense_with_children.to_s_decimal_comma %>
					            			</td>
					            			<td class="text-right text-top small">
					            				<%= project.balance_with_children.to_s_decimal_comma %>
					            			</td>
					                	</tr>
			            			<% end %>
			            			<tr>
			            				<td class="bg-black no-padding-top padding-bottom-5 th-budget-group-quater" colspan="<%= 1 + @quaters.size + 5 %>"></td>
			            			</tr>
					      			<% @projects.select {|project| project.budget_group_id != budget_group.id}.each do |project| %>
					      				<% expenses = @expenses.select {|ex| ex.budget_group_id == budget_group.id && project.id_with_children.include?(ex.project_id)} %>
					      				<% if expenses.size > 0 %>
						            		<tr class="<%= project.level == 0 ? "project-root" : "project-child"  %>" style="<%= "background-color:#A9E2F3;" if project.level == 0 %>">
						            			<td class="text-right text-top"><%= count += 1 %>.</td>
												<td class="text-top"><%= project.code %></td>
												<td nowrap class="text-top td-project-name hide"><%= "-----" * project.level %> <%= project.name %><br/>(<%= project.budget_group ? "โครงการระบุ #{project.budget_group}" : "โครงการยังไม่ระบุประเภทเงิน" %>)</td>
							            		<% @quaters.each do |quater| %>
							            			<td class="text-right text-top small">
							            				<% expenseq = expenses.select {|ex| ex.year.to_i == quater[1] && quater[2].include?(ex.mon.to_i)} %>
							            				<%= expenseq.sum{|ex| ex.amount}.to_s_decimal_comma %>
							            			</td>
							            		<% end %>
						            			<td class="text-right text-top small">
						            				<b><%= expenses.select {|ex| true}.sum {|ex| ex.amount.to_f}.to_s_decimal_comma %></b>
						            			</td>
						            			<td class="text-right text-top small">
						            				<%= project.budget_amount.to_s_decimal_comma %>
						            			</td>
						            			<td class="text-right text-top small">
						            				<%= project.total_expense_with_children(@date).to_s_decimal_comma %>
						            			</td>
						            			<td class="text-right text-top small">
						            				<%= project.balance_with_children(@date).to_s_decimal_comma %>
						            			</td>
						                	</tr>
				            			<% end %>
			            			<% end %>
				            	<% end %>
				          	</tbody>
				          	<tfoot class="hide">
				          		<tr>
				        			<th class="text-right text-top small th-total" colspan="2">รวมรายจ่ายทั้งสิ้น</th>
				            		<% @quaters.each do |quater| %>
				            			<th class="text-right text-top small">
				            				<%= @expenses.select {|ex| @projects.collect {|p| p.id}.include?(ex.project_id) && ex.year.to_i == quater[1] && quater[2].include?(ex.mon.to_i)}.sum {|ex| ex.amount.to_f}.to_s_decimal_comma %>
				            			</th>
				            		<% end %>
				        			<th class="text-right text-top small">
				        				<%= @expenses.select {|ex| @projects.collect {|p| p.id}.include?(ex.project_id)}.sum {|ex| ex.amount.to_f}.to_s_decimal_comma %>
				        			</th>
				        			<th class="text-right text-top small">
				        				<%= @projects.to_a.sum {|ex| ex.budget_amount.to_f}.to_s_decimal_comma %>
				        			</th>
				        			<th class="text-right text-top small">
				        				<%= @projects.to_a.sum {|ex| ex.total_expense_with_children(@date).to_f}.to_s_decimal_comma %>
				        			</th>
				        			<th class="text-right text-top small">
				        				<%= @projects.to_a.sum {|ex| ex.balance_with_children(@date).to_f}.to_s_decimal_comma %>
				        			</th>
				          		</tr>
				          	</tfoot>
				        </table>
					</div>
					<div id="late-year-quater-block" class="tab-pane" style="overflow-x:auto;">
						<table class="table table-bordered margin-0px" style="width:auto;">
				          	<thead>
				            	<tr>
				            		<th rowspan="2" class="text-right" style="width:70px;">ลำดับที่</th>
				            		<th class="th-project-name" rowspan="2">โครงการ/กิจกรรม</th>
				            		<th colspan="<%= @quaters.size %>" class="text-center">ไตรมาส</th>
				            		<th rowspan="2" class="text-center">รวม</th>
				            		<th rowspan="2" class="text-center">งบประมาณที่ได้รับ</th>
				            		<th rowspan="2" class="text-center">โอนระหว่างงบ</th>
				            		<th rowspan="2" class="text-center">คงเหลือ</th>
				            	</tr>
				            	<tr>
				            		<% @quaters.each do |quater| %>
				            			<th class="text-center"><%= quater[0] %></th>
				            		<% end %>
				            	</tr>
				          	</thead>
				          	<tbody>
				      			<% @budget_groups.each do |budget_group| %>
				            		<tr>
										<th class="text-top text-white bg-black th-budget-group-quater" colspan="<%= 1 + @quaters.size + 5 %>"><%= budget_group.to_s %></th>
				                	</tr>
					          		<% count = 0 %>
					      			<% @project_lates.each do |project| %>
					      				<% expenses = @expenses.select {|ex| ex.budget_group_id == budget_group.id && project.id_with_children.include?(ex.project_id)} %>
										<% if expenses.size > 0 %>
						            		<tr class="<%= project.level == 0 ? "project-root" : "project-child"  %>" style="<%= "background-color:#A9E2F3;" if project.level == 0 %>">
						            			<td class="text-right text-top"><%= count += 1 %>.</td>
												<td class="text-top"><%= project.code %></td>
												<td nowrap class="text-top td-project-name hide"><%= "-----" * project.level %> <%= project.name %></td>
							            		<% @quaters.each do |quater| %>
							            			<td class="text-right text-top small">
							            				<% expenseq = expenses.select {|ex| ex.year.to_i == quater[1] && quater[2].include?(ex.mon.to_i)} %>
							            				<%= expenseq.sum{|ex| ex.amount}.to_s_decimal_comma %>
							            			</td>
							            		<% end %>
						            			<td class="text-right text-top small">
						            				<b><%= expenses.select {|ex| true}.sum {|ex| ex.amount.to_f}.to_s_decimal_comma %></b>
						            			</td>
						            			<td class="text-right text-top small">
						            				<%= project.budget_amount.to_s_decimal_comma %>
						            			</td>
						            			<td class="text-right text-top small">
						            				<%= project.total_expense_with_children.to_s_decimal_comma %>
						            			</td>
						            			<td class="text-right text-top small">
						            				<%= project.balance_with_children.to_s_decimal_comma %>
						            			</td>
						                	</tr>
				            			<% end %>
					            	<% end %>
				            	<% end %>
				          	</tbody>
				          	<tfoot class="hide">
				          		<tr>
				        			<th class="text-right text-top small th-total" colspan="2">รวมรายจ่ายทั้งสิ้น</th>
				            		<% @quaters.each do |quater| %>
				            			<th class="text-right text-top small">
				            				<%= @expenses.select {|ex| @project_lates.collect {|p| p.id}.include?(ex.project_id) && ex.year.to_i == quater[1] && quater[2].include?(ex.mon.to_i)}.sum {|ex| ex.amount.to_f}.to_s_decimal_comma %>
				            			</th>
				            		<% end %>
				        			<th class="text-right text-top small">
				        				<%= @expenses.select {|ex| @project_lates.collect {|p| p.id}.include?(ex.project_id)}.sum {|ex| ex.amount.to_f}.to_s_decimal_comma %>
				        			</th>
				        			<th class="text-right text-top small">
				        				<%= @project_lates.sum {|ex| ex.budget_amount.to_f}.to_s_decimal_comma %>
				        			</th>
				        			<th class="text-right text-top small">
				        				<%= @project_lates.sum {|ex| ex.total_expense_with_children.to_f}.to_s_decimal_comma %>
				        			</th>
				        			<th class="text-right text-top small">
				        				<%= @project_lates.sum {|ex| ex.balance_with_children.to_f}.to_s_decimal_comma %>
				        			</th>
				          		</tr>
				          	</tfoot>
				        </table>
					</div>
					<div id="in-year-block" class="tab-pane" style="overflow-x:auto;">
						<table class="table table-bordered margin-0px" style="width:auto;">
				          	<thead>
				            	<tr>
				            		<th rowspan="2" class="text-right" style="width:70px;">ลำดับที่</th>
				            		<th class="th-project-name" rowspan="2">โครงการ/กิจกรรม</th>
				            		<th colspan="<%= @months.size %>" class="text-center">เดือน</th>
				            		<th rowspan="2" class="text-center">รวม</th>
				            		<th rowspan="2" class="text-center">งบประมาณที่ได้รับ</th>
				            		<th rowspan="2" class="text-center">โอนระหว่างงบ</th>
				            		<th rowspan="2" class="text-center">คงเหลือ</th>
				            	</tr>
				            	<tr>
				            		<% @months.each do |month| %>
				            			<th class="text-center" style="width:80px;"><%= Date::ABBR_MONTHNAMES_TH[month[1]] %> <%= month[0] + 543 - 2500 %></th>
				            		<% end %>
				            	</tr>
				          	</thead>
				          	<tbody>
				      			<% @budget_groups.each do |budget_group| %>
				            		<tr>
										<th class="text-top text-white bg-black th-budget-group-month" colspan="<%= 1 + @months.size + 5 %>"><%= budget_group.to_s %></th>
				                	</tr>
					          		<% count = 0 %>
					      			<% @projects.select {|project| project.budget_group_id == budget_group.id}.each do |project| %>
					      				<% expenses = @expenses.select {|ex| ex.budget_group_id == budget_group.id && project.id_with_children.include?(ex.project_id)} %>
					            		<tr class="<%= project.level == 0 ? "project-root" : "project-child"  %>" style="<%= "background-color:#A9E2F3;" if project.level == 0 %>">
					            			<td class="text-right text-top"><%= count += 1 %>.</td>
											<td class="text-top"><%= project.code %></td>
											<td nowrap class="text-top td-project-name hide"><%= "-----" * project.level %> <%= project.name %></td>
						            		<% @months.each do |month| %>
						            			<td class="text-right text-top small">
						            				<% expense = expenses.select {|ex| ex.year.to_i == month[0] && ex.mon.to_i == month[1]}.first %>
						            				<%= expense ? expense.amount.to_s_decimal_comma : "-" %>
						            			</td>
						            		<% end %>
					            			<td class="text-right text-top small">
					            				<b><%= expenses.select {|ex| true}.sum {|ex| ex.amount.to_f}.to_s_decimal_comma %></b>
					            			</td>
					            			<td class="text-right text-top small">
					            				<%= project.budget_amount.to_s_decimal_comma %>
					            			</td>
					            			<td class="text-right text-top small">
					            				<%= project.total_expense_with_children.to_s_decimal_comma %>
					            			</td>
					            			<td class="text-right text-top small">
					            				<%= project.balance_with_children.to_s_decimal_comma %>
					            			</td>
					                	</tr>
			            			<% end %>
			            			<tr>
			            				<td class="bg-black no-padding-top padding-bottom-5 th-budget-group-month" colspan="<%= 1 + @months.size + 5 %>"></td>
			            			</tr>
					      			<% @projects.select {|project| project.budget_group_id != budget_group.id}.each do |project| %>
					      				<% expenses = @expenses.select {|ex| ex.budget_group_id == budget_group.id && project.id_with_children.include?(ex.project_id)} %>
					      				<% if expenses.size > 0 %>
						            		<tr class="<%= project.level == 0 ? "project-root" : "project-child"  %>" style="<%= "background-color:#A9E2F3;" if project.level == 0 %>">
						            			<td class="text-right text-top"><%= count += 1 %>.</td>
												<td class="text-top"><%= project.code %></td>
												<td nowrap class="text-top td-project-name hide"><%= "-----" * project.level %> <%= project.name %><br/>(<%= project.budget_group ? "โครงการระบุ #{project.budget_group}" : "โครงการยังไม่ระบุประเภทเงิน" %>)</td>
							            		<% @months.each do |month| %>
							            			<td class="text-right text-top small">
							            				<% expense = expenses.select {|ex| ex.year.to_i == month[0] && ex.mon.to_i == month[1]}.first %>
							            				<%= expense ? expense.amount.to_s_decimal_comma : "-" %>
							            			</td>
							            		<% end %>
						            			<td class="text-right text-top small">
						            				<b><%= expenses.select {|ex| true}.sum {|ex| ex.amount.to_f}.to_s_decimal_comma %></b>
						            			</td>
						            			<td class="text-right text-top small">
						            				<%= project.budget_amount.to_s_decimal_comma %>
						            			</td>
						            			<td class="text-right text-top small">
						            				<%= project.total_expense_with_children(@date).to_s_decimal_comma %>
						            			</td>
						            			<td class="text-right text-top small">
						            				<%= project.balance_with_children(@date).to_s_decimal_comma %>
						            			</td>
						                	</tr>
				            			<% end %>
			            			<% end %>
				            	<% end %>
				          	</tbody>
				          	<tfoot class="hide">
				          		<tr>
				        			<th class="text-right text-top small th-total" colspan="2">รวมรายจ่ายทั้งสิ้น</th>
				            		<% @months.each do |month| %>
				            			<th class="text-right text-top small">
				            				<%= @expenses.select {|ex| @projects.collect {|p| p.id}.include?(ex.project_id) && ex.year.to_i == month[0] && ex.mon.to_i == month[1]}.sum {|ex| ex.amount.to_f}.to_s_decimal_comma %>
				            			</th>
				            		<% end %>
				        			<th class="text-right text-top small">
				        				<%= @expenses.select {|ex| @projects.collect {|p| p.id}.include?(ex.project_id)}.sum {|ex| ex.amount.to_f}.to_s_decimal_comma %>
				        			</th>
				        			<th class="text-right text-top small">
				        				<%= @projects.to_a.sum {|ex| ex.budget_amount.to_f}.to_s_decimal_comma %>
				        			</th>
				        			<th class="text-right text-top small">
				        				<%= @projects.to_a.sum {|ex| ex.total_expense_with_children(@date).to_f}.to_s_decimal_comma %>
				        			</th>
				        			<th class="text-right text-top small">
				        				<%= @projects.to_a.sum {|ex| ex.balance_with_children(@date).to_f}.to_s_decimal_comma %>
				        			</th>
				          		</tr>
				          	</tfoot>
				        </table>
					</div>
					<div id="late-year-block" class="tab-pane" style="overflow-x:auto;">
						<table class="table table-bordered margin-0px" style="width:auto;">
				          	<thead>
				            	<tr>
				            		<th rowspan="2" class="text-right" style="width:70px;">ลำดับที่</th>
				            		<th class="th-project-name" rowspan="2">โครงการ/กิจกรรม</th>
				            		<th colspan="<%= @months.size %>" class="text-center">เดือน</th>
				            		<th rowspan="2" class="text-center">รวม</th>
				            		<th rowspan="2" class="text-center">งบประมาณที่ได้รับ</th>
				            		<th rowspan="2" class="text-center">โอนระหว่างงบ</th>
				            		<th rowspan="2" class="text-center">คงเหลือ</th>
				            	</tr>
				            	<tr>
				            		<% @months.each do |month| %>
				            			<th class="text-center" style="width:80px;"><%= Date::ABBR_MONTHNAMES_TH[month[1]] %> <%= month[0] + 543 - 2500 %></th>
				            		<% end %>
				            	</tr>
				          	</thead>
				          	<tbody>
				      			<% @budget_groups.each do |budget_group| %>
				            		<tr>
										<th class="text-top text-white bg-black th-budget-group-month" colspan="<%= 1 + @months.size + 5 %>"><%= budget_group.to_s %></th>
				                	</tr>
					          		<% count = 0 %>
					      			<% @project_lates.each do |project| %>
					      				<% expenses = @expenses.select {|ex| ex.budget_group_id == budget_group.id && project.id_with_children.include?(ex.project_id)} %>
										<% if expenses.size > 0 %>
						            		<tr class="<%= project.level == 0 ? "project-root" : "project-child"  %>" style="<%= "background-color:#A9E2F3;" if project.level == 0 %>">
						            			<td class="text-right text-top"><%= count += 1 %>.</td>
												<td class="text-top"><%= project.code %></td>
												<td nowrap class="text-top td-project-name hide"><%= "-----" * project.level %> <%= project.name %></td>
							            		<% @months.each do |month| %>
							            			<td class="text-right text-top small">
							            				<% expense = expenses.select {|ex| ex.year.to_i == month[0] && ex.mon.to_i == month[1]}.first %>
							            				<%= expense ? expense.amount.to_s_decimal_comma : "-" %>
							            			</td>
							            		<% end %>
						            			<td class="text-right text-top small">
						            				<b><%= expenses.select {|ex| true}.sum {|ex| ex.amount.to_f}.to_s_decimal_comma %></b>
						            			</td>
						            			<td class="text-right text-top small">
						            				<%= project.budget_amount.to_s_decimal_comma %>
						            			</td>
						            			<td class="text-right text-top small">
						            				<%= project.total_expense_with_children.to_s_decimal_comma %>
						            			</td>
						            			<td class="text-right text-top small">
						            				<%= project.balance_with_children.to_s_decimal_comma %>
						            			</td>
						                	</tr>
				            			<% end %>
					            	<% end %>
				            	<% end %>
				          	</tbody>
				          	<tfoot class="hide">
				          		<tr>
				        			<th class="text-right text-top small th-total" colspan="2">รวมรายจ่ายทั้งสิ้น</th>
				            		<% @months.each do |month| %>
				            			<th class="text-right text-top small">
				            				<%= @expenses.select {|ex| @project_lates.collect {|p| p.id}.include?(ex.project_id) && ex.year.to_i == month[0] && ex.mon.to_i == month[1]}.sum {|ex| ex.amount.to_f}.to_s_decimal_comma %>
				            			</th>
				            		<% end %>
				        			<th class="text-right text-top small">
				        				<%= @expenses.select {|ex| @project_lates.collect {|p| p.id}.include?(ex.project_id)}.sum {|ex| ex.amount.to_f}.to_s_decimal_comma %>
				        			</th>
				        			<th class="text-right text-top small">
				        				<%= @project_lates.sum {|ex| ex.budget_amount.to_f}.to_s_decimal_comma %>
				        			</th>
				        			<th class="text-right text-top small">
				        				<%= @project_lates.sum {|ex| ex.total_expense_with_children.to_f}.to_s_decimal_comma %>
				        			</th>
				        			<th class="text-right text-top small">
				        				<%= @project_lates.sum {|ex| ex.balance_with_children.to_f}.to_s_decimal_comma %>
				        			</th>
				          		</tr>
				          	</tfoot>
				        </table>
					</div>
				</div>
		  	</div>
	  	</div>
  	</div>
</div>

<script type="text/javascript">
	$(document).ready(function($){
		$('#in-year-quater-link').click();
		
		$("#project-root-only-link").on('click', function(event){
			$("#project-all-link").removeClass('hide');
			$("#project-root-only-link").addClass('hide');
			$('.project-child').each(function(){
			    $(this).addClass('hide');
			});
        });
		
		$("#project-all-link").on('click', function(event){
			$("#project-all-link").addClass('hide');
			$("#project-root-only-link").removeClass('hide');
			$('.project-child').each(function(){
			    $(this).removeClass('hide');
			});
        });
		
		$("#show-project-name-link").on('click', function(event){
			$("#show-project-name-link").addClass('hide');
			$("#hide-project-name-link").removeClass('hide');
			$('.td-project-name').each(function(){
			    $(this).removeClass('hide');
			});
			
			$('.th-project-name').prop('colspan', 2);
			$('.th-total').prop('colspan', 3);
			$('.th-budget-group-quater').prop('colspan', <%= 2 + @quaters.size + 5 %>);
			$('.th-budget-group-month').prop('colspan', <%= 2 + @months.size + 5 %>);
			
        });
		
		$("#hide-project-name-link").on('click', function(event){
			$("#hide-project-name-link").addClass('hide');
			$("#show-project-name-link").removeClass('hide');
			$('.td-project-name').each(function(){
			    $(this).addClass('hide');
			});
			
			$('.th-project-name').prop('colspan', 1);
			$('.th-total').prop('colspan', 2);
			$('.th-budget-group-quater').prop('colspan', <%= 1 + @quaters.size + 5 %>);
			$('.th-budget-group-month').prop('colspan', <%= 1 + @months.size + 5 %>);
        });
		
 	});
</script>
