<div class="responsive-admin-menu">
  	<div class="responsive-menu">
  		<%= t(:application_name) %>
    	<div class="menuicon"><i class="fa fa-angle-down"></i></div>
  	</div>
	<% unless @nav_items.blank? %>
	    <ul id="menu">
	        <% @nav_items.each do |nav_item| %>
	            <%= render partial: "/layouts/orb/nav_item", locals: {nav_item: nav_item} %>
	        <% end %>
		    <li>
      			<%= link_to "#signout", {"data-toggle" => "modal"} do %>
      				<i class="fa fa-power-off"></i> Sign Out
  				<% end %>
	        </li>
	    </ul><!-- /.nav-list -->
	<% end %>


	<% if false %>
  		<ul id="menu">
	    	<li>
	    		<%= link_to dashboards_url, {title: "Dashboard"} do %>
	    			<i class="entypo-briefcase"></i>
	    			<span> Dashboard</span>
	    		<% end %>
			</li>
	    	<li>
	    		<a class="submenu" href="#" title="Administrator" data-id="administrator-sub"><i class="entypo-rocket"></i><span> Administrator</span></a>
	      		<ul id="administrator-sub">
			        <li>
			        	<%= link_to admin_users_url, {title: User.model_name.human} do %>
			        		<i class=" entypo-user "></i><span> <%= User.model_name.human %></span>
			        	<% end %>
		        	</li>
		      	</ul>
		    </li>
	    	<li>
	    		<a class="active submenu" href="#" title="Dashboard" data-id="dash-sub"><i class="entypo-briefcase"></i><span> Dashboard</span></a>
	      		<ul id="dash-sub">
			        <li><a href="index.html" title="Dashboard Variant One"><i class="fa fa-cubes"></i><span> Layout I </span></a></li>
			        <li><a href="index-2.html" title="Dashboard Variant Two"><i class="fa fa-cubes"></i><span> Layout II <span class="badge">New!</span></span></a></li>
	      		</ul>
	    	</li>
	    	<li>
	    		<a href="admin-inbox.html" title="Inbox"><i class="entypo-inbox"></i><span> Inbox <span class="badge">32</span></span></a>
			</li>
	    	<li>
	    		<a class="submenu" href="#" title="Widgets" data-id="widgets-sub"><i class="entypo-rocket"></i><span> Widgets</span></a>
	      		<ul id="widgets-sub">
			        <li><a href="admin-widgets.html" title="Power Widgets"><i class="entypo-rocket"></i><span> Power Widgets</span></a></li>
			        <li><a href="admin-portlets.html" title="Portlets"><i class="fa fa-square"></i><span> Portlets</span></a></li>
		      	</ul>
		    </li>
	    	<li>
	    		<a href="#" class="submenu" data-id="tables-sub" title="Tables"><i class="fa fa-table"></i><span> Tables</span></a> 
	      		<!-- Tables Sub-Menu -->
	      		<ul id="tables-sub" class="accordion">
			        <li><a href="admin-tables.html" title="Timeline"><i class="fa fa-table"></i><span> Tables</span></a></li>
			        <li><a href="admin-datatables.html" title="Profile"><i class="entypo-database"></i><span> Datatables</span></a></li>
	      		</ul>
	    	</li>
	    	<li>
	    		<a class="submenu" href="#" data-id="other-sub" title="Other Contents"><i class="fa fa-th"></i><span> Forms</span></a> 
	      		<!-- Forms Sub-Menu -->
			  	<ul id="other-sub" class="accordion">
			        <li><a href="admin-forms.html" title="Forms"><i class="fa fa-th"></i><span> Forms</span></a></li>
			        <li><a href="admin-forms-bootstrap.html" title="Bootstrap Forms"><i class="fa fa-table"></i><span> Bootstrap Forms</span></a></li>
			        <li><a href="admin-forms-plugins.html" title="Forms Plugins"><i class="fa fa-puzzle-piece"></i><span> Form Plugins</span></a></li>
			        <li><a href="admin-forms-validation.html" title="Forms Validation"><i class="fa fa-check-circle"></i><span> Form Validation</span></a></li>
			        <li><a href="admin-forms-wizard.html" title="Forms Wizard"><i class="fa fa-magic"></i><span> Form Wizard</span></a></li>
			  	</ul>
	    	</li>
			<li> 
				<a class="submenu" href="#" title="Graph &amp; Charts" data-id="graph-sub"><i class="entypo-chart-area"></i><span> Graph &amp; Charts</span></a> 
	      		<!-- Graph and Charts Menu -->
			  	<ul id="graph-sub" class="accordion">
			        <li><a href="admin-chart-morris.html" title="Video Gallery"><i class="entypo-chart-bar"></i><span> Morris Charts</span></a></li>
			        <li><a href="admin-chart-flot.html" title="Photo Gallery"><i class="entypo-chart-line"></i><span> Flot Charts</span></a></li>
			        <li><a href="admin-chart-others.html" title="Photo Gallery"><i class="entypo-chart-pie"></i><span> Others Charts</span></a></li>
			  	</ul>
	    	</li>
	    	<li> 
	    		<a class="submenu" href="#" data-id="interface-sub" title="Interface"><i class="entypo-palette"></i><span> Interface</span></a> 
	      		<!-- Interface Sub-Menu -->
			  	<ul id="interface-sub" class="accordion">
			        <li><a href="admin-typography.html" title="Typography"><i class="entypo-language"></i><span> Typography</span></a></li>
			        <li><a href="admin-nestable.html" title="Nestable"><i class="entypo-list-add"></i><span> Nestable</span></a></li>
			        <li><a href="admin-tree-view.html" title="Tree View"><i class="entypo-flow-tree"></i><span> Tree View</span></a></li>
			        <li><a href="admin-animation.html" title="Animation"><i class="entypo-cd"></i><span> Animation</span></a></li>
			        <li><a href="admin-components.html" title="Components"><i class="entypo-traffic-cone"></i><span> Components</span></a></li>
			        <li><a href="admin-elements.html" title="Elements"><i class="entypo-archive"></i><span> Elements</span></a></li>
			        <li><a href="admin-buttons.html" title="Items List"><i class="entypo-list"></i><span> Buttons</span></a></li>
			        <li>
			        	<a href="#" data-id="fonts-sub" title="Icon Fonts" class="submenu"><i class="fa fa-heart"></i><span> Icons</span></a>
						<ul id="fonts-sub">
				            <li><a href="admin-font-awesome.html" title="Awesome Font"><i class="fa fa-flag"></i><span> Awesome</span></a></li>
				            <li><a href="admin-font-glyphicons.html" title="Glyphicons"><i class="entypo-cancel-circled"></i><span> Glyphicons</span></a></li>
				            <li><a href="admin-font-entypo.html" title="Entypo"><i class="entypo-flag"></i><span> Entypo</span></a></li>
				      	</ul>
					</li>
	      		</ul>
	    	</li>
		    <li> 
		    	<a class="submenu" href="#" data-id="pages-sub" title="Pages"><i class="entypo-book"></i><span> Pages</span></a> 
		      	<!-- Pages Sub-Menu -->
				<ul id="pages-sub">
			        <li><a href="admin-megamenu.html" title="MegaMenu"><i class="entypo-menu"></i><span> MegaMenu <span class="badge">New!</span></span></a></li>
			        <li><a href="admin-timeline.html" title="Timeline"><i class="entypo-chart-bar"></i><span> Timeline</span></a></li>
			        <li><a href="admin-profile.html" title="Profile"><i class="entypo-user"></i><span> Profile</span></a></li>
			        <li><a href="admin-gallery.html" title="Gallery"><i class="entypo-picture"></i><span> Gallery</span></a></li>
			        <li><a href="admin-user-list.html" title="Items List"><i class="entypo-list"></i><span> Items List</span></a></li>
			        <li><a href="admin-pricelists.html" title="Pricelists"><i class="entypo-tag"></i><span> Pricelists</span></a></li>
			        <li><a href="admin-forum.html" title="Forum"><i class="entypo-comment"></i><span> Forum</span></a></li>
			        <li><a href="admin-chat.html" title="Chat"><i class="entypo-chat"></i><span> Chat</span></a></li>
			        <li><a href="admin-404.html" title="404"><i class="entypo-window"></i><span> 404 Error</span></a></li>
			        <li><a href="admin-404.html" title="500"><i class="entypo-window"></i><span> 500 Error</span></a></li>
			        <li><a href="admin-login.html" title="Login"><i class="entypo-vcard"></i><span> Login Page</span></a></li>
			        <li><a href="admin-clear.html" title="Clear Page"><i class="entypo-monitor"></i><span> Carte blanche</span></a></li>
			        <li><a href="admin-events.html" title="Events Calendar"><i class="entypo-calendar"></i><span> Calendar</span></a></li>
			        <li><a href="admin-search.html" title="Search Results"><i class="entypo-search"></i><span> Search Results</span></a></li>
			        <li><a href="admin-invoice.html" title="Invoice"><i class="entypo-box"></i><span> Invoice</span></a></li>
		      	</ul>
		    </li>
	    	<li> 
	    		<a class="submenu" href="#" data-id="maps-sub" title="Maps"><i class="entypo-map"></i><span> Maps</span></a> 
	      		<!-- Maps Sub-Menu -->
	      		<ul id="maps-sub">
	        		<li><a href="admin-maps-google.html" title="Google Maps"><i class="entypo-location"></i><span> Google Maps</span></a></li>
	        		<li><a href="admin-maps-vector.html" title="Vector Maps"><i class="entypo-compass"></i><span> Vector Maps</span></a></li>
	      		</ul>
	    	</li>
	    
	    	<!-- Other Contents Menu -->
	    	<li>
	    		<a href="#" title="Front End"><i class="entypo-cog"></i><span> Front End <span class="badge">Soon</span></span></a>
			</li>
  		</ul>
	<% end %>
</div>