<%
	is_child ||= false
	self_active = nav_active?(nav_item)
	child_active = nav_child_active?(nav_item)
	li_classses = [] 
	li_classses << "" unless nav_item[:items].blank?
	li_classses << "" if self_active || child_active
	a_classes = []
	a_classes << "active" if nav_item[:force_active] || (self_active || child_active) && (nav_item[:items] || !is_child)
	a_classes << "active-sub" if nav_item[:force_active] || (self_active || child_active) && is_child
	a_classes = [] if nav_item[:force_inactive]
	
	target = nav_item[:target] ? "target='#{nav_item[:target]}'" : ""
%>

<% if nav_show?(nav_item) %>
    <% if nav_item[:items].blank? %>
	    <li>
	        <a href="<%= nav_url(nav_item) %>" class="<%= a_classes.join(' ') %>" <%= target %>>
	            <%= nav_item[:icon_class] ? %{<i class="#{nav_item[:icon_class]}"></i>}.html_safe : "" %>
	            <span> <%= nav_item[:title] %></span>
	        </a>
        </li>
	<% else %>
		<li class="<%= li_classses.join(' ') %>">
	        <a href="#" class="submenu <%= a_classes.join(' ') %>" data-id="<%= nav_item[:sub_id] %>-sub">
	            <%= nav_item[:icon_class] ? %{<i class="#{nav_item[:icon_class]} sidebar-nav-icon"></i>}.html_safe : "" %>
	            <span class="sidebar-nav-mini-hide"><%= nav_item[:title] %></span>
	        </a>
            <ul id="<%= nav_item[:sub_id] %>-sub" class="accordion" style="padding-left:20px;">
            	<% if nav_item[:sub_id] == "evaluations" %>
			    	<li class="padding-5">
			    		<div class="bg-white padding-5">
			    			<b>ขณะนี้คุณเลือกบันทึกข้อมูล <%= Evaluation.model_name.human %></b>
				    		<%= form_tag(change_current_evaluation_url, {id: "change-evaluation-form"}) do %>
				    			<%= select :evaluation, :id, @active_evaluations.sort_by {|ev| ev.to_s}.reverse.collect {|ev| [ev.to_s, ev.id]}, {selected: @current_evaluation ? @current_evaluation.id : nil}, {class: "form-control", onchange: "$('#change-evaluation-form').submit();"} %>
				    		<% end %>
				    		<div class="clearfix"></div>
				    		<% if false %>
								<span class="disabled btn btn-xs btn-info">PD :</span><br/>
								<span class="disabled btn btn-xs btn-light text-black"><%= @current_evaluation.pd_start_date ? @current_evaluation.pd_start_date.strftime("%d/%m/%Y") : "" %> - <%= @current_evaluation.pd_end_date ? @current_evaluation.pd_end_date.strftime("%d/%m/%Y") : "" %></span><br/> 
			
								<span class="disabled btn btn-xs btn-primary">PF :</span><br/>
								<span class="disabled btn btn-xs btn-light text-black"><%= @current_evaluation.pf_start_date ? @current_evaluation.pf_start_date.strftime("%d/%m/%Y") : "" %> - <%= @current_evaluation.pf_end_date ? @current_evaluation.pf_end_date.strftime("%d/%m/%Y") : "" %></span><br/> 
			
								<span class="disabled btn btn-xs btn-warning">ยืนยันงาน :</span><br/>
								<span class="disabled btn btn-xs btn-light text-black"><%= @current_evaluation.confirm_start_date ? @current_evaluation.confirm_start_date.strftime("%d/%m/%Y") : "" %> - <%= @current_evaluation.confirm_end_date ? @current_evaluation.confirm_end_date.strftime("%d/%m/%Y") : "" %></span><br/> 
			
								<span class="disabled btn btn-xs btn-success">ประเมิน :</span><br/>
								<span class="disabled btn btn-xs btn-light text-black"><%= @current_evaluation.evaluation_start_date ? @current_evaluation.evaluation_start_date.strftime("%d/%m/%Y") : "" %> - <%= @current_evaluation.evaluation_end_date ? @current_evaluation.evaluation_end_date.strftime("%d/%m/%Y") : "" %></span>
							<% end %>
			    		</div>
			    		<div class="clearfix margin-bottom-5"></div>
			    	</li>
				<% end %>
                <% nav_item[:items].each do |child| %>
                    <%= render partial: "/layouts/orb/nav_item", locals: {nav_item: child, is_child: true} %>
                <% end %>
            </ul>
        </li>
	<% end %>
<% end %>