<% role ||= "" %>
<% unless role.blank? %>
	<div class="powerwidget red" role="widget">
		<header role="heading">
			<h2>ประเมินรายบุคคล<small>...</small></h2>
		</header>
		<div class="inner-spacer" role="content">
			<table class="table table-striped table-hover margin-0px">
	          	<thead>
	            	<tr>
	            		<th style="width:50px; text-align:right;"></th>
	                    <th><%= t(:personel) %></th>
	                    <th class="text-center">คะแนน</th>
	                    <th class="hide">&nbsp;</th>
	            	</tr>
	          	</thead>
	          	<tbody>
	          		<% count = 0 %>
	          		<% 
	          			section_id = @section ? @section.id : nil
	          			team_id = @team ? @team.id : nil
	          			faculty_id = @faculty ? @faculty.id : nil
	          			users = current_user.assess_to(@current_evaluation, role, {section_id: section_id, team_id: team_id, faculty_id: faculty_id})
      					users -= [current_user]
          			%>
          			<% users.sort_by {|u| u.to_s}.each do |user| %>
	            		<tr>
	            			<td style="vertical-align:top; text-align:right;"><%= count += 1 %>.</td>
							<td class="text-top">
								<%= link_to user.prefix_firstname_lastname, user_e360s_url(role, user, section_id: @section, team_id: @team, faculty_id: @faculty) %><br/>
								<small>
									<% user.position_boards.each do |pb| %>
										<%= pb %><br/>
									<% end %>
									<%= user.position %><br/>
									<%= user.employee_type %>
								</small>
							</td>
							<td style="vertical-align:top; text-align:center;">
								<% final_score = 0 %>
								<% if false && role == "director" %>
									<% eus = user.evaluation_users.where(["evaluation_id = ? AND committee_id IN (?) AND role IN (?)", @current_evaluation.id, [@current_evaluation.director_id], ["director"]]) %>
									<% final_score = eus.size > 0 ? eus.collect {|eu| eu.final_score}.sum / eus.size : 0 %>
								<% elsif false && (role == "section_leader" || role == "section_vice_leader") %>
									<% eus = user.evaluation_users.where(["evaluation_id = ? AND committee_id IN (?) AND role IN (?)", @current_evaluation.id, [@section.leader_id, @section.vice_leader_id], ["section_leader", "section_vice_leader"]]) %>
									<% final_score = eus.size > 0 ? eus.collect {|eu| eu.final_score}.sum / eus.size : 0 %>
									<div class="hide">
										<% eus.each do |eu| %>
											<%= eu.role %> :: <%= eu.final_score %> <br/>
										<% end %>
									</div>
								<% else %>
									<% eus = user.evaluation_users.where(["evaluation_id = ? AND committee_id = ? AND role = ?", @current_evaluation.id, current_user.id, role]) %>
									<% final_score = eus.size > 0 ? eus.collect {|eu| eu.final_score}.sum / eus.size : 0 %>
									<div class="hide">
										<% eus.each do |eu| %>
											<%= eu.role %> :: <%= eu.final_score %> <br/>
										<% end %>
									</div>
								<% end %>
								<%= final_score > 0 ? final_score.to_s_decimal_comma : "" %>
							</td>
							<td class="text-top hide">
								<%#= link_to "ข้อมูลประกอบ", documentary_url(year: @current_evaluation.year, pid: user.pid), {target: "window"} %>
								<div class="clearfix"></div>
								<%= link_to "ข้อมูลตกลง", print_pds_url(user), {target: "window"} %>
								<div class="clearfix"></div>
								<%= link_to "รายงานผลการปฏิบัติงาน", print_pfs_url(user), {target: "window"} %>
							</td>
	                	</tr>
                	<% end %>
	          	</tbody>
	        </table>
	  	</div>
	</div>
<% end %>
