<!-- replace 'evaluation' with your parent object name -->
<% 
	f_index = "#{f.index}".to_s
	object_name = "evaluation_evaluation_employee_types_attributes_#{f_index}".to_sym
	employee_type_select_id = "evaluation_evaluation_employee_types_attributes_#{f_index}_employee_type_id".to_sym
%> 
<tr class="nested-fields">
    <td class="text-top">
        <%= f.association :employee_type, wrapper: :nested_form, collection: (EmployeeType.all + (f.object.employee_type.nil? ? [] : [f.object.employee_type])).uniq.sort_by {|asso| asso.to_s}, value_method: :id, label_method: :to_s, input_html: {data: {placeholder: t(:choose)}} %>
        <%= render partial: "/settings/employee_types/chosen_select", locals: {object_name: :evaluation_employee_type, no_create: true, select_id: employee_type_select_id} %>
    </td>
    <td class="text-top">
        <%= f.input :director_ratio, wrapper: :nested_form, input_html: {style: "text-align:center;"} %>
    </td>
    <td class="text-top">
        <%= f.input :vice_director_ratio, wrapper: :nested_form, input_html: {style: "text-align:center;"} %>
    </td>
    <td class="text-top">
        <%= f.input :vice_director2_ratio, wrapper: :nested_form, input_html: {style: "text-align:center;"} %>
    </td>
    <td class="text-top">
        <%= f.input :vice_director3_ratio, wrapper: :nested_form, input_html: {style: "text-align:center;"} %>
    </td>
    <td class="text-top">
        <%= f.input :secretary_ratio, wrapper: :nested_form, input_html: {style: "text-align:center;"} %>
    </td>
    <td class="text-top">
        <%= f.input :section_leader_ratio, wrapper: :nested_form, input_html: {style: "text-align:center;"} %>
    </td>
    <td class="text-top">
        <%= f.input :task_ratio, wrapper: :nested_form, input_html: {style: "text-align:center;"} %>
    </td>
    <td class="text-top">
        <%= f.input :ability_ratio, wrapper: :nested_form, input_html: {style: "text-align:center;"} %>
    </td>
    <% unless action_name == "show" %>
        <td class="text-top">
            <%= link_to_remove_association f, class: "btn btn-sm btn-danger" do %>
               <i class='fa fa-trash-o'></i>
            <% end %>
			<script type="text/javascript">$(document).ready( function() { jQuery(function($){ $("#evaluation_evaluation_employee_types_attributes_<%= f.index %>_employee_type").chosen({width: "100%"}); }); });</script>
        </td>
    <% end %>
</tr>