<table class="table table-striped table-bordered table-hover">
    <thead>
        <tr>
            <th nowrap><%= Section.human_attribute_name :name %></th>
            <th nowrap><%= Section.human_attribute_name :leader %></th>
            <th nowrap><%= Section.human_attribute_name :vice_leader %></th>
            <% unless action_name == "show" %>
                <th style="width:30px;">
                    <%= link_to_add_association f, :sections, partial: "/settings/sections/nested_fields", class: "btn btn-sm btn-success",
                    "data-association-insertion-node" => "#section_fields",
                    "data-association-insertion-method" => :append do %>
                    <i class='fa fa-plus'></i>
                    <% end %>
                </th>
            <% end %>
        </tr>
    </thead>
    <tbody id="section_fields">
        <%= f.simple_fields_for :sections do |section| %>
            <%= render '/settings/sections/nested_fields', :f => section %>
        <% end %>
    </tbody>
</table>
<script type="text/javascript">
    jQuery(function($) {
        $('#section_fields').on('cocoon:after-insert', function(e, insertedItem) {
            init_input_date_picker();
            init_input_time_picker();
            init_input_datetime_picker();
        });
    });
</script>