<div class="col-md-12">
	<div class="cbp-qtcontent">
  		<div class="user-img"><%= image_tag news_front.image.url(:front), {alt: news_front.title} %></div>
  		<blockquote>
        	<h3><%= link_to news_front.title, news_frontend_url(news_front, page: params[:page]) %></h3>
        	<p style="height: 90px; overflow:hidden;"><%= news_front.detail.gsub("\r", "<br/>").html_safe %></p>
        	<footer><%= NewsFront.human_attribute_name(:published_at) %>: <%= news_front.published_at %></footer>
      	</blockquote>
	</div>
</div>