<% if @news_front %>
	<div class="blog-post">
  		<div class="blog-header"> 
        	<!--Big Date-->
            <div class="blog-date"> <span class="month"><%= @news_front.published_at.strftime("%b") %></span> <span class="day"><%= @news_front.published_at.strftime("%d") %></span> <span class="year"><%= @news_front.published_at.strftime("%Y") %></span> </div>
            <!--/Big Date-->
            <div class="page-header">
              	<h1><%= @news_front.title %></h1>
            </div>
      	</div>
      	<% if @news_front.image.file? %>
	      	<p>
	      		<center><%= image_tag @news_front.image.url, {class: "img-responsive"} %></center>
	      	</p>
      	<% end %>
      	<p>
      		<%= @news_front.detail.gsub("\r", "<br/>").html_safe %>
      	</p>
      	<p>
	      	<%= link_to news_frontend_url(page: params[:page]), {class: "btn btn-lg btn-default"} do %>
	      		<i class="fa fa-arrow-left"></i>
	      		<%= t(:back) %>
	      	<% end %>
      	</p>
  	</div>
  	
  	<% comments = Comment.order("created_at ASC").where(["obj = ? AND obj_id = ?", "NewsFront", @news_front.id]) %>
  	<div class="comments-block">
      	<div class="page-header">
            <h1>Comments <span class="badge"><%= comments.size %></span></h1>
      	</div>
      	<ul class="comments-list">
      		<% i = 0 %>
      		<% comments.each do |comment| %>
            	<li>
              		<div class="row">
                		<div class="col-md-2 col-sm-3 col-xs-3"> 
                			<% if comment.user %>
                				<%= image_tag comment.user.avatar.url(:small), {class: "comments-author img-responsive"} %>
                			<% else %>
                				<%= image_tag "/files/missing/users/small.png", {class: "comments-author img-responsive"} %>
                			<% end %>
            			</div>
            			<div class="col-md-10 col-sm-9 col-xs-9">
              				<div class="comment-content">
                    			<div class="comments-info clearfix">
                      				<h4 class="pull-left"><%= Sanitize.clean(comment.by, remove_contents: ['script', 'style']) %></h4>
                  					<span class="comments-num pull-right"><%= i += 1 %></span> 
              					</div>
			                    <%= Sanitize.clean(comment.comment.gsub("\r", "<br/>"), remove_contents: ['script', 'style']) %>
                				<div class="comments-info">
                					<span class="typcn typcn-time"></span> Posted on <%= comment.created_at.strftime("%d/%m/%Y | %H:%M") %>
                				</div>
              				</div>
        				</div>
      				</div>
    			</li>
	      	<% end %>
		</ul>
	</div>
	<div class="add-comment padding">
		<%= form_tag(comment_news_front_frontend_url(@news_front.id), {method: :post, class: 'form-horizontal orb-form', id: "review-form"}) do %>
        	<header>Your comment</header>
        	<fieldset>
        		<% unless current_user %>
	              	<section>
	                	<label class="input"> 
	                		<i class="icon-append fa fa-user"></i>
	                  		<input type="text" placeholder="Your name" id="name" name="comment[by]">
	                	</label>
	              	</section>
              	<% end %>
              	<section>
                	<label class="label"></label>
                	<label class="textarea"> 
                		<i class="icon-append fa fa-comment"></i>
                  		<textarea placeholder="Text of the review" id="review" name="comment[comment]" rows="3" <%= "autofocus='true'" if params[:focus].to_s == "comment" %>></textarea>
                	</label>
              	</section>
        	</fieldset>
            <footer>
              	<button class="btn btn-lg btn-default" type="submit">
              		<i class="fa fa-plus-circle"></i> Submit a comment
          		</button>
            </footer>
      	<% end %>
    </div>
<% elsif @news_fronts %>

	<% if controller.send(:_layout) == "orb_frontend" %>

		<div class="page-header">
		  	<h3><%= NewsFront.model_name.human %></h3>
		</div>
		<div class="simple-testimonials"> 
			<% @news_fronts.each do |news_front| %>
				<%= render partial: "news", locals: {news_front: news_front} %>
		  	<% end %>
		</div>
		<span class="pull-right">
			<%= will_paginate @news_fronts %>
		</span>
	
	<% else %>
	
		<div class="goods-grid">
	    	<h2><%= NewsFront.model_name.human %></h2>
    		<legend></legend>
			<% @news_fronts.each do |news_front| %>
    		<div class="col-xs-6 col-sm-4 col-md-3">
	          	<div class="thumbnail">
	        		<%= link_to news_frontend_url(news_front, page: params[:page]) do %>
		        		<div class="padding-10px"> 
		        			<center>
		      					<%= image_tag news_front.image.url(:front), {alt: news_front.title, class: "no-padding", style: "border-radius:50%; border:5px solid #333333;;"} %>
		              			<h5 style="height:31px; overflow:hidden; text-overflow:ellipsis;"><%= news_front.title %></h5>
		              			<div style="height:55px; overflow:hidden;"><%= news_front.detail.gsub("\r", "<br/>").html_safe %></div>
		      				</center>
	          			</div>
	  				<% end %>
	          	</div>
	        </div>
		  	<% end %>
	  	</div>
		<div class="block">
			<div class="col-md-12">
				<span class="pull-right">
					<%= will_paginate @news_fronts %>
				</span>
			</div>
			<div class="clearfix"></div>
		</div>
		
	<% end %>
	
<% end %>
