<% @form_defaults = {input_html: {autocomplete: :off}} %>
<% @form_defaults[:disabled] = (action_name == "show") || (@e360_user.respond_to?(:current_state) && @e360_user.current_state.meta[:disabled]) %>
<div data-widget-editbutton="false" id="power-forms-grid" class="powerwidget cold-grey" role="widget">
	<div class="inner-spacer" role="content">

		<%= simple_form_for(@e360_user, html: {class: 'form-horizontal'}, defaults: @form_defaults) do |f| %>
	    	<% params[:q].each do |k,v| %>
		        <%= hidden_field_tag "q[#{k}]", v %>
		    <% end unless params[:q].blank? %>
		    <%= hidden_field_tag(:page, params[:page]) unless params[:page].blank? %>
		    
	        <%= render partial: "/form_actions_top", locals: {
	            resource_class: E360User, resource: @e360_user, f: f,
	            resources_url: e360_users_path(q: params[:q], page: params[:page]),
	            resource_url: @e360_user.new_record? ? nil : e360_user_path(@e360_user, q: params[:q], page: params[:page]),
	            edit_resource_url: @e360_user.new_record? ? nil : edit_e360_user_path(@e360_user, q: params[:q], page: params[:page])
	        } unless params[:modal] %>

		  	<fieldset>

		        <%= f.association :evaluation, collection: (Evaluation.all + (f.object.evaluation.nil? ? [] : [f.object.evaluation])).uniq.sort_by {|asso| asso.to_s}, value_method: :id, label_method: :to_s, input_html: {data: {placeholder: t(:choose)}} %>
		        <%= render partial: "/evaluations/chosen_select", locals: {object_name: :e360_user, no_create: true} %>
		        <%= f.association :user, collection: (User.all + (f.object.user.nil? ? [] : [f.object.user])).uniq.sort_by {|asso| asso.to_s}, value_method: :id, label_method: :to_s, input_html: {data: {placeholder: t(:choose)}} %>
		        <%= render partial: "/users/chosen_select", locals: {object_name: :e360_user, no_create: true} %>
		        <%= f.association :committee, collection: (Committee.all + (f.object.committee.nil? ? [] : [f.object.committee])).uniq.sort_by {|asso| asso.to_s}, value_method: :id, label_method: :to_s, input_html: {data: {placeholder: t(:choose)}} %>
		        <%= render partial: "/committees/chosen_select", locals: {object_name: :e360_user, no_create: true} %>
	        	<%= f.input :role %>
	            
		  		<div class="col-md-6 col-md-offset-4">
			        <%= render partial: "/form_actions_bottom", locals: {
			            resource_class: E360User, resource: @e360_user, f: f,
			            resources_url: e360_users_path(q: params[:q], page: params[:page]),
			            resource_url: @e360_user.new_record? ? nil : e360_user_path(@e360_user, q: params[:q], page: params[:page]),
			            edit_resource_url: @e360_user.new_record? ? nil : edit_e360_user_path(@e360_user, q: params[:q], page: params[:page])
			        } %>
		        </div>
		  	</fieldset>
		<% end %>
  	</div>
</div>		
