<tr id="job-vice-row-<%= job_vice.id %>">
	<td id="job-vice-name-<%= job_vice.id %>" class="text-top">
		<%= text_area "job_vice_#{job_vice.id}", :weight, {value: job_vice.name, placeholder: "กิจกรรม / โครงการ / งาน", class: "form-control", id: "job_vice_#{job_vice.id}_name"} %>
	</td>
	<td class="text-center text-top"><%= radio_button "xjob_vice_#{job_vice.id}", :expect, 1, {checked: job_vice.expect.to_i == 1, id: "xjob_vice_#{job_vice.id}_expect_1", onclick: "$('#job_vice_#{job_vice.id}_expect').val(1);"} %></td>
	<td class="text-center text-top"><%= radio_button "xjob_vice_#{job_vice.id}", :expect, 2, {checked: job_vice.expect.to_i == 2, id: "xjob_vice_#{job_vice.id}_expect_2", onclick: "$('#job_vice_#{job_vice.id}_expect').val(2);"} %></td>
	<td class="text-center text-top"><%= radio_button "xjob_vice_#{job_vice.id}", :expect, 3, {checked: job_vice.expect.to_i == 3, id: "xjob_vice_#{job_vice.id}_expect_3", onclick: "$('#job_vice_#{job_vice.id}_expect').val(3);"} %></td>
	<td class="text-center text-top"><%= radio_button "xjob_vice_#{job_vice.id}", :expect, 4, {checked: job_vice.expect.to_i == 4, id: "xjob_vice_#{job_vice.id}_expect_4", onclick: "$('#job_vice_#{job_vice.id}_expect').val(4);"} %></td>
	<td class="text-center text-top"><%= radio_button "xjob_vice_#{job_vice.id}", :expect, 5, {checked: job_vice.expect.to_i == 5, id: "xjob_vice_#{job_vice.id}_expect_5", onclick: "$('#job_vice_#{job_vice.id}_expect').val(5);"} %></td>
	<td class="text-right text-top">
		<%= hidden_field "job_vice_#{job_vice.id}", :expect, {value: job_vice.expect} %>
		<%= text_field "job_vice_#{job_vice.id}", :weight, {value: job_vice.weight ? job_vice.weight.to_s_decimal : nil, placeholder: "น้ำหนัก ", class: "form-control", style: "text-align:right;", id: "job_vice_#{job_vice.id}_weight"} %>
	</td>
	<% if @current_evaluation.is_director_confirm_range && job_vice.current_state.to_sym == :enabled %>
		<td class="text-top">
			<div id="job-vice-update-button-<%= job_vice.id %>" class="btn btn-success pull-left" title="บันทึก">
				<i class="fa fa-save"></i> <%= t(:save) %>
			</div>
			<script type="text/javascript">
				 jQuery(function($) {
				 	$('#job-vice-update-button-<%= job_vice.id %>').click(function(event){
				 		$.ajax({
			            	url: '<%= update_job_vice_director_confirms_url %>',
			    			type: 'post',
			    			data: {job_vice_id: <%= job_vice.id %>, name: $("#job_vice_<%= job_vice.id %>_name").val(), expect: $("#job_vice_<%= job_vice.id %>_expect").val(), weight: $("#job_vice_<%= job_vice.id %>_weight").val()},
			                dataType: 'script'
			            });
			        });
		        });
	        </script>
		</td>
	<% else %>
		<td class="text-top"><span class="label <%= state_label_class(job_vice.workflow_state.to_sym) %>"><%=t "workflow.state.#{job_vice.workflow_state}" %></span></td>
	<% end %>
</tr>
<script type="text/javascript">
					$('textarea').each(function () {
					  input_auto_height(this);
					}).on('input', function () {
					  input_auto_height(this);
					});
</script>
