<% is_director_confirm ||= false %>
<tr id="job-vice-row-<%= job_vice.id %>">
	<td id="job-vice-name-<%= job_vice.id %>" class="text-top">
		<% job_vice.name.split("\n").each do |jn| %>
			<%= jn %><br/>
		<% end %>
		<% job_vice.job_vice_logs.limit(1).each do |job_vice_log| %>
			<div class="col-xs-12">
				<div class="small text-cold-grey" style="text-decoration:line-through;">
					<% job_vice_log.name.split("\n").each do |jn| %>
						<%= jn %><br/>
					<% end %>
				</div>
			</div>
		<% end %>
	</td>
	<td class="text-center text-top"><%= radio_button "job_vice_#{job_vice.id}", :expect, 1, {checked: job_vice.expect.to_i == 1, class: "#{'hide' if job_vice.expect.to_i != 1}", disabled: true} %></td>
	<td class="text-center text-top"><%= radio_button "job_vice_#{job_vice.id}", :expect, 2, {checked: job_vice.expect.to_i == 2, class: "#{'hide' if job_vice.expect.to_i != 2}", disabled: true} %></td>
	<td class="text-center text-top"><%= radio_button "job_vice_#{job_vice.id}", :expect, 3, {checked: job_vice.expect.to_i == 3, class: "#{'hide' if job_vice.expect.to_i != 3}", disabled: true} %></td>
	<td class="text-center text-top"><%= radio_button "job_vice_#{job_vice.id}", :expect, 4, {checked: job_vice.expect.to_i == 4, class: "#{'hide' if job_vice.expect.to_i != 4}", disabled: true} %></td>
	<td class="text-center text-top"><%= radio_button "job_vice_#{job_vice.id}", :expect, 5, {checked: job_vice.expect.to_i == 5, class: "#{'hide' if job_vice.expect.to_i != 5}", disabled: true} %></td>
	<td class="text-right text-top"><%= job_vice.weight.to_s_decimal_comma %></td>
	<% if @current_evaluation.is_director_confirm_range && !is_director_confirm && job_vice.current_state.to_sym == :enabled %>
		<td class="text-top">
			<div id="job-vice-edit-button-<%= job_vice.id %>" class="btn btn-warning pull-left margin-right-5" title="<%= t(:edit) %>">
				<i class="fa fa-pencil"></i>
			</div>
			<div id="job-vice-remove-button-<%= job_vice.id %>" class="btn btn-danger pull-lef margin-right-5t" title="<%= t(:delete) %>">
				<i class="fa fa-trash-o"></i>
			</div>
			<script type="text/javascript">
				 jQuery(function($) {
				 	$('#job-vice-remove-button-<%= job_vice.id %>').click(function(event){
	    				if (confirm('ยืนยันลบงาน <%= job_vice.name.gsub("\n", " ") %> ?')) {
					 		$.ajax({
				            	url: '<%= remove_job_vice_director_confirms_url %>',
				    			type: 'post',
				    			data: {job_vice_id: <%= job_vice.id %>},
				                dataType: 'script'
				            });
			           	}
			        });
				 	$('#job-vice-edit-button-<%= job_vice.id %>').click(function(event){
				 		$.ajax({
			            	url: '<%= edit_job_vice_director_confirms_url %>',
			    			type: 'get',
			    			data: {job_vice_id: <%= job_vice.id %>},
			                dataType: 'script'
			            });
			        });
		        });
	        </script>
		</td>
	<% else %>
		<td class="text-top"><span class="hide label <%= state_label_class(job_vice.workflow_state.to_sym) %>"><%=t "workflow.state.#{job_vice.workflow_state}" %></span></td>
	<% end %>
</tr>
