<% @form_defaults = {input_html: {autocomplete: :off}} %>
<% @form_defaults[:disabled] = (action_name == "show") || (@evaluation_salary_up.respond_to?(:current_state) && @evaluation_salary_up.current_state.meta[:disabled]) %>
<div data-widget-editbutton="false" id="power-forms-grid" class="powerwidget cold-grey" role="widget">
	<div class="inner-spacer" role="content">

		<%= simple_form_for(@evaluation_salary_up, html: {class: 'form-horizontal'}, defaults: @form_defaults) do |f| %>
	    	<% params[:q].each do |k,v| %>
		        <%= hidden_field_tag "q[#{k}]", v %>
		    <% end unless params[:q].blank? %>
		    <%= hidden_field_tag(:page, params[:page]) unless params[:page].blank? %>
		    
	        <%= render partial: "/form_actions_top", locals: {
	            resource_class: EvaluationSalaryUp, resource: @evaluation_salary_up, f: f,
	            resources_url: evaluation_salary_ups_path(q: params[:q], page: params[:page]),
	            resource_url: @evaluation_salary_up.new_record? ? nil : evaluation_salary_up_path(@evaluation_salary_up, q: params[:q], page: params[:page]),
	            edit_resource_url: @evaluation_salary_up.new_record? ? nil : edit_evaluation_salary_up_path(@evaluation_salary_up, q: params[:q], page: params[:page])
	        } unless params[:modal] %>

		  	<fieldset>

		        <%= f.association :evaluation, collection: (Evaluation.all + (f.object.evaluation.nil? ? [] : [f.object.evaluation])).uniq.sort_by {|asso| asso.to_s}, value_method: :id, label_method: :to_s, input_html: {data: {placeholder: t(:choose)}} %>
		        <%= render partial: "/evaluations/chosen_select", locals: {object_name: :evaluation_salary_up, no_create: true} %>
	        	<%= f.input :percent_of_change %>
	        	<%= f.input :total_amount %>
	        	<%= f.input :total_eligible_amount %>
	        	<%= f.input :point_level1 %>
	        	<%= f.input :point_level2 %>
	        	<%= f.input :point_level3 %>
	        	<%= f.input :point_level4 %>
	        	<%= f.input :point_level5 %>
	        	<%= f.input :min_change1 %>
	        	<%= f.input :min_change2 %>
	        	<%= f.input :min_change3 %>
	        	<%= f.input :min_change4 %>
	        	<%= f.input :min_change5 %>
	        	<%= f.input :max_change1 %>
	        	<%= f.input :max_change2 %>
	        	<%= f.input :max_change3 %>
	        	<%= f.input :max_change4 %>
	        	<%= f.input :max_change5 %>
	            
		  		<div class="col-md-6 col-md-offset-4">
			        <%= render partial: "/form_actions_bottom", locals: {
			            resource_class: EvaluationSalaryUp, resource: @evaluation_salary_up, f: f,
			            resources_url: evaluation_salary_ups_path(q: params[:q], page: params[:page]),
			            resource_url: @evaluation_salary_up.new_record? ? nil : evaluation_salary_up_path(@evaluation_salary_up, q: params[:q], page: params[:page]),
			            edit_resource_url: @evaluation_salary_up.new_record? ? nil : edit_evaluation_salary_up_path(@evaluation_salary_up, q: params[:q], page: params[:page])
			        } %>
		        </div>
		  	</fieldset>
		<% end %>
  	</div>
</div>		
