<% @form_defaults = {input_html: {autocomplete: :off}} %>
<% @form_defaults[:disabled] = (action_name == "show") || (@news_front.respond_to?(:current_state) && @news_front.current_state.meta[:disabled]) %>
<div data-widget-editbutton="false" id="power-forms-grid" class="powerwidget cold-grey" role="widget">
	<div class="inner-spacer" role="content">

		<%= simple_form_for(@news_front, html: {class: 'form-horizontal'}, defaults: @form_defaults) do |f| %>
	    	<% params[:q].each do |k,v| %>
		        <%= hidden_field_tag "q[#{k}]", v %>
		    <% end unless params[:q].blank? %>
		    <%= hidden_field_tag(:page, params[:page]) unless params[:page].blank? %>
		    
	        <%= render partial: "/form_actions_top", locals: {
	            resource_class: NewsFront, resource: @news_front, f: f,
	            resources_url: news_fronts_path(q: params[:q], page: params[:page]),
	            resource_url: @news_front.new_record? ? nil : news_front_path(@news_front, q: params[:q], page: params[:page]),
	            edit_resource_url: @news_front.new_record? ? nil : edit_news_front_path(@news_front, q: params[:q], page: params[:page])
	        } unless params[:modal] %>

		  	<fieldset>

				<%= f.input :title, as: :string_custom %>
				<%= f.input :detail %>
		        <%= f.input :image, as: :file_custom %>
				<%#= f.input :published_at, as: :datetime_custom, input_html: {value: @news_front.published_at ? @news_front.published_at.strftime("%d/%m/%Y %H:%M") : ""} %>
	            
		  		<div class="col-md-6 col-md-offset-4">
			        <%= render partial: "/form_actions_bottom", locals: {
			            resource_class: NewsFront, resource: @news_front, f: f,
			            resources_url: news_fronts_path(q: params[:q], page: params[:page]),
			            resource_url: @news_front.new_record? ? nil : news_front_path(@news_front, q: params[:q], page: params[:page]),
			            edit_resource_url: @news_front.new_record? ? nil : edit_news_front_path(@news_front, q: params[:q], page: params[:page])
			        } %>
		        </div>
		  	</fieldset>
		<% end %>
  	</div>
</div>		
