<div class="page-header">
	<h1><%= Expense.model_name.human %><small><%= action_name %></small></h1>
</div>
			      
<!-- Widget Row Start grid -->
<div class="row" id="powerwidgets">
	<div class="col-md-12 bootstrap-grid">
		<div data-widget-editbutton="false" id="power-forms-grid" class="powerwidget cold-grey" role="widget">
      		<div class="inner-spacer" role="content">
				<%= link_to new_projects_expense_url, {class: "btn btn-success"} do %>
					<i class="fa fa-plus"></i> <%= t(:new) %>
				<% end %>
				<%= link_to import_projects_expenses_url, {class: "btn btn-success margin-left-20"} do %>
					<i class="fa fa-caret-square-o-down"></i> <%= t(:import) %>
				<% end %>
				
                <%= search_form_for @q, url: projects_expenses_url, id: 'quick-search', class: "form-horizontal pull-right no-padding col-sm-9 col-md-6 col-lg-4 #{'hide' if params[:advance]}" do |f| %>
	          		<div class="input-group">
						<div class="input-group">
							<div class="input-group-addon">ปีงบประมาณ</div>
							<%= f.select :project_code_start, (2010..(Date.current.year + 3)).collect {|y| [y + 543, y + 543 - 2500]}.reverse, {include_blank: t(:all)}, {class: "form-control"}  %>
						</div>
						<%= f.text_field :budget_type_name_or_project_code_or_project_name_or_description_or_by_cont, :autofocus => true, class: "form-control", placeholder: "#{t(:search)} ..." %>
						<span class="input-group-addon btn" onclick="$('#quick-search').submit();"><i class="fa fa-search"></i></span>
						<span class="input-group-addon btn btn-primary" id="advanced-visibled-visibled"><%= t(:advanced) %></span>
                    </div>
                    <%= f.select :workflow_state_in, Expense.workflow_spec.states.keys.map{|k| [(t "workflow.state.#{k}"), k]}, {selected: Expense.active_states}, {multiple: true, class: 'hide', id: :quick_q_workflow_state_in} %>
                <% end %>
                
                <%= search_form_for @q, url: projects_expenses_url, builder: SimpleForm::FormBuilder, id: 'advanced-search', html: {novalidate: true, class: "form-horizontal margin-top-5 #{'hide' unless params[:advance]}"} do |f| %>
                	<div class="panel panel-primary">
              			<div class="panel-heading">
                			<div class="panel-title pull-left"><%= t(:search) %><small><%= t(:advanced) %></small></div>
                			<div class="pull-right"> 
                				<span class="btn btn-xs" id="advanced-hidden-visibled"><i class="fa fa-times"></i></span>
            				</div>
                			<div class="clearfix"></div>
              			</div>
              			<div class="panel-body">
						  	<fieldset>
						  		
								<%= f.input :project_id_eq, collection: Project.all.uniq.sort_by {|asso| asso.to_s}, value_method: :id, label_method: :to_s, required: false, label: Expense.human_attribute_name(:project), input_html: {class: "form-control chosen-select", data: {placeholder: t(:all)}} %>
								<%= f.input :description_cont, required: false, label: Expense.human_attribute_name(:description) %>
								<%= f.input :date_eq, as: :date_custom, required: false, label: Expense.human_attribute_name(:date), input_html: {value: @q.date_eq ? @q.date_eq.strftime("%d/%m/%Y") : ""} %>
								<%= f.input :by_cont, required: false, label: Expense.human_attribute_name(:by) %>
		    					
		                        <div class="form-group">
		                        	<label class="control-label col-md-4">
		                        		<%= Expense.human_attribute_name(:workflow_state) %>
		                    		</label>
		                    		<div class="col-md-6">
				                        <%= f.select :workflow_state_in, Expense.workflow_spec.states.keys.map{|k| [(t "workflow.state.#{k}"), k]}, {}, {multiple: true, "data-placeholder" => Expense.human_attribute_name(:workflow_state), class: 'form-control'} %>
		                        		<script type="text/javascript">jQuery(function($){ $("#q_workflow_state_in").select2({width: "100%"}); })</script>
		                			</div>
		            			</div>
								
								<% if false %>
		                            <%= f.association :creator_id_in, User.limit(100).collect{|r| [r.to_s, r.id]}, {include_blank: true}, {multiple: true, "data-placeholder" => Expense.human_attribute_name(:created_by)} %>
		                            <%= render partial: "/admin/users/chosen_select", locals: {object_name: :q, select_id: :q_creator_id_in, width: "178px", no_create: true} %>
		                            <%= f.input :created_at_gteq, class: "date_custom optional date_picker", "data-date-format" => "dd/mm/yyyy", placeholder: "#{Expense.human_attribute_name(:created_at)} #{t(:from_date)}", value: (params[:q][:created_at_gteq] rescue "") %>
		                            <%= f.input :created_at_lteq, class: "date_custom optional date_picker", "data-date-format" => "dd/mm/yyyy", placeholder:"#{Expense.human_attribute_name(:created_at)} #{t(:to_date)}", value: (params[:q][:created_at_lteq] rescue "") %>
		                            <%= f.association :updater_id_in, User.limit(100).collect{|r| [r.to_s, r.id]}, {include_blank: true}, {multiple: true, "data-placeholder" => Expense.human_attribute_name(:updated_by)} %>
		                            <%= render partial: "/admin/users/chosen_select", locals: {object_name: :q, select_id: :q_updater_id_in, width: "178px", no_create: true} %>
		                            <%= f.input :updated_at_gteq, class: "date_custom optional date_picker", "data-date-format" => "dd/mm/yyyy", placeholder: "#{Expense.human_attribute_name(:updated_at)} #{t(:from_date)}", value: (params[:q][:updated_gteq] rescue "") %>
		                            <%= f.input :updated_at_lteq, class: "date_custom optional date_picker", "data-date-format" => "dd/mm/yyyy", placeholder:"#{Expense.human_attribute_name(:updated_at)} #{t(:to_date)}", value: (params[:q][:updated_lteq] rescue "") %>
								<% end %>

								<div class="col-md-6 col-md-offset-4">
								    <%= f.button :button, class: "btn #{event_btn_class(:search)} margin-right-10" do %>
								        <%= event_icon_tag(:search) %>
								        <%= t(:search) %>
								    <% end %>
	                            	<%= hidden_field_tag "advance", true %>
							    </div>
						  	</fieldset>
						</div>
					</div>
                <% end %>
                <div class="clearfix"></div>
            	<legend></legend>
  				<table class="table table-striped table-hover margin-0px">
                  	<thead>
                    	<tr>
                      		<th class="tools text-top"></th>
                            <th><%= sort_link @q, :project, Expense.human_attribute_name(:project) %></th>
                            <!-- th style="text-align:right; width:80px;"><%= sort_link @q, :sorting %></th -->
                            <th style="width:100px;"><%= sort_link @q, :date %></th>
                            <th><%= sort_link @q, :description %></th>
                            <th><%= sort_link @q, :budget_type, Expense.human_attribute_name(:budget_type) %></th>
                            <th style="text-align:right; width:120px;"><%= sort_link @q, :amount %></th>
                            <th><%= sort_link @q, :by %></th>
                            <th class="workflow_state"><%= sort_link @q, :workflow_state %></th>
                    	</tr>
                  	</thead>
                  	<tbody>
        				<% @expenses.each do |expense| %>
                    		<tr id="expense_<%= expense.id %>">
	                      		<td class="tools text-top">
								    <%= render partial: "/index_row_actions", locals: {
								        resource_class: Expense, resource: expense,
								        resources_url: projects_expenses_url(q: params[:q], page: params[:page]),
								        resource_url: projects_expense_url(expense, q: params[:q], page: params[:page]),
								        edit_resource_url: edit_projects_expense_url(expense, q: params[:q], page: params[:page])
								    } %>
                      			</td>
								<td class="text-top"><%= expense.project ? expense.project.code : "" %></td>
								<!-- td style="text-align:right;"><%= !expense.sorting.blank? ? expense.sorting.to_s_comma : "" %></td -->
								<td class="text-top"><%= expense.date ? expense.date.strftime("%d/%m/%Y") : "" %></td>
								<td class="text-top"><%= expense.description %></td>
								<td class="text-top"><%= expense.budget_type %></td>
								<td class="text-top text-right"><%= !expense.amount.blank? ? expense.amount.to_s_decimal_comma : "" %></td>
								<td class="text-top"><%= expense.by %></td>
								<td class="text-top"><span class="label <%= state_label_class(expense.workflow_state.to_sym) %>"><%=t "workflow.state.#{expense.workflow_state}" %></span></td>
	                    	</tr>
                    	<% end %>
                  	</tbody>
                </table>
                <%= will_paginate @expenses %>
            	<div class="clearfix"></div>
            	<%= page_entries_info @expenses %>
          	</div>
        </div>		
	</div>
</div>
<!-- /Widgets Row End Grid-->

<script>     
    $('#advanced-visibled-visibled').on('click' , function(){
        $('#quick-search').addClass('hide');
        $('#advanced-search').removeClass('hide');
    });    
    $('#advanced-hidden-visibled').on('click' , function(){
        $('#quick-search').removeClass('hide');
        $('#advanced-search').addClass('hide');
    });
</script>
