<% @form_defaults = {input_html: {autocomplete: :off}} %>
<% @form_defaults[:disabled] = (action_name == "show") || (@job_result_template.respond_to?(:current_state) && @job_result_template.current_state.meta[:disabled]) %>
<div data-widget-editbutton="false" id="power-forms-grid" class="powerwidget cold-grey" role="widget">
	<div class="inner-spacer" role="content">

		<%= simple_form_for(["settings", @job_result_template], html: {class: 'form-horizontal'}, defaults: @form_defaults) do |f| %>
	    	<% params[:q].each do |k,v| %>
		        <%= hidden_field_tag "q[#{k}]", v %>
		    <% end unless params[:q].blank? %>
		    <%= hidden_field_tag(:page, params[:page]) unless params[:page].blank? %>
		    
	        <%= render partial: "/form_actions_top", locals: {
	            resource_class: JobResultTemplate, resource: @job_result_template, f: f,
	            resources_url: settings_job_result_templates_path(q: params[:q], page: params[:page]),
	            resource_url: @job_result_template.new_record? ? nil : settings_job_result_template_path(@job_result_template, q: params[:q], page: params[:page]),
	            edit_resource_url: @job_result_template.new_record? ? nil : edit_settings_job_result_template_path(@job_result_template, q: params[:q], page: params[:page])
	        } unless params[:modal] %>

		  	<fieldset>

		        <%= f.association :job_template, collection: (JobTemplate.all + (f.object.job_template.nil? ? [] : [f.object.job_template])).uniq.sort_by {|asso| asso.to_s}, value_method: :id, label_method: :to_s, input_html: {data: {placeholder: t(:choose)}} %>
		        <%= render partial: "/job_templates/chosen_select", locals: {object_name: :job_result_template, no_create: true} %>
	        	<%= f.input :name %>
	        	<%= f.input :unit %>
	        	<%= f.input :duration %>
	            
		  		<div class="col-md-6 col-md-offset-4">
			        <%= render partial: "/form_actions_bottom", locals: {
			            resource_class: JobResultTemplate, resource: @job_result_template, f: f,
			            resources_url: settings_job_result_templates_path(q: params[:q], page: params[:page]),
			            resource_url: @job_result_template.new_record? ? nil : settings_job_result_template_path(@job_result_template, q: params[:q], page: params[:page]),
			            edit_resource_url: @job_result_template.new_record? ? nil : edit_settings_job_result_template_path(@job_result_template, q: params[:q], page: params[:page])
			        } %>
		        </div>
		  	</fieldset>
		<% end %>
  	</div>
</div>		
