<!-- replace 'parent_object' with your parent object name -->
<% 
	f_index = "#{f.index}".to_s
	object_name = "parent_object_job_result_templates_attributes_#{f_index}".to_sym
	job_template_select_id = "parent_object_job_result_templates_attributes_#{f_index}_job_template_id".to_sym
%> 
<tr class="nested-fields">
    <td class="text-top">
        <%= f.input :name, wrapper: :nested_form %>
    </td>
    <td class="text-top">
        <%= f.input :unit, wrapper: :nested_form %>
    </td>
    <!-- td class="text-top">
        <%= f.input :duration, wrapper: :nested_form %>
    </td -->
    <% unless action_name == "show" %>
        <td class="text-top">
            <%= link_to_remove_association f, class: "btn btn-sm btn-danger" do %>
               <i class='fa fa-trash-o'></i>
            <% end %>
			<script type="text/javascript">$(document).ready( function() { jQuery(function($){ $("#parent_object_job_result_templates_attributes_<%= f.index %>_job_template").chosen({width: "100%"}); }); });</script>
        </td>
    <% end %>
</tr>