<!-- replace 'parent_object' with your parent object name -->
<%% 
	f_index = "#{f.index}".to_s
	object_name = "parent_object_<%= plural_table_name %>_attributes_#{f_index}".to_sym
<%- attributes.select{|a| a.reference? && a.name.to_s != 'workflow_state' && a.name.to_s != "workflow_state_updater"}.each do |attribute| -%>
	<%= attribute.name %>_select_id = "parent_object_<%= plural_table_name %>_attributes_#{f_index}_<%= attribute.name %>_id".to_sym
<%- end -%>
%> 
<tr class="nested-fields">
<%- attributes.select{|a| a.name.to_s != 'workflow_state' && a.name.to_s != "workflow_state_updater"}.each do |attribute| -%>
    <td style="vertical-align:top;">
<%- if attribute.type == :date -%>
        <%%= f.input :<%= attribute.name %>, wrapper: :nested_form, as: :date_custom, value: f.object.<%= attribute.name %> ? f.object.<%= attribute.name %>.strftime("%d/%m/%Y") : "" %>
<%- elsif attribute.type == :time -%>
        <%%= f.input :<%= attribute.name %>, wrapper: :nested_form, as: :time_custom, value: f.object.<%= attribute.name %> ? f.object.<%= attribute.name %>.strftime("%H:%M") : "" %>
<%- elsif attribute.type == :datetime -%>
        <%%= f.input :<%= attribute.name %>, wrapper: :nested_form, as: :datetime_custom, value: f.object.<%= attribute.name %> ? f.object.<%= attribute.name %>.strftime("%d/%m/%Y %H:%M") : "" %>
<%- elsif attribute.type == :attachment -%>
        <%%= f.input :<%= attribute.name %>, wrapper: :nested_form, as: :attachment_custom %>
<%- elsif attribute.type == :float -%>
        <%%= f.input :<%= attribute.name %>, wrapper: :nested_form %>
<%- elsif attribute.type == :integer -%>
        <%%= f.input :<%= attribute.name %>, wrapper: :nested_form %>
<%- elsif attribute.reference? -%>
        <%%= f.association :<%= attribute.name %>, wrapper: :nested_form, collection: (<%= attribute.name.camelize %>.all + (f.object.<%= attribute.name %>.nil? ? [] : [f.object.<%= attribute.name %>])).uniq.sort_by {|asso| asso.to_s}, value_method: :id, label_method: :to_s, input_html: {data: {placeholder: t(:choose)}} %>
        <%%= render partial: "/<%= attribute.name.pluralize %>/chosen_select", locals: {object_name: :<%= singular_table_name %>, no_create: true, select_id: <%= attribute.name %>_select_id} %>
<%- elsif attribute.type == :boolean -%>
        <%%= f.input :<%= attribute.name %>, wrapper: :nested_form, as: :boolean_custom %>
<%- elsif attribute.type == :text -%>
        <%%= f.input :<%= attribute.name %>, wrapper: :nested_form %>
<%- else -%>
<%- unless attribute.name == "workflow_state" -%>
        <%%= f.input :<%= attribute.name %>, wrapper: :nested_form %>
<%- end -%>
<%- end -%>
    </td>
<%- end -%>
    <%% unless action_name == "show" %>
        <td style="vertical-align:top;">
            <%%= link_to_remove_association f, class: "btn btn-sm btn-danger" do %>
               <i class='fa fa-trash-o'></i>
            <%% end %>
<%- attributes.select{|a| a.reference? && a.name.to_s != 'workflow_state' && a.name.to_s != "workflow_state_updater"}.each do |attribute| -%>
			<script type="text/javascript">$(document).ready( function() { jQuery(function($){ $("#parent_object_<%= plural_table_name %>_attributes_<%%= f.index %>_<%= attribute.name %>").chosen({width: "100%"}); }); });</script>
<%- end -%>
        </td>
    <%% end %>
</tr>