<% attr_names = attributes.reject(&:password_digest?).select{|a| a.type.to_s == 'string'} %>
<div class="widget-container-span ui-sortable">
    <div class="widget-box transparent">
        <div class="widget-header">
            <h4 class="lighter"><%%= <%= class_name %>.model_name.human %></h4>

            <div class="widget-toolbar no-border">
                <%% unless @form_defaults && @form_defaults[:disabled] %>
                    <span class="input-icon">
                        <%%= text_field_tag :<%= singular_table_name %>_search_list_input %>
                        <i class="icon-search nav-search-icon"></i>
                    </span>
                <%% end %>
            </div>
        </div>

        <div class="widget-body">
            <div class="widget-main padding-6 no-padding-left no-padding-right">
                <ul id="<%= singular_table_name %>_search_list" class="item-list ui-sortable">
                    <%% @<%= plural_table_name %>.each do |<%= singular_table_name %>| %>
                        <li class="item-default clearfix">
                            <label class="inline">
                                <%% unless @form_defaults && @form_defaults[:disabled] %>
                                <input type="<%%= input_type %>" class="ace" name="<%%= param_name %>" value="<%%= <%= singular_table_name %>.id %>" checked>
                                <%% end %>
                                <span class="lbl">
                                    <%%= <%= singular_table_name %>.<%= !attr_names.blank? ? attr_names.first.name : "id" %> %>
                                </span>
                            </label>
                        </li>
                    <%% end if @<%= plural_table_name %> %>
                </ul>
            </div>
        </div>
    </div>
</div>
<%% unless @form_defaults && @form_defaults[:disabled] %>
    <script type="text/javascript">
        jQuery(function($) {
            $('#<%= singular_table_name %>_search_list_input').keydown(function(event){
                if(event.keyCode == 13) {
                    event.preventDefault();
                    $.ajax({
                        type: 'GET',
                        url: '<%%= <%= orb_plural_model_url %>_url %>',
                        data: {
                            q: {
                                <%= attr_names.map{|a| a.name}.join('_or_') %>_cont: $('#<%= singular_table_name %>_search_list_input').val()
                            },
                            limit: 10
                        },
                        dataType: 'json',
                        success: function(data) {
                            var data_html = '';
                            $.each(data, function(index, result) {
                                data_html += '<li class="item-default clearfix">';
                                data_html += '<label class="inline">';
                                data_html += '<input type="<%%= input_type %>" class="ace" name="<%%= param_name %>" value="' + result.id + '"/>';
                                data_html += '<span class="lbl"> ';
                                data_html += result.<%= !attr_names.blank? ? attr_names.first.name : "id" %>;
                                data_html += '</span>';
                                data_html += '</label>';
                                data_html += '</li>';
                            });  
                            $('#<%= singular_table_name %>_search_list').html(data_html);
                        }
                    });
                }
            });
        });
    </script>
<%% end %>