<% 
	is_show_score = params[:score]
	evaluation = @current_evaluation
	user = @user
	assess_director_by = user.assess_director_by(evaluation)
	assess_vice_director_by = user.assess_vice_director_by(evaluation) 
	assess_committees_by = user.assess_committee_by(evaluation) 
	assess_section_leaders_by = user.assess_section_leaders_by(evaluation) 
	assess_section_vice_leaders_by = user.assess_section_vice_leaders_by(evaluation) 
	assess_team_leaders_by = user.assess_team_leaders_by(evaluation) 
	assess_faculty_deans_by = user.assess_faculty_deans_by(evaluation) 
	assess_faculty_leaders_by = user.assess_faculty_leaders_by(evaluation) 
	evaluation_users = user.evaluation_users.where(["evaluation_id = ?", evaluation.id]) 
	
	leader_colspan = assess_director_by.size + assess_vice_director_by.size + assess_section_leaders_by.size + assess_section_vice_leaders_by.size + assess_team_leaders_by.size + assess_faculty_deans_by.size + assess_faculty_leaders_by.size
	committee_colspan = assess_committees_by.size
%>
<div class="page-header">
	<h4>รายงานผลประเมินรายบุคคล รอบการประเมิน ตั้งแต่วันที่ <%= @current_evaluation.start_date.to_s_thai %> ถึง <%= @current_evaluation.end_date.to_s_thai %></h4>
	สำหรับ <%= @current_evaluation.evaluation_employee_types.collect {|evet| evet.employee_type.to_s}.join(", ") %>
</div>

<div class="powerwidget red" role="widget">
	<header role="heading">
		<h2><%= user %></h2>
	</header>
	
	<div class="inner-spacer">
		
		<%= link_to users_reports_url(q: params[:q]), {class: "btn #{event_btn_class(:back)}"} do %>
			<%= event_icon_tag(:back) %>  <%= t(:back_to_list) %>
		<% end %>
		<legend></legend>
		
		<div class="well">
			<div class="pull-left padding-5" style="width:150px; text-align:right; font-weight:bold;"></div>
			<div class="pull-left padding-5" style=" font-weight:bold;"><%= user.prefix_firstname_lastname %></div>
			<div class="clearfix"></div>
			
			<div class="pull-left padding-5" style="width:150px; text-align:right; font-weight:bold;"><%= User.human_attribute_name(:employee_type) %>: </div>
			<div class="pull-left padding-5"><%= user.employee_type %></div>
			<div class="clearfix"></div>
			
			<div class="pull-left padding-5" style="width:150px; text-align:right; font-weight:bold;"><%= User.human_attribute_name(:position) %>: </div>
			<div class="pull-left padding-5"><%= (user.position_boards + [user.position]).join(', ') %></div>
			<div class="clearfix"></div>
			
			<div class="pull-left padding-5" style="width:150px; text-align:right; font-weight:bold;"><%= Section.model_name.human %>: </div>
			<div class="pull-left padding-5"><%= user.sections.collect {|s| s.to_s}.join(', ') %></div>
			<div class="clearfix"></div>
		</div>
		
		<% if @current_evaluation.is_360? %>
			<table class="table table-striped table-hover margin-0px hidden-xs">
				<thead>
					<th></th>
                    <th class="text-center" style="width:120px;"><%= EvaluationScoreCard.human_attribute_name(:task_score_table).html_safe %></th>
                    <th class="text-center" style="width:120px;"><%= EvaluationScoreCard.human_attribute_name(:ability_score_table).html_safe %></th>
				</thead>
				<tbody>
					<tr>
						<td>ผู้บริหาร</td>
						<td class="text-center"><%= user.total_task_score_board_360(@current_evaluation) > 0 ? "<i class='fa fa-check'></i>".html_safe : "" %></td>
						<td class="text-center"><%= user.total_ability_score_board_360(@current_evaluation) > 0 ? "<i class='fa fa-check'></i>".html_safe : "" %></td>
					</tr>
					<tr>
						<td>บุคลากร</td>
						<td class="text-center"><%= user.total_task_score_staff_360(@current_evaluation) > 0 ? "<i class='fa fa-check'></i>".html_safe : "" %></td>
						<td class="text-center"><%= user.total_ability_score_staff_360(@current_evaluation) > 0 ? "<i class='fa fa-check'></i>".html_safe : "" %></td>
					</tr>
				</tbody>
				<tfoot>
					<tr>
						<th>รวม</th>
						<th class="text-center" colspan="2"><%= user.total_score_360(@current_evaluation).to_s_decimal_comma %></th>
					</tr>
				</tfoot>
			</table>
		<% else %>
			<table class="table table-striped table-hover margin-0px hidden-xs">
	          	<thead>
	            	<tr>
	            		<th rowspan="2" style="width:40px;"></th>
	                    <th rowspan="2"><%= Task.model_name.human %></th>
	                    <th rowspan="2" class="text-center"><%= Task.human_attribute_name(:weight) %></th>
	                    <th colspan="<%= leader_colspan %>" style="text-align:center; background-color:#5bc0de;"><%= EvaluationEmployeeType.human_attribute_name(:leader_ratio) %></th>
	                    <% if committee_colspan > 0 %>
	                    	<th colspan="<%= committee_colspan %>" style="text-align:center; background-color:#3b8dbd;"><%= EvaluationEmployeeType.human_attribute_name(:committee_ratio) %></th>
	                    <% end %>
	                </tr>
	                <tr>
	                	<% cc = 0 %>
	                    <% assess_director_by.each do |ab| %>
	                    	<th style="width:65px; text-align:center; background-color:#5bc0de;" title="<%= is_show_score ? ab : '' %> (<%= Evaluation.human_attribute_name(:director) %>)"><%= cc += 1 %><%#= ab %></th>
	                    <% end %>
	                    <% assess_vice_director_by.each do |ab| %>
	                    	<th style="width:65px; text-align:center; background-color:#5bc0de;" title="<%= is_show_score ? ab : '' %> (<%= Evaluation.human_attribute_name(:vice_director) %>)"><%= cc += 1 %><%#= ab %></th>
	                    <% end %>
	                    <% assess_section_leaders_by.each do |ab| %>
	                    	<th style="width:65px; text-align:center; background-color:#5bc0de;" title="<%= is_show_score ? ab : '' %> (<%= Section.human_attribute_name(:leader) %>)"><%= cc += 1 %><%#= ab %></th>
	                    <% end %>
	                    <% assess_section_vice_leaders_by.each do |ab| %>
	                    	<th style="width:65px; text-align:center; background-color:#5bc0de;" title="<%= is_show_score ? ab : '' %> (<%= Section.human_attribute_name(:vice_leader) %>)"><%= cc += 1 %><%#= ab %></th>
	                    <% end %>
	                    <% assess_team_leaders_by.each do |ab| %>
	                    	<th style="width:65px; text-align:center; background-color:#5bc0de;" title="<%= is_show_score ? ab : '' %> (<%= Team.human_attribute_name(:leader) %>)"><%= cc += 1 %><%#= ab %></th>
	                    <% end %>
	                    <% assess_faculty_deans_by.each do |ab| %>
	                    	<th style="width:65px; text-align:center; background-color:#5bc0de;" title="<%= is_show_score ? ab : '' %> (<%= Faculty.human_attribute_name(:dean) %>)"><%= cc += 1 %><%#= ab %></th>
	                    <% end %>
	                    <% assess_faculty_leaders_by.each do |ab| %>
	                    	<th style="width:65px; text-align:center; background-color:#5bc0de;" title="<%= is_show_score ? ab : '' %> (<%= Faculty.human_attribute_name(:leader) %>)"><%= cc += 1 %><%#= ab %></th>
	                    <% end %>
	                    <% assess_committees_by.each do |ab| %>
	                    	<th style="width:65px; text-align:center; background-color:#3b8dbd;" title="<%= is_show_score ? ab : '' %> (<%= Committee.model_name.human %>)"><%= cc += 1 %><%#= ab %></th>
	                    <% end %>
	            	</tr>
	          	</thead>
	          	<tbody>
	          		<% total_weight = 0 %>
	          		<% count = 0 %>
					<%
	          			where = ["user_id = ? AND evaluation_id = ?", user.id, evaluation.id]
	          			committee_employee_type_task_users = EmployeeTypeTaskUser.where(where)
					%>
					<% user.employee_type.employee_type_task_groups.each do |employee_type_task_group| %>
	            		<tr>
	            			<th colspan="<%= 3 + committee_colspan + leader_colspan %>"><%= employee_type_task_group %></th>
	        			</tr>
						<% employee_type_task_group.employee_type_tasks.each do |employee_type_task| %>
							<% total_weight += employee_type_task.weight %>
		            		<tr>
		            			<td style="vertical-align:top; text-align:right"><%= count += 1 %>.</td>
								<td class="text-top"><%= employee_type_task %></td>
								<td style="text-align:center"><%= employee_type_task.weight.to_s_decimal_comma %></td>
	                    		<% assess_director_by.each do |ab| %>
					          		<% 
					          			employee_type_task_user = committee_employee_type_task_users.select {|ettu| ettu.committee_id == ab.id && ettu.employee_type_task_id == employee_type_task.id && !ettu.role.blank? && ettu.role == "director"}.first
					          			score_real = employee_type_task_user ? employee_type_task_user.score_real : nil
					          		%>	
			                    	<td class="text-center"><%= score_real ? (is_show_score ? score_real.to_f.to_s_decimal_comma : "<i class='fa fa-check'></i>".html_safe) : "-" %></td>
			                    <% end %>
	                    		<% assess_vice_director_by.each do |ab| %>
					          		<% 
					          			employee_type_task_user = committee_employee_type_task_users.select {|ettu| ettu.committee_id == ab.id && ettu.employee_type_task_id == employee_type_task.id && !ettu.role.blank? && ettu.role == "vice_director"}.first
					          			score_real = employee_type_task_user ? employee_type_task_user.score_real : nil
					          		%>	
			                    	<td class="text-center"><%= score_real ? (is_show_score ? score_real.to_f.to_s_decimal_comma : "<i class='fa fa-check'></i>".html_safe) : "-" %></td>
			                    <% end %>
	                    		<% assess_section_leaders_by.each do |ab| %>
					          		<% 
					          			employee_type_task_user = committee_employee_type_task_users.select {|ettu| ettu.committee_id == ab.id && ettu.employee_type_task_id == employee_type_task.id && !ettu.role.blank? && ettu.role == "section_leader"}.first
					          			score_real = employee_type_task_user ? employee_type_task_user.score_real : nil
					          		%>	
			                    	<td class="text-center"><%= score_real ? (is_show_score ? score_real.to_f.to_s_decimal_comma : "<i class='fa fa-check'></i>".html_safe) : "-" %></td>
			                    <% end %>
	                    		<% assess_section_vice_leaders_by.each do |ab| %>
					          		<% 
					          			employee_type_task_user = committee_employee_type_task_users.select {|ettu| ettu.committee_id == ab.id && ettu.employee_type_task_id == employee_type_task.id && !ettu.role.blank? && ettu.role == "section_vice_leader"}.first
					          			score_real = employee_type_task_user ? employee_type_task_user.score_real : nil
					          		%>	
			                    	<td class="text-center"><%= score_real ? (is_show_score ? score_real.to_f.to_s_decimal_comma : "<i class='fa fa-check'></i>".html_safe) : "-" %></td>
			                    <% end %>
	                    		<% assess_team_leaders_by.each do |ab| %>
					          		<% 
					          			employee_type_task_user = committee_employee_type_task_users.select {|ettu| ettu.committee_id == ab.id && ettu.employee_type_task_id == employee_type_task.id && !ettu.role.blank? && ettu.role == "team_leader"}.first
					          			score_real = employee_type_task_user ? employee_type_task_user.score_real : nil
					          		%>	
			                    	<td class="text-center"><%= score_real ? (is_show_score ? score_real.to_f.to_s_decimal_comma : "<i class='fa fa-check'></i>".html_safe) : "-" %></td>
			                    <% end %>
	                    		<% assess_faculty_deans_by.each do |ab| %>
					          		<% 
					          			employee_type_task_user = committee_employee_type_task_users.select {|ettu| ettu.committee_id == ab.id && ettu.employee_type_task_id == employee_type_task.id && !ettu.role.blank? && ettu.role == "faculty_dean"}.first
					          			score_real = employee_type_task_user ? employee_type_task_user.score_real : nil
					          		%>	
			                    	<td class="text-center"><%= score_real ? (is_show_score ? score_real.to_f.to_s_decimal_comma : "<i class='fa fa-check'></i>".html_safe) : "-" %></td>
			                    <% end %>
	                    		<% assess_faculty_leaders_by.each do |ab| %>
					          		<% 
					          			employee_type_task_user = committee_employee_type_task_users.select {|ettu| ettu.committee_id == ab.id && ettu.employee_type_task_id == employee_type_task.id && !ettu.role.blank? && ettu.role == "faculty_leader"}.first
					          			score_real = employee_type_task_user ? employee_type_task_user.score_real : nil
					          		%>	
			                    	<td class="text-center"><%= score_real ? (is_show_score ? score_real.to_f.to_s_decimal_comma : "<i class='fa fa-check'></i>".html_safe) : "-" %></td>
			                    <% end %>
	                    		<% assess_committees_by.each do |ab| %>
					          		<% 
					          			employee_type_task_user = committee_employee_type_task_users.select {|ettu| ettu.committee_id == ab.user_id && ettu.employee_type_task_id == employee_type_task.id && !ettu.role.blank? && ettu.role == "committee"}.first
					          			score_real = employee_type_task_user ? employee_type_task_user.score_real : nil
					          		%>	
			                    	<td class="text-center"><%= score_real ? (is_show_score ? score_real.to_f.to_s_decimal_comma : "<i class='fa fa-check'></i>".html_safe) : "-" %></td>
			                    <% end %>
		                	</tr>
	            		<% end %>
	            	<% end %>
	          	</tbody>
	          	<% if current_user.authorized_as?(:ibattz) || current_user.is_director? || current_user.is_vice_director? %>
		          	<tfoot>
		          		<%
		          			task_leader_total, task_leader_count 		= user.task_leader_total_count(evaluation)
		          			task_committee_total, task_committee_count 	= user.task_committee_total_count(evaluation)
		          			task_leader_score 							= user.task_leader_score(evaluation)
		          			task_committee_score 						= user.task_committee_score(evaluation)
		          			task_leader_score_ratio 					= user.task_leader_score_ratio(evaluation)
		          			task_committee_score_ratio					= user.task_committee_score_ratio(evaluation)
		          		%>
		        		<tr>
							<th colspan="2"><%= Assessment.human_attribute_name(:score_total1) %></th>
		                	<th class="text-center"><%= total_weight.to_s_decimal_comma %></th>
		                    <td colspan="<%= leader_colspan %>" style="text-align:center; font-weight:bold; color:#FFFFFF; background-color:#5bc0de;">
		                    	<%= task_leader_score_ratio > 0 ? (is_show_score ? task_leader_score_ratio.to_s_decimal_comma : "<i class='fa fa-check'></i>".html_safe) : "-" %>
		                	</td>
		                	<% if committee_colspan > 0 %>
			                    <td colspan="<%= committee_colspan %>" style="text-align:center; font-weight:bold; color:#FFFFFF; background-color:#3b8dbd;">
			                    	<%= task_committee_score_ratio > 0 ? (is_show_score ? task_committee_score_ratio.to_s_decimal_comma : "<i class='fa fa-check'></i>".html_safe) : "-" %>
			                	</td>
		                	<% end %>
		            	</tr>
		            	<tr>
							<th colspan="3">100</th>
		                    <td colspan="<%= 2 + leader_colspan + committee_colspan %>" style="text-align:center; font-weight:bold; color:#FFFFFF; background-color:#82b964;">
		                    	<%= (task_leader_score_ratio + task_committee_score_ratio).to_s_decimal_comma %>
		                	</td>
		            	</tr>
		          	</tfoot>
	          	<% end %>
	        </table>
	        <div class="clearfix margin-bottom-20"></div>
	        
			<table class="table table-striped table-hover margin-0px hidden-xs">
	          	<thead>
	            	<tr>
	            		<th rowspan="2" style="width:40px;"></th>
	                    <th rowspan="2"><%= Capacity.model_name.human %></th>
	                    <th rowspan="2" class="text-center"><%= Task.human_attribute_name(:weight) %></th>
	                    <th colspan="<%= leader_colspan %>" style="text-align:center; background-color:#5bc0de;"><%= EvaluationEmployeeType.human_attribute_name(:leader_ratio) %></th>
	                    <% if committee_colspan > 0 %>
	                    	<th colspan="<%= committee_colspan %>" style="text-align:center; background-color:#3b8dbd;"><%= EvaluationEmployeeType.human_attribute_name(:committee_ratio) %></th>
                    	<% end %>
	            	</tr>
	                <tr>
	                	<% cc = 0 %>
	                    <% assess_director_by.each do |ab| %>
	                    	<th style="width:65px; text-align:center; background-color:#5bc0de;" title="<%= is_show_score ? ab : '' %> (<%= Evaluation.human_attribute_name(:director) %>)"><%= cc += 1 %><%#= ab %></th>
	                    <% end %>
	                    <% assess_vice_director_by.each do |ab| %>
	                    	<th style="width:65px; text-align:center; background-color:#5bc0de;" title="<%= is_show_score ? ab : '' %> (<%= Evaluation.human_attribute_name(:vice_director) %>)"><%= cc += 1 %><%#= ab %></th>
	                    <% end %>
	                    <% assess_section_leaders_by.each do |ab| %>
	                    	<th style="width:65px; text-align:center; background-color:#5bc0de;" title="<%= is_show_score ? ab : '' %> (<%= Section.human_attribute_name(:leader) %>)"><%= cc += 1 %><%#= ab %></th>
	                    <% end %>
	                    <% assess_section_vice_leaders_by.each do |ab| %>
	                    	<th style="width:65px; text-align:center; background-color:#5bc0de;" title="<%= is_show_score ? ab : '' %> (<%= Section.human_attribute_name(:vice_leader) %>)"><%= cc += 1 %><%#= ab %></th>
	                    <% end %>
	                    <% assess_team_leaders_by.each do |ab| %>
	                    	<th style="width:65px; text-align:center; background-color:#5bc0de;" title="<%= is_show_score ? ab : '' %> (<%= Team.human_attribute_name(:leader) %>)"><%= cc += 1 %><%#= ab %></th>
	                    <% end %>
	                    <% assess_faculty_deans_by.each do |ab| %>
	                    	<th style="width:65px; text-align:center; background-color:#5bc0de;" title="<%= is_show_score ? ab : '' %> (<%= Faculty.human_attribute_name(:dean) %>)"><%= cc += 1 %><%#= ab %></th>
	                    <% end %>
	                    <% assess_faculty_leaders_by.each do |ab| %>
	                    	<th style="width:65px; text-align:center; background-color:#5bc0de;" title="<%= is_show_score ? ab : '' %> (<%= Faculty.human_attribute_name(:leader) %>)"><%= cc += 1 %><%#= ab %></th>
	                    <% end %>
	                    <% assess_committees_by.each do |ab| %>
	                    	<th style="width:65px; text-align:center; background-color:#3b8dbd;" title="<%= is_show_score ? ab : '' %> (<%= Committee.model_name.human %>)"><%= cc += 1 %><%#= ab %></th>
	                    <% end %>
	            	</tr>
	          	</thead>
	          	<tbody>
	          		<% total_weight = 0 %>
	          		<% count = 0 %>
					<%
	          			where = ["user_id = ? AND evaluation_id = ?", user.id, evaluation.id]
	          			committee_position_capacity_users = PositionCapacityUser.where(where)
					%>
					<% user.position.position_capacity_groups.each do |position_capacity_group| %>
	            		<tr>
	            			<th colspan="<%= 3 + committee_colspan + leader_colspan %>"><%= position_capacity_group %></th>
	        			</tr>
						<% position_capacity_group.position_capacities.each do |position_capacity| %>
							<% total_weight += position_capacity.weight %>
		            		<tr>
		            			<td style="vertical-align:top; text-align:right"><%= count += 1 %>.</td>
								<td class="text-top"><%= position_capacity %></td>
								<td style="text-align:center"><%= position_capacity.weight.to_s_decimal_comma %></td>
	                    		<% assess_director_by.each do |ab| %>
					          		<% 
					          			position_capacity_user = committee_position_capacity_users.select {|ettu| ettu.committee_id == ab.id && ettu.position_capacity_id == position_capacity.id && !ettu.role.blank? && ettu.role == "director"}.first
					          			score_real = position_capacity_user ? position_capacity_user.score_real : nil
					          		%>	
			                    	<td class="text-center"><%= score_real ? (is_show_score ? score_real.to_f.to_s_decimal_comma : "<i class='fa fa-check'></i>".html_safe) : "-" %></td>
			                    <% end %>
	                    		<% assess_vice_director_by.each do |ab| %>
					          		<% 
					          			position_capacity_user = committee_position_capacity_users.select {|ettu| ettu.committee_id == ab.id && ettu.position_capacity_id == position_capacity.id && !ettu.role.blank? && ettu.role == "vice_director"}.first
					          			score_real = position_capacity_user ? position_capacity_user.score_real : nil
					          		%>	
			                    	<td class="text-center"><%= score_real ? (is_show_score ? score_real.to_f.to_s_decimal_comma : "<i class='fa fa-check'></i>".html_safe) : "-" %></td>
			                    <% end %>
	                    		<% assess_section_leaders_by.each do |ab| %>
					          		<% 
					          			position_capacity_user = committee_position_capacity_users.select {|ettu| ettu.committee_id == ab.id && ettu.position_capacity_id == position_capacity.id && !ettu.role.blank? && ettu.role == "section_leader"}.first
					          			score_real = position_capacity_user ? position_capacity_user.score_real : nil
					          		%>	
			                    	<td class="text-center"><%= score_real ? (is_show_score ? score_real.to_f.to_s_decimal_comma : "<i class='fa fa-check'></i>".html_safe) : "-" %></td>
			                    <% end %>
	                    		<% assess_section_vice_leaders_by.each do |ab| %>
					          		<% 
					          			position_capacity_user = committee_position_capacity_users.select {|ettu| ettu.committee_id == ab.id && ettu.position_capacity_id == position_capacity.id && !ettu.role.blank? && ettu.role == "section_vice_leader"}.first
					          			score_real = position_capacity_user ? position_capacity_user.score_real : nil
					          		%>	
			                    	<td class="text-center"><%= score_real ? (is_show_score ? score_real.to_f.to_s_decimal_comma : "<i class='fa fa-check'></i>".html_safe) : "-" %></td>
			                    <% end %>
	                    		<% assess_team_leaders_by.each do |ab| %>
					          		<% 
					          			position_capacity_user = committee_position_capacity_users.select {|ettu| ettu.committee_id == ab.id && ettu.position_capacity_id == position_capacity.id && !ettu.role.blank? && ettu.role == "team_leader"}.first
					          			score_real = position_capacity_user ? position_capacity_user.score_real : nil
					          		%>	
			                    	<td class="text-center"><%= score_real ? (is_show_score ? score_real.to_f.to_s_decimal_comma : "<i class='fa fa-check'></i>".html_safe) : "-" %></td>
			                    <% end %>
	                    		<% assess_faculty_deans_by.each do |ab| %>
					          		<% 
					          			position_capacity_user = committee_position_capacity_users.select {|ettu| ettu.committee_id == ab.id && ettu.position_capacity_id == position_capacity.id && !ettu.role.blank? && ettu.role == "faculty_dean"}.first
					          			score_real = position_capacity_user ? position_capacity_user.score_real : nil
					          		%>	
			                    	<td class="text-center"><%= score_real ? (is_show_score ? score_real.to_f.to_s_decimal_comma : "<i class='fa fa-check'></i>".html_safe) : "-" %></td>
			                    <% end %>
	                    		<% assess_faculty_leaders_by.each do |ab| %>
					          		<% 
					          			position_capacity_user = committee_position_capacity_users.select {|ettu| ettu.committee_id == ab.id && ettu.position_capacity_id == position_capacity.id && !ettu.role.blank? && ettu.role == "faculty_leader"}.first
					          			score_real = position_capacity_user ? position_capacity_user.score_real : nil
					          		%>	
			                    	<td class="text-center"><%= score_real ? (is_show_score ? score_real.to_f.to_s_decimal_comma : "<i class='fa fa-check'></i>".html_safe) : "-" %></td>
			                    <% end %>
	                    		<% assess_committees_by.each do |ab| %>
					          		<% 
					          			position_capacity_user = committee_position_capacity_users.select {|ettu| ettu.committee_id == ab.user_id && ettu.position_capacity_id == position_capacity.id && !ettu.role.blank? && ettu.role == "committee"}.first
					          			score_real = position_capacity_user ? position_capacity_user.score_real : nil
					          		%>	
			                    	<td class="text-center"><%= score_real ? (is_show_score ? score_real.to_f.to_s_decimal_comma : "<i class='fa fa-check'></i>".html_safe) : "-" %></td>
			                    <% end %>
		                	</tr>
	            		<% end %>
	            	<% end %>
	          	</tbody>
	          	<% if current_user.authorized_as?(:ibattz) || current_user.is_director? || current_user.is_vice_director? %>
		          	<tfoot>
		          		<%
		          			ability_leader_total, ability_leader_count 			= user.ability_leader_total_count(evaluation)
		          			ability_committee_total, ability_committee_count 	= user.ability_committee_total_count(evaluation)
		          			ability_leader_score 								= user.ability_leader_score(evaluation)
		          			ability_committee_score 							= user.ability_committee_score(evaluation)
		          			ability_leader_score_ratio 							= user.ability_leader_score_ratio(evaluation)
		          			ability_committee_score_ratio						= user.ability_committee_score_ratio(evaluation)
		          		%>
		        		<tr>
							<th colspan="2"><%= Assessment.human_attribute_name(:score_total1) %></th>
		                	<th class="text-center"><%= total_weight.to_s_decimal_comma %></th>
		                    <td colspan="<%= leader_colspan %>" style="text-align:center; font-weight:bold; color:#FFFFFF; background-color:#5bc0de;">
		                    	<%= ability_leader_score_ratio > 0 ? (is_show_score ? ability_leader_score_ratio.to_s_decimal_comma : "<i class='fa fa-check'></i>".html_safe) : "-" %>
		                	</td>
		                	<% if committee_colspan > 0 %>
			                    <td colspan="<%= committee_colspan %>" style="text-align:center; font-weight:bold; color:#FFFFFF; background-color:#3b8dbd;">
			                    	<%= ability_committee_score_ratio > 0 ? (is_show_score ? ability_committee_score_ratio.to_s_decimal_comma : "<i class='fa fa-check'></i>".html_safe) : "-" %>
			                	</td>
		                	<% end %>
		            	</tr>
		            	<tr>
							<th colspan="3">100</th>
		                    <td colspan="<%= 2 + leader_colspan + committee_colspan %>" style="text-align:center; font-weight:bold; color:#FFFFFF; background-color:#82b964;">
		                    	<%= (ability_leader_score_ratio + ability_committee_score_ratio).to_s_decimal_comma %>
		                	</td>
		            	</tr>
		          	</tfoot>
            	<% end %>
	        </table>
	        <div class="clearfix margin-bottom-20"></div>
	        
          	<% if current_user.authorized_as?(:ibattz) || current_user.is_director? || current_user.is_vice_director? %>
		        <div class="col-xs-12 btn btn-lg btn-danger">
		        	ผลการประเมิน : 
		        	<%= user.final_score(evaluation).to_s_decimal_comma %>
		        </div>
		        <div class="col-xs-12 text-center text-danger">*** คะแนนนี้ได้มาจากคะแนนประเมินจริง ก่อนปรับแก้ ไม่ได้นำไปแสดงในรายงานต่างๆ ***</div>
        	<% end %>
	        
	        <div class="col-xs-12">
	        	<h5><%= EvaluationUser.human_attribute_name(:comment1) %></h5>
	        	<% evaluation_users.each do |evaluation_user| %>
		        	<% unless evaluation_user.comment1.blank? %>
			        	<div class="well">
			        		<%= evaluation_user.comment1 %>
		        		</div>
		        	<% end %>
	        	<% end %>
	    	</div>
	        <div class="clearfix margin-bottom-20"></div>
	        
	        <div class="col-xs-12">
	        	<h5><%= EvaluationUser.human_attribute_name(:comment2) %></h5>
	        	<% evaluation_users.each do |evaluation_user| %>
		        	<% unless evaluation_user.comment2.blank? %>
			        	<div class="well">
			        		<%= evaluation_user.comment2 %>
		        		</div>
		        	<% end %>
	        	<% end %>
	    	</div>
	        <div class="clearfix margin-bottom-20"></div>
        <% end %>
	        
        <div class="hidden-sm hidden-md hidden-lg text-center margin-bottom-20">
        	<%= t(:small_device_error) %>
    	</div>

  	</div>
</div>
