<!-- replace '#{parent_object_name}' with your parent object name -->
<% 
	parent_object_name ||= ""
	f_index = "#{f.index}".to_s
	object_name = "#{parent_object_name}_position_capacities_attributes_#{f_index}".to_sym
	capacity_select_id = "#{parent_object_name}_position_capacities_attributes_#{f_index}_capacity_id".to_sym
%> 
<tr class="nested-fields">
    <td class="text-top">
        <%= f.input :sorting, wrapper: :nested_form %>
    </td>
    <td class="text-top">
        <%= f.association :capacity, wrapper: :nested_form, collection: (Capacity.all + (f.object.capacity.nil? ? [] : [f.object.capacity])).uniq.sort_by {|asso| asso.to_s}, value_method: :id, label_method: :to_s, input_html: {class: "form-control chosen-select", data: {placeholder: t(:choose)}} %>
        <%= render partial: "/settings/capacities/chosen_select", locals: {object_name: :position_capacity, no_create: true, select_id: capacity_select_id} if false %>
    </td>
    <td class="text-top">
        <%= f.input :weight, wrapper: :nested_form %>
    </td>
    <td class="text-top">
        <%= f.input :expect, wrapper: :nested_form %>
    </td>
    <% unless action_name == "show" %>
        <td class="text-top">
            <%= link_to_remove_association f, class: "btn btn-sm btn-danger" do %>
               <i class='fa fa-trash-o'></i>
            <% end %>
			<script type="text/javascript">$(document).ready( function() { jQuery(function($){ $("#<%= parent_object_name %>_position_capacities_attributes_<%= f.index %>_capacity").chosen({width: "100%"}); }); });</script>
        </td>
    <% end %>
</tr>