<div class="page-header">
	<h1><%= JobPlanFile.model_name.human %><small><%= action_name %></small></h1>
</div>
			      
<!-- Widget Row Start grid -->
<div class="row" id="powerwidgets">
	<div class="col-md-12 bootstrap-grid">
		<div data-widget-editbutton="false" id="power-forms-grid" class="powerwidget cold-grey" role="widget">
      		<div class="inner-spacer" role="content">
				<%= link_to new_jobs_job_plan_file_url, {class: "btn btn-success"} do %>
					<i class="fa fa-plus"></i> <%= t(:new) %>
				<% end %>
				
                <%= search_form_for @q, url: jobs_job_plan_files_url, id: 'quick-search', class: "form-horizontal pull-right no-padding col-sm-9 col-md-6 col-lg-4 #{'hide' if params[:advance]}" do |f| %>
	          		<div class="input-group">
						<%= f.text_field :job_plan_name_cont, :autofocus => true, class: "form-control", placeholder: "#{t(:search)} ..." %>
						<span class="input-group-addon btn" onclick="$('#quick-search').submit();"><i class="fa fa-search"></i></span>
						<span class="input-group-addon btn btn-primary" id="advanced-visibled-visibled"><%= t(:advanced) %></span>
                    </div>
                    <%= f.select :workflow_state_in, JobPlanFile.workflow_spec.states.keys.map{|k| [(t "workflow.state.#{k}"), k]}, {selected: JobPlanFile.active_states}, {multiple: true, class: 'hide', id: :quick_q_workflow_state_in} %>
                <% end %>
                
                <%= search_form_for @q, url: jobs_job_plan_files_url, builder: SimpleForm::FormBuilder, id: 'advanced-search', html: {novalidate: true, class: "form-horizontal margin-top-5 #{'hide' unless params[:advance]}"} do |f| %>
                	<div class="panel panel-primary">
              			<div class="panel-heading">
                			<div class="panel-title pull-left"><%= t(:search) %><small><%= t(:advanced) %></small></div>
                			<div class="pull-right"> 
                				<span class="btn btn-xs" id="advanced-hidden-visibled"><i class="fa fa-times"></i></span>
            				</div>
                			<div class="clearfix"></div>
              			</div>
              			<div class="panel-body">
						  	<fieldset>
						  		
		    					<%= f.input :job_plan_id_eq, collection: JobPlan.all.sort_by {|asso| asso.to_s}, value_method: :id, label_method: :to_s, required: false, label: JobPlanFile.human_attribute_name(:job_plan), input_html: {class: "form-control chosen-select", data: {placeholder: t(:all)}} %>
								
		                        <div class="form-group">
		                        	<label class="control-label col-md-4">
		                        		<%= JobPlanFile.human_attribute_name(:workflow_state) %>
		                    		</label>
		                    		<div class="col-md-6">
				                        <%= f.select :workflow_state_in, JobPlanFile.workflow_spec.states.keys.map{|k| [(t "workflow.state.#{k}"), k]}, {}, {multiple: true, "data-placeholder" => JobPlanFile.human_attribute_name(:workflow_state), class: 'form-control'} %>
		                        		<script type="text/javascript">jQuery(function($){ $("#q_workflow_state_in").select2({width: "100%"}); })</script>
		                			</div>
		            			</div>
								
								<% if false %>
		                            <%= f.association :creator_id_in, User.limit(100).collect{|r| [r.to_s, r.id]}, {include_blank: true}, {multiple: true, "data-placeholder" => JobPlanFile.human_attribute_name(:created_by)} %>
		                            <%= render partial: "/admin/users/chosen_select", locals: {object_name: :q, select_id: :q_creator_id_in, width: "178px", no_create: true} %>
		                            <%= f.input :created_at_gteq, class: "date_custom optional date_picker", "data-date-format" => "dd/mm/yyyy", placeholder: "#{JobPlanFile.human_attribute_name(:created_at)} #{t(:from_date)}", value: (params[:q][:created_at_gteq] rescue "") %>
		                            <%= f.input :created_at_lteq, class: "date_custom optional date_picker", "data-date-format" => "dd/mm/yyyy", placeholder:"#{JobPlanFile.human_attribute_name(:created_at)} #{t(:to_date)}", value: (params[:q][:created_at_lteq] rescue "") %>
		                            <%= f.association :updater_id_in, User.limit(100).collect{|r| [r.to_s, r.id]}, {include_blank: true}, {multiple: true, "data-placeholder" => JobPlanFile.human_attribute_name(:updated_by)} %>
		                            <%= render partial: "/admin/users/chosen_select", locals: {object_name: :q, select_id: :q_updater_id_in, width: "178px", no_create: true} %>
		                            <%= f.input :updated_at_gteq, class: "date_custom optional date_picker", "data-date-format" => "dd/mm/yyyy", placeholder: "#{JobPlanFile.human_attribute_name(:updated_at)} #{t(:from_date)}", value: (params[:q][:updated_gteq] rescue "") %>
		                            <%= f.input :updated_at_lteq, class: "date_custom optional date_picker", "data-date-format" => "dd/mm/yyyy", placeholder:"#{JobPlanFile.human_attribute_name(:updated_at)} #{t(:to_date)}", value: (params[:q][:updated_lteq] rescue "") %>
								<% end %>

								<div class="col-md-6 col-md-offset-4">
								    <%= f.button :button, class: "btn #{event_btn_class(:search)} margin-right-10" do %>
								        <%= event_icon_tag(:search) %>
								        <%= t(:search) %>
								    <% end %>
	                            	<%= hidden_field_tag "advance", true %>
							    </div>
						  	</fieldset>
						</div>
					</div>
                <% end %>
                <div class="clearfix"></div>
            	<legend></legend>
  				<table class="table table-striped table-hover margin-0px">
                  	<thead>
                    	<tr>
                      		<th class="tools text-top"></th>
                            <th class="avatar"><%= JobPlanFile.human_attribute_name(:file) %></th>
                            <th><%= sort_link @q, :job_plan, JobPlanFile.human_attribute_name(:job_plan) %></th>
                            <th class="workflow_state"><%= sort_link @q, :workflow_state %></th>
                    	</tr>
                  	</thead>
                  	<tbody>
        				<% @job_plan_files.each do |job_plan_file| %>
                    		<tr id="job_plan_file_<%= job_plan_file.id %>">
	                      		<td class="tools text-top">
								    <%= render partial: "/index_row_actions", locals: {
								        resource_class: JobPlanFile, resource: job_plan_file,
								        resources_url: jobs_job_plan_files_url(q: params[:q], page: params[:page]),
								        resource_url: jobs_job_plan_file_url(job_plan_file, q: params[:q], page: params[:page]),
								        edit_resource_url: edit_jobs_job_plan_file_url(job_plan_file, q: params[:q], page: params[:page])
								    } %>
                      			</td>
								<td><%= image_tag(job_plan_file.file.url(:row)) if job_plan_file.file.present? %></td>
								<td><%= job_plan_file.job_plan %></td>
								<td><span class="label <%= state_label_class(job_plan_file.workflow_state.to_sym) %>"><%=t "workflow.state.#{job_plan_file.workflow_state}" %></span></td>
	                    	</tr>
                    	<% end %>
                  	</tbody>
                </table>
                <%= will_paginate @job_plan_files %>
          	</div>
        </div>		
	</div>
</div>
<!-- /Widgets Row End Grid-->

<script>     
    $('#advanced-visibled-visibled').on('click' , function(){
        $('#quick-search').addClass('hide');
        $('#advanced-search').removeClass('hide');
		$("#q_job_plan_id_eq_chosen").width("100%");
    });    
    $('#advanced-hidden-visibled').on('click' , function(){
        $('#quick-search').removeClass('hide');
        $('#advanced-search').addClass('hide');
    });
</script>
