<!-- replace 'parent_object' with your parent object name -->
<% 
	f_index = "#{f.index}".to_s
	object_name = "parent_object_edpex_kku_items_attributes_#{f_index}".to_sym
	edpex_kku_select_id = "parent_object_edpex_kku_items_attributes_#{f_index}_edpex_kku_id".to_sym
%> 
<tr class="nested-fields">
    <td class="no-padding text-top">
        <%= f.input :no, wrapper: :nested_form %>
    </td>
    <td class="no-padding text-top">
        <%= f.input :name, wrapper: :nested_form %>
    </td>
    <td class="no-padding text-top">
        <%= f.input :target, as: :text_field_custom, wrapper: :nested_form %>
    </td>
    <td class="no-padding text-top">
        <%= f.input :year1, as: :text_field_custom, wrapper: :nested_form %>
    </td>
    <td class="no-padding text-top">
        <%= f.input :year2, as: :text_field_custom, wrapper: :nested_form %>
    </td>
    <td class="no-padding text-top">
        <%= f.input :year3, as: :text_field_custom, wrapper: :nested_form %>
    </td>
    <td class="no-padding text-top">
        <%= f.input :year4, as: :text_field_custom, wrapper: :nested_form %>
    </td>
    <td class="no-padding text-top">
        <%= f.input :year5, as: :text_field_custom, wrapper: :nested_form %>
    </td>
    <td class="no-padding text-top">
        <%= f.input :year, as: :text_field_custom, wrapper: :nested_form %>
    </td>
    <td class="no-padding text-top">
        <%= f.input :institute, wrapper: :nested_form %>
    </td>
    <% unless action_name == "show" %>
        <td class="no-padding text-top">
            <%= link_to_remove_association f, class: "btn btn-sm btn-danger" do %>
               <i class='fa fa-trash-o'></i>
            <% end %>
			<script type="text/javascript">$(document).ready( function() { jQuery(function($){ $("#parent_object_edpex_kku_items_attributes_<%= f.index %>_edpex_kku").chosen({width: "100%"}); }); });</script>
        </td>
    <% end %>
</tr>