<!-- replace 'parent_object' with your parent object name -->
<% 
	f_index = "#{f.index}".to_s
	object_name = "parent_object_e360_item_users_attributes_#{f_index}".to_sym
	e360_user_select_id = "parent_object_e360_item_users_attributes_#{f_index}_e360_user_id".to_sym
	e360_item_select_id = "parent_object_e360_item_users_attributes_#{f_index}_e360_item_id".to_sym
%> 
<tr class="nested-fields">
    <td style="vertical-align:top;">
        <%= f.association :e360_user, wrapper: :nested_form, collection: (E360User.all + (f.object.e360_user.nil? ? [] : [f.object.e360_user])).uniq.sort_by {|asso| asso.to_s}, value_method: :id, label_method: :to_s, input_html: {data: {placeholder: t(:choose)}} %>
        <%= render partial: "/e360_users/chosen_select", locals: {object_name: :e360_item_user, no_create: true, select_id: e360_user_select_id} %>
    </td>
    <td style="vertical-align:top;">
        <%= f.association :e360_item, wrapper: :nested_form, collection: (E360Item.all + (f.object.e360_item.nil? ? [] : [f.object.e360_item])).uniq.sort_by {|asso| asso.to_s}, value_method: :id, label_method: :to_s, input_html: {data: {placeholder: t(:choose)}} %>
        <%= render partial: "/e360_items/chosen_select", locals: {object_name: :e360_item_user, no_create: true, select_id: e360_item_select_id} %>
    </td>
    <td style="vertical-align:top;">
        <%= f.input :score, wrapper: :nested_form %>
    </td>
    <% unless action_name == "show" %>
        <td style="vertical-align:top;">
            <%= link_to_remove_association f, class: "btn btn-sm btn-danger" do %>
               <i class='fa fa-trash-o'></i>
            <% end %>
			<script type="text/javascript">$(document).ready( function() { jQuery(function($){ $("#parent_object_e360_item_users_attributes_<%= f.index %>_e360_user").chosen({width: "100%"}); }); });</script>
			<script type="text/javascript">$(document).ready( function() { jQuery(function($){ $("#parent_object_e360_item_users_attributes_<%= f.index %>_e360_item").chosen({width: "100%"}); }); });</script>
        </td>
    <% end %>
</tr>