<% 
	evaluation_user_final = @user.evaluation_user_final(@current_evaluation) 
	is_director_confirm = evaluation_user_final && evaluation_user_final.director_at
%>
<div class="page-header">
	<h3 class="pull-left">
		ยืนยันข้อตกลง รอบการประเมิน ตั้งแต่วันที่ <%= @current_evaluation.start_date.to_s_thai %> ถึง <%= @current_evaluation.end_date.to_s_thai %>
		<div class="h4">
			<%= @current_evaluation.evaluation_employee_types.collect {|evet| evet.employee_type.to_s}.join(", ") %>
		</div>
		<div class="h4">
			เปิดให้กรอกข้อตกลง ตั้งแต่วันที่ <%= @current_evaluation.pd_start_date.to_s_thai %> ถึง <%= @current_evaluation.pd_end_date.to_s_thai %>
		</div>
	</h3>
	<div class="clearfix"></div>
	<%= link_to director_confirms_url(@current_evaluation), {class: "btn btn-default"} do %>
		<i class="fa fa-arrow-left"></i>
		<%= t(:back_to_list) %>
	<% end %>
	<%= link_to print_pds_url(@user), {target: "_blank", class: "btn btn-info pull-right"} do %>
		<i class="fa fa-print"></i>
		Print
	<% end %>
</div>
<div class="row">
	<div class="col-md-12 bootstrap-grid">
		<div class="panel">
			<div class="panel-body">
				<table class="table">
			      	<tbody>
			      		<tr>
			      			<td>
								<div class="pull-left" style="width:120px; font-weight:bold;">ชื่อ-สกุล: </div>
								<div class="pull-left"><%= @user.prefix_firstname_lastname %></div>
								<div class="clearfix"></div>
								
								<div class="pull-left" style="width:120px; font-weight:bold;"><%= User.human_attribute_name(:employee_type) %>: </div>
								<div class="pull-left"><%= @user.employee_type %></div>
								<div class="clearfix"></div>
								
								<div class="pull-left" style="width:120px; font-weight:bold;"><%= User.human_attribute_name(:position) %>: </div>
								<div class="pull-left"><%= @user.position %></div>
								<div class="clearfix"></div>
								
								<div class="pull-left" style="width:120px; font-weight:bold;"><%= Section.model_name.human %>: </div>
								<div class="pull-left"><%= @user.sections.collect {|s| s.to_s}.join(', ') %></div>
								<div class="clearfix"></div>
								
			      			</td>
			      		</tr>
		      		</tbody>
		  		</table>
				<ul class="nav nav-tabs">
					<li class="active">
						<a data-toggle="tab" href="#<%= JobRoutine.model_name %>-block">
							<%= JobRoutine.model_name.human %>
							<span id="<%= JobRoutine.model_name %>-warning" class="text-red">
								<% if @user.job_routines.where(["evaluation_id = ?", @current_evaluation.id]).size == 0 %>
									<i class="fa fa-warning" title="ยังไม่มีข้อมูล <%= t(:pd) %> <%= JobRoutine.model_name.human %> <%= Evaluation.model_name.human %> : <%= @current_evaluation %>"></i>
								<% end %>
							</span>
						</a>
					</li>
					<li>
						<a data-toggle="tab" href="#<%= JobVice.model_name %>-block">
							<%= JobVice.model_name.human %>
							<span id="<%= JobVice.model_name %>-warning" class="text-red">
								<% if @user.job_vices.where(["evaluation_id = ?", @current_evaluation.id]).size == 0 %>
									<i class="fa fa-warning" title="ยังไม่มีข้อมูล <%= t(:pd) %> <%= JobVice.model_name.human %> <%= Evaluation.model_name.human %> : <%= @current_evaluation %>"></i>
								<% end %>
							</span>
						</a>
					</li>
					<li>
						<a data-toggle="tab" href="#<%= JobPlan.model_name %>-block">
							<%= JobPlan.model_name.human %>
							<span id="<%= JobPlan.model_name %>-warning" class="text-red">
								<% if @user.job_plans.where(["evaluation_id = ?", @current_evaluation.id]).size == 0 %>
									<i class="fa fa-warning" title="ยังไม่มีข้อมูล <%= t(:pd) %> <%= JobPlan.model_name.human %> <%= Evaluation.model_name.human %> : <%= @current_evaluation %>"></i>
								<% end %>
							</span>
						</a>
					</li>
					<li>
						<a data-toggle="tab" href="#<%= JobDevelopment.model_name %>-block">
							<%= JobDevelopment.model_name.human %>
							<span id="<%= JobDevelopment.model_name %>-warning" class="text-red">
								<% if @user.job_developments.where(["evaluation_id = ?", @current_evaluation.id]).size == 0 %>
									<i class="fa fa-warning" title="ยังไม่มีข้อมูล <%= t(:pd) %> <%= JobDevelopment.model_name.human %> <%= Evaluation.model_name.human %> : <%= @current_evaluation %>"></i>
								<% end %>
							</span>
						</a>
					</li>
					<li class="hide"><a data-toggle="tab" href="#help-block">วิธีกรอกข้อมูล</a></li>
				</ul>
				<div id="tab-blocks" class="tab-content">
					<div id="<%= JobPlan.model_name %>-block" class="tab-pane">
						<%= render partial: "list_job_plan", locals: {is_director_confirm: is_director_confirm} %>
					</div>
					<div id="<%= JobRoutine.model_name %>-block" class="tab-pane active">
						<%= render partial: "list_job_routine", locals: {is_director_confirm: is_director_confirm} %>
					</div>
					<div id="<%= JobVice.model_name %>-block" class="tab-pane">
						<%= render partial: "list_job_vice", locals: {is_director_confirm: is_director_confirm} %>
					</div>
					<div id="<%= JobDevelopment.model_name %>-block" class="tab-pane">
						<%= render partial: "list_job_development", locals: {is_director_confirm: is_director_confirm} %>
					</div>
					<div id="help-block" class="tab-pane">
						<div class="well">
							<b>วิธีเพิ่มรายการ PD :</b><br/>
							1. เลือกงานที่ต้องการ<br/>
							2. ใส่จำนวนชิ้นงานคาดหวัง<br/>
							3. คลิกปุ่ม <span class="btn btn-xs btn-info"><i class="fa fa-plus"></i></span> เพื่อเพิ่มลงในรายการ<br/>
							<br/><br/>
							<b>วิธีแก้ไขจำนวนชิ้นงานคาดหวัง PD :</b><br/>
							1. พิมพ์จำนวนชิ้นงานคาดหวัง ท้ายรายการ PD ที่ต้องการแก้ไข<br/>
							2. ระบบจะบันทึกอัตโนมัติ เมื่อพิมพ์เสร็จ<br/>
							<br/><br/>
							<b>วิธีลบรายการ PD :</b><br/>
							1. คลิกปุ่ม <span class="btn btn-xs btn-danger"><i class="fa fa-trash-o"></i></span> ท้ายรายการ PD ที่ต้องการลบ<br/>
							2. คลิกปุ่ม "OK" หรือ "ตกลง" เพื่อยืนยันการลบ<br/>
						</div>
					</div>
				</div>
				<div class="clearfix margin-bottom-20"></div>
				<% if is_director_confirm %>
				
				<% else %>
					<%= link_to confirm_director_confirms_url(@current_evaluation, @user), {method: :post, class: "btn btn-success btn-lg col-xs-12", data: {confirm: "ยืนยันข้อตกลง #{@user.prefix_firstname_lastname} ? "}} do %>
						ยืนยันข้อตกลง
					<% end %>
				<% end %>
			</div>
		</div>
	</div>
</div>


<script type="text/javascript">
	 jQuery(function($) {
	 	$('.nav-tabs li a').click(function(event){

			$('#new_job_routine_name').height('90px');
			$('#new_job_vice_name').height('90px');
			$('#new_job_plan_name').height('90px');
			$('#new_job_development_name').height('90px');

	 		// $('.chosen-container').width('100%');
	 		
	 		block_width = $('#tab-blocks').width();
	 		
	 		$('#new_job_plan_job_template_group_id_chosen').width('200px');
	 		$('#new_job_routine_job_template_group_id_chosen').width('200px');
	 		$('#new_job_vice_job_template_group_id_chosen').width('200px');
	 		$('#new_job_development_job_template_group_id_chosen').width('200px');
	 		
	 		$('#new_job_plan_job_template_id_chosen').width(block_width - 200 - 250 - 50 + 'px');
	 		$('#new_job_routine_job_template_id_chosen').width(block_width - 200 - 250 - 50 + 'px');
	 		$('#new_job_vice_job_template_id_chosen').width(block_width - 200 - 250 - 50 + 'px');
	 		$('#new_job_development_job_template_id_chosen').width(block_width - 200 - 250 - 50 + 'px');
        });
    });
</script>

<%= render partial: "/documentaries/leaves" if false %>