<% xform ||= false %>
<% @form_defaults = {input_html: {autocomplete: :off}} %>
<% @form_defaults[:disabled] = (action_name == "show") || (@evaluation_user.respond_to?(:current_state) && @evaluation_user.current_state.meta[:disabled]) %>
<div data-widget-editbutton="false" id="power-forms-grid" class="powerwidget cold-grey" role="widget">
	<div class="inner-spacer" role="content">

		<%= simple_form_for(@evaluation_user, html: {class: 'form-horizontal'}, defaults: @form_defaults) do |f| %>
		
		    <%= hidden_field_tag(:xform, xform) if xform %>
		
			<% unless xform %>
		    	<% params[:q].each do |k,v| %>
			        <%= hidden_field_tag "q[#{k}]", v %>
			    <% end unless params[:q].blank? %>
			    <%= hidden_field_tag(:page, params[:page]) unless params[:page].blank? %>
			    
		        <%= render partial: "/form_actions_top", locals: {
		            resource_class: EvaluationUser, resource: @evaluation_user, f: f,
		            resources_url: evaluation_users_path(q: params[:q], page: params[:page]),
		            resource_url: @evaluation_user.new_record? ? nil : evaluation_user_path(@evaluation_user, q: params[:q], page: params[:page]),
		            edit_resource_url: @evaluation_user.new_record? ? nil : edit_evaluation_user_path(@evaluation_user, q: params[:q], page: params[:page])
	        	} unless params[:modal] %>
        	<% else %>
		        <%= hidden_field_tag :section_id, params[:section_id] %>
		        <%= hidden_field_tag :team_id, params[:team_id] %>
		        <%= hidden_field_tag :faculty_id, params[:faculty_id] %>
        	<% end %>

		  	<fieldset>

				<% unless xform %>
			        <%= f.association :user, collection: (User.all + (f.object.user.nil? ? [] : [f.object.user])).uniq.sort_by {|asso| asso.to_s}, value_method: :id, label_method: :to_s, input_html: {data: {placeholder: t(:choose)}} %>
			        <%= render partial: "/admin/users/chosen_select", locals: {object_name: :evaluation_user, no_create: true} %>
			        <%= f.association :evaluation, collection: (Evaluation.all + (f.object.evaluation.nil? ? [] : [f.object.evaluation])).uniq.sort_by {|asso| asso.to_s}, value_method: :id, label_method: :to_s, input_html: {data: {placeholder: t(:choose)}} %>
			        <%= render partial: "/settings/evaluations/chosen_select", locals: {object_name: :evaluation_user, no_create: true} %>
			        <%= f.association :committee, collection: (User.all + (f.object.committee.nil? ? [] : [f.object.committee])).uniq.sort_by {|asso| asso.to_s}, value_method: :id, label_method: :to_s, input_html: {data: {placeholder: t(:choose)}} %>
			        <%= render partial: "/admin/users/chosen_select", locals: {object_name: :evaluation_user, no_create: true, select_id: :evaluation_user_committee_id} %>
		        	<%= f.input :role %>
	        	<% end %>
				<%= f.input :comment1, input_html: {disabled: !@current_evaluation.is_evaluation_range} %>
				<%= f.input :comment2, input_html: {disabled: !@current_evaluation.is_evaluation_range} %>
				<% unless xform %>
		        	<%= f.input :position_capacity_total %>
		        	<%= f.input :employee_type_task_total %>
	        	<% end %>
	            
		  		<div class="col-md-6 col-md-offset-4">
		  			<% if xform %>
		                <%= f.button :button, value: :save_change, class: "btn #{event_btn_class(:save_change)} margin-right-10", confirm: %Q{#{t(:confirm)} #{t("workflow.event.#{:save_change}")}?} do %>
		                    <%= event_icon_tag(:save_change) %> บันทึกความคิดเห็น
		                <% end %>
	                <% else %>
				        <%= render partial: "/form_actions_bottom", locals: {
				            resource_class: EvaluationUser, resource: @evaluation_user, f: f,
				            resources_url: evaluation_users_path(q: params[:q], page: params[:page]),
				            resource_url: @evaluation_user.new_record? ? nil : evaluation_user_path(@evaluation_user, q: params[:q], page: params[:page]),
				            edit_resource_url: @evaluation_user.new_record? ? nil : edit_evaluation_user_path(@evaluation_user, q: params[:q], page: params[:page])
				        } %>
			        <% end %>
		        </div>
		  	</fieldset>
		<% end %>
  	</div>
</div>		
