<%
	year1 = EdpexKku.order("year").first ? EdpexKku.order("year").first.year : Date.current.year
	year2 = EdpexKku.order("year DESC").first ? EdpexKku.order("year").first.year : Date.current.year
    
    if params[:filters]
      @filters = Struct.new(:year).new(params[:filters][:year].to_i)
    else
      @filters = Struct.new(:year).new(year2)
    end
	
	@edpex_kkus = EdpexKku.order(:created_at).where(["year = ?", @filters.year])
	@edpex_kku_groups = @edpex_kkus.collect {|edp| edp.edpex_kku_group}.uniq.sort_by {|edg| [edg.no, edg.name]}
%>

<div class="row">
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <%= form_tag(edpex_kku_reports_url, {id: 'quick-search', class: "form-horizontal pull-right no-padding", method: :get}) do %>
        	<span>ปีการศึกษา : </span>
			<%= select :filters, :year, (year1..year2).collect {|y| [y + 543, y]}.reverse, {}, {class: "form-control chosen-select", style: "width:100px;"} %>
			<%= submit_tag t(:report), {class: "btn btn-primary"} %>
        <% end %>
        <div class="clearfix margin-bottom-20"></div>
        <h4 class="text-center">EdPEx KKU ปีการศึกษา <%= @filters.year + 543 %></h4>
        <% @edpex_kku_groups.each do |edpex_kku_group| %>
        	<h5><%= edpex_kku_group.to_s %></h5>
	        <% @edpex_kkus.select {|edp| edp.edpex_kku_group_id == edpex_kku_group.id}.sort_by {|edp| [edp.created_at]}.each do |edpex_kku| %>
        		<h5><%= edpex_kku.to_s %></h5>
        		<h5><%= edpex_kku.description %></h5>
		        <table class="table table-bordered">
		        	<thead>
		        		<tr>
		        			<th style="width:50px;"><%= EdpexKkuItem.human_attribute_name(:no) %></th>
		        			<th><%= EdpexKkuItem.human_attribute_name(:name) %></th>
		        			<th class="text-center" style="width:80px;"><%= EdpexKkuItem.human_attribute_name(:target) %></th>
		        			<th class="text-center" style="width:80px;"><%= edpex_kku.year + 543 - 5 %></th>
		        			<th class="text-center" style="width:80px;"><%= edpex_kku.year + 543 - 4 %></th>
		        			<th class="text-center" style="width:80px;"><%= edpex_kku.year + 543 - 3 %></th>
		        			<th class="text-center" style="width:80px;"><%= edpex_kku.year + 543 - 2 %></th>
		        			<th class="text-center" style="width:80px;"><%= edpex_kku.year + 543 - 1 %></th>
		        			<th class="text-center" style="width:80px;"><%= edpex_kku.year + 543 %></th>
		        			<th nowrap="" style="width:150px;"><%= EdpexKkuItem.human_attribute_name(:institute) %></th>
		        		</tr>
		        	</thead>
		        	<tbody>
				        <% edpex_kku.edpex_kku_items.each do |edpex_kku_item| %>
				        	<tr>
					        	<td class="text-top text-center"><%= edpex_kku_item.no %></td>
					        	<td class="text-top"><%= edpex_kku_item.name %></td>
					        	<td class="text-top text-center"><%= edpex_kku_item.target ? edpex_kku_item.target.to_s_decimal_comma : edpex_kku_item.target %></td>
					        	<td class="text-top text-center"><%= edpex_kku_item.year1 ? edpex_kku_item.year1.to_s_decimal_comma : edpex_kku_item.year1 %></td>
					        	<td class="text-top text-center"><%= edpex_kku_item.year2 ? edpex_kku_item.year2.to_s_decimal_comma : edpex_kku_item.year2 %></td>
					        	<td class="text-top text-center"><%= edpex_kku_item.year3 ? edpex_kku_item.year3.to_s_decimal_comma : edpex_kku_item.year3 %></td>
					        	<td class="text-top text-center"><%= edpex_kku_item.year4 ? edpex_kku_item.year4.to_s_decimal_comma : edpex_kku_item.year4 %></td>
					        	<td class="text-top text-center"><%= edpex_kku_item.year5 ? edpex_kku_item.year5.to_s_decimal_comma : edpex_kku_item.year5 %></td>
					        	<td class="text-top text-center"><%= edpex_kku_item.year ? edpex_kku_item.year.to_s_decimal_comma : edpex_kku_item.year %></td>
					        	<td class="text-top"><%= edpex_kku_item.institute %></td>
				        	</tr>
				        <% end %>
		        	</tbody>
	    		</table>
			<% end %>
    	<% end %>
  	</div>
    <div class="clearfix margin-bottom-20"></div>
</div>
